{% extends "comunicacion/basecomunicacion.html"%}
{%block titulo%}Entrar a plataforma{%endblock%}
{%block descriptitulo%}Favor introduzca su información de usuario registrado.{%endblock%}
{% block contenido %}

<div class="container">
    <div class="row">
    	<div class="col-md-4 col-lg-4">
    		<div class="panel panel-success">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">INICIO DE SESIÓN</h3>
			 	</div>
			 	<form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
				{%if form.errors%}
				<div class="alert">
					{{form.non_field_errors}}
				</div>
				{%endif%}
		
			  	<div class="panel-body login-panel">
			    	<form accept-charset="UTF-8" role="form">
                    <fieldset>
			    	  	<div class="form-group">
			    		    {{ form.username.label_tag }}
							{{ form.username }}
			    		</div>
			    		<div class="form-group">
			    			{{ form.password.label_tag }}
							{{ form.password }}
			    		</div>

			    		<input type="submit" class="btn btn-info"value="Entrar">
						<input type="hidden" name="next" value="{{ next }}" />
			    	</fieldset>
			      	</form>
					</form>
			    </div>
			</div>
		</div>
		<div class="col-md-8 col-lg-8">
			
				<div class="alert alert-info">
					<p>Esta es una plataforma privada de aliados y asociados a AMARC </p>

					<p>Si usted tiene algún problema para entrar a su cuenta o desea solicitar una nueva cuenta para entrar a la plataforma, le sugerimos escribir a los siguientes contactos:</p>

					<p>Carlos Rocha
					<b>carlos@simas.org.ni</b></p>


				</div>
			
		</div>
	</div>
</div>


		


{% endblock %}
