{% extends "baseadmin.html" %}
{% load thumbnail %}
{%block contenido%}


<div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <div class="row gutter"><!-- row -->

                        
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">
                                    BIENVENIDO 
                                    <b style="text-transform:uppercase;">
                                        {{request.user.first_name}} {{request.user.last_name}}
                                    </b>
                                </h1><!-- category title -->

                            
                            </div>
                        
                        </div><!-- row end -->
                        <br>

                        <div class="row user-profile"><!-- row -->

                            <div class="panel panel-success col-xs-12 col-sm-6 col-md-6">

                              <div class="panel-heading" style="text-transform:uppercase;">
                                  Perfil de Usuario
                              </div>

                              <div class="panel-body">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil-user">
                                    <div class="col-sm-6 col-md-6 avatar-user">
                        
                                        {% if user.userprofile.avatar %}
                                            {% thumbnail user.userprofile.avatar "220x220" crop="center" as im %}
                                            <img class="img-thumbnail" src="/uploads/{{im}}">        
                                            {% endthumbnail %}
                                                            
                                            {% else %}
                                            <img class="img-thumbnail" src="http://dummyimage.com/220x220/888/fff.jpg&text=No+imagen">
                                        {% endif %}

                                    </div>

                                    <div class="col-sm-6 col-md-6 data-user">
                                        <h4 style="text-transform:uppercase;">{{user.username}}</h4>
                                        <small><cite >
                                        {{user.userprofile.contraparte.municipio.nombre}},
                                        {{user.userprofile.contraparte.pais.nombre}} 
                                        <span class="glyphicon glyphicon-map-marker">
                                        </span></cite></small>
                                        
                                            <span class="fa fa-envelope"></span>
                                            {{user.email}}
                                            <br />
                                            <span class="fa fa-mobile fa-lg"></span> aqui va el telefono
                                            <br />
                                            <span class="fa fa-suitcase"></span>
                                            {{user.userprofile.contraparte.nombre}}
                                            <br>
                                            <span class="fa fa-skype"></span>
                                            Aqui va skype
                                            
                                        <!-- button edicion-->
                                            <a href="/contrapartes/usuario/editar/" class="btn btn-primary fa fa-pencil-square-o" role="button"> Editar Perfil</a>

                                    </div>

                                </div>
                                
                              </div>
                            </div>


                            
                                <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Estadísticas del Usuario
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-file-text-o"> 14</span>
                                            Notas Redactadas
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-comment-o"> 14</span>
                                            Comentarios a Notas
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-comments"> 14</span>
                                            Foros Creados
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-pencil-square-o"> 14</span>
                                            Aportes a Foros
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-calendar"> 14</span>
                                            Cración de Eventos
                                        </a>
                                    </div>
                                </div>
                            
                            </div>



                            <br>
                            <br>
                            <div class="row gutter"><!-- row -->

                            
                                <div class="col-lg-12 col-md-12">
                        
                                    <h1 class="page-title">
                                        CONTRAPARTE 
                                        <b style="text-transform:uppercase;">
                                            {{request.user.userprofile.contraparte.nombre}}
                                        </b>
                                    </h1><!-- category title -->

                                
                                </div>
                            
                            </div><!-- row end -->
                            <br>


                            <div class="row">
                                
                            <div class="panel panel-success col-xs-12 col-sm-6 col-md-6">

                              <div class="panel-heading" style="text-transform:uppercase;">
                                  Perfil de Contraparte
                              </div>

                              <div class="panel-body">

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 perfil-user">
                                    <div class="col-sm-6 col-md-6 avatar-user">
                        
                                        {% if user.userprofile.avatar %}
                                            {% thumbnail user.userprofile.contraparte.logo "220x220" crop="center" as im %}
                                            <img class="img-thumbnail" src="/uploads/{{im}}">        
                                            {% endthumbnail %}
                                                            
                                            {% else %}
                                            <img class="img-thumbnail" src="http://dummyimage.com/220x220/888/fff.jpg&text=No+imagen">
                                        {% endif %}

                                    </div>

                                    <div class="col-sm-6 col-md-6 data-user">
                                        <h4 style="text-transform:uppercase;">
                                            {{user.userprofile.contraparte.nombre}}
                                        </h4>
                                        <small><cite >
                                        {{user.userprofile.contraparte.municipio.nombre}},
                                        {{user.userprofile.contraparte.pais.nombre}} 
                                        <span class="glyphicon glyphicon-map-marker">
                                        </span></cite></small>
                                        
                                        <span class="fa fa-globe"></span>
                                            {{user.userprofile.contraparte.sitio_web}}
                                        <br />
                                        <span class="fa fa-phone fa-lg"></span> 
                                        {{user.userprofile.contraparte.telefono}}
                                        <br />
                                        <span class="fa fa-calendar"></span>
                                        {{user.userprofile.contraparte.fundacion}}
                                        <br>
                                        <span class="fa fa-users"></span>
                                            trifio o nicanorte
                                            
                                        <!-- button edicion-->
                                        <a href="/contrapartes/editar/{{user.userprofile.contraparte.id}}" class="btn btn-primary fa fa-pencil-square-o" role="button"> Editar Perfil</a>

                                    </div>

                                </div>
                                
                              </div>
                            </div>


                            <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                                    <div class="list-group">
                                        <a href="#" class="list-group-item active">
                                            Estadísticas del Contraparte
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-file-text-o"> 14</span>
                                            Notas Redactadas
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-comment-o"> 14</span>
                                            Comentarios a Notas
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-comments"> 14</span>
                                            Foros Creados
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-pencil-square-o"> 14</span>
                                            Aportes a Foros
                                        </a>
                                        <a href="#" class="list-group-item">
                                            <span class="badge fa fa-calendar"> 14</span>
                                            Cración de Eventos
                                        </a>
                                    </div>
                                </div>

  

                        </div><!-- row end -->

                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end --> 



{%endblock%}
