{% extends "baseadmin.html" %}
{% load thumbnail %}
{%block contenido%}


<div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <div class="row gutter"><!-- row -->

                        
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">
                                    BIENVENIDO 
                                    <b style="text-transform:uppercase;">
                                        {{request.user.first_name}} {{request.user.last_name}}
                                    </b>
                                </h1><!-- category title -->

                            
                            </div>
                        
                        </div><!-- row end -->
                        <br>

                        <div class="row gutter k-equal-height"><!-- row -->

                            <div class="panel panel-success col-xs-12 col-sm-6 col-md-6">
                              <div class="panel-heading">
                                  Perfil de Usuario
                              </div>
                              <div class="panel-body">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="col-sm-6 col-md-6">
                        
                                        {% if user.userprofile.avatar %}
                                            {% thumbnail user.userprofile.avatar "230x230" crop="center" as im %}
                                            <img class="img-thumbnail" src="/uploads/{{im}}">        
                                            {% endthumbnail %}
                                                            
                                            {% else %}
                                            <img class="img-thumbnail" src="http://dummyimage.com/200x200/888/fff.jpg&text=No+imagen">
                                        {% endif %}

                                    </div>

                                    <div class="col-sm-6 col-md-6">
                                        <h4 style="text-transform:uppercase;">{{user.username}}</h4>
                                        <small><cite >
                                        {{user.userprofile.contraparte.municipio.nombre}},
                                        {{user.userprofile.contraparte.pais.nombre}} 
                                        <i class="glyphicon glyphicon-map-marker">
                                        </i></cite></small>
                                        
                                            <i class="fa fa-envelope"></i>
                                            {{user.email}}
                                            <br />
                                            <i class="fa fa-mobile fa-lg"></i> aqui va el telefono
                                            <br />
                                            <i class="fa fa-suitcase"></i>
                                            {{user.userprofile.contraparte.nombre}}
                                            <br>
                                            <i class="fa fa-skype"></i>
                                            Aqui va skype
                                            
                                        <!-- button edicion-->
                                            <a href="/contrapartes/editar/{{user.userprofile.id}}" class="btn btn-primary fa fa-pencil-square-o" role="button"> Editar Perfil</a>

                                    </div>

                                </div>
                                
                              </div>
                            </div>



                <div class="col-xs-12 col-sm-6 col-md-6 thumbnail well">
           
                
                    <div class="col-sm-6 col-md-6">
                        
                        {% if user.userprofile.avatar %}
                            {% thumbnail user.userprofile.contraparte.logo "230x230" crop="center" as im %}
                            <img class="img-thumbnail" src="/uploads/{{im}}">        
                            {% endthumbnail %}
                                            
                            {% else %}
                            <img class="img-thumbnail" src="http://dummyimage.com/200x200/888/fff.jpg&text=No+imagen">
                        {% endif %}
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <h4 style="text-transform:uppercase;">
                            {{user.userprofile.contraparte.nombre}}
                        </h4>
                        <small><cite >
                        {{user.userprofile.contraparte.municipio.nombre}},
                        {{user.userprofile.contraparte.pais.nombre}} 
                        <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        
                            <i class="fa fa-envelope"></i>
                            {{user.email}}
                            <br />
                            <i class="fa fa-mobile fa-lg"></i> aqui va el telefono
                            <br />
                            <i class="fa fa-suitcase"></i>
                            {{user.userprofile.contraparte.nombre}}
                            <br>
                            <i class="fa fa-skype"></i>
                            Aqui va skype
                            
                        <!-- button edicion-->
                            <a href="/contrapartes/editar/{{user.userprofile.contraparte.id}}" class="btn btn-primary fa fa-pencil-square-o" role="button"> Editar Perfil</a>


                    </div>
               
        
        </div>


                    

  

                        </div><!-- row end -->

                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end --> 



{%endblock%}
