{% extends "baseadmin.html" %}
{% load thumbnail %}
{%block contenido%}


<div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <div class="row gutter"><!-- row -->

                        
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">
                                    BIENVENIDO 
                                    <b style="text-transform:uppercase;">
                                        {{request.user.first_name}} {{request.user.last_name}}
                                    </b>
                                </h1><!-- category title -->

                            
                            </div>
                        
                        </div><!-- row end -->
                        <br>

                        <div class="row gutter k-equal-height"><!-- row -->


        <div class="col-xs-12 col-sm-6 col-md-6 thumbnail">
           
                
                    <div class="col-sm-6 col-md-6">
                        
                        {% if user.userprofile.avatar %}
                            {% thumbnail user.userprofile.avatar "230x230" crop="center" as im %}
                            <img class="img-thumbnail" src="/uploads/{{im}}">        
                            {% endthumbnail %}
                                            
                            {% else %}
                            <img class="img-thumbnail" src="http://dummyimage.com/200x200/888/fff.jpg&text=No+imagen">
                        {% endif %}
                    </div>

                    <div class="col-sm-6 col-md-6">
                        <h4 style="text-transform:uppercase;">{{user.username}}</h4>
                        <small><cite >
                        {{user.userprofile.contraparte.municipio.nombre}},
                        {{user.userprofile.contraparte.pais.nombre}} 
                        <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        
                            <i class="fa fa-envelope"></i>
                            {{user.email}}
                            <br />
                            <i class="fa fa-mobile fa-lg"></i> aqui va el telefono
                            <br />
                            <i class="fa fa-suitcase"></i>
                            {{user.userprofile.contraparte.nombre}}
                            <br>
                            <i class="fa fa-skype"></i>
                            Aqui va skype
                            
                        <!-- button edicion-->
                            <a href="#" class="btn btn-primary fa fa-pencil-square-o" role="button"> Editar Perfil</a>


                    </div>
               
        
        </div>


                        
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                            <div class="thumbnail">
                                <div class="col-sm-6 col-md-4" >
                                    <div class="avatar-user">
                                        
                                    
                                    </div>

                                    
                                </div>
                                <div class="caption">
                                    <h3></h3>
                                    <p>{{user.email}}</p>
                                    
                                </div>
                            </div>
                        </div>



                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="well">
                                <div><img src="{{user.userprofile.contraparte.logo.url_70x60}}" /> </div>
                                <div>{{user.userprofile.contraparte.nombre}}</div>
                                <div>{{user.userprofile.contraparte.pais.nombre}}</div>
                                <a href="/contrapartes/editar/{{user.userprofile.contraparte.id}}" class="btn">Editar</a>
                            </div>
                            
                        </div>

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="well">
                                <div><img src="/static/temporal/img/imagenpdf.png" height="70" width="60"/> </div>
                                <h5>Manual de usuario</h5>
                                <a href="/static/temporal/manual.pdf" class="btn">Descargar</a>
                            </div>
                            
                        </div>

  

                        </div><!-- row end -->

                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end --> 



{%endblock%}
