{% extends "baseadmin.html" %}

{% block extra_js %}
<link href="/static/comunicacion/css/jquery.autocomplete.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/comunicacion/js/autocompletejs/jquery.autocomplete.js"></script>
<script type="text/javascript">
        $(function() {
                $elem = $('#actionbuttons');
                
                // detectar el scroll de la ventana y fixear el elemento
            $(window).bind('scroll', function() {
                var windowTop = $(this).scrollTop();
                if(windowTop>=240){
                        $elem.addClass('fixed');
                }else{
                        // volver elemento a su lugar
                        $elem.removeClass('fixed');
                }
            }); 

            //para definir el alto de las tabs igual a su contenido
            var alto = $('.tab-content').height();
            $('.nav-tab-media').height(alto);
        });
</script>
{% endblock %}

{% block contenido %}



<div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <div class="row gutter"><!-- row -->

                        
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">Crear Actividad</h1><!-- category title -->
                            
                            </div>
                        
                        </div><!-- row end -->

                        <div class="row gutter k-equal-height"><!-- row -->
                        <br>
                            <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
                        
                                {{ form.media }}
                                <div class="col-lg-12 col-md-12">
                                    <div class="">
                                        {%if form.errors%}
                                                <div class="alert alert-error"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
                                        {%endif%}
                                        <div class="formulario-agenda">
                                            {{form.as_p}}
                                        </div>

                                          

                                        <div role="tabpanel">

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">

                                                <li role="presentation" class="active">
                                                    <a href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">
                                                    <i class="fa fa-file-pdf-o"></i> Documentos</a>
                                                </li>

                                            </ul>

                                          <!-- Tab panes -->
                                          <div class="tab-content">

                                            <div role="tabpanel" class="tab-pane active" id="documentos">
                                            <div class="media-form-inline">
                                                {{ form3.management_form }}
                                                    {% for docu in form1 %}
                                                       
                                                            {{docu.label_tag}}
                                                            {{docu}}
                                                            <hr>
                                                       
                                                {% endfor %}

                                            </div>
                                            </div>


                                                
                                          </div>

                                        </div>

                                        </div>


                                        
                                    </div>
                                    <div class="">
                                        <div class="alert "><i class="icon-info-sign"></i>
                                            Formulario para la creación de actividades
                                        </div>
                                        <div class="" id="">
                                            <input class="btn btn-large btn-info " style="" type="submit" id="submitfoo" value="Guardar" />
                                            <a href="/agendas/calendario" class="btn btn-large">Cerrar</a>
                                        </div>
                                    </div>
                                    </form>

                        
                            

                        </div><!-- row end -->
        
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end -->


{% endblock %}