{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura de sombra punto 1'
        },
        subtitle: {
            text: '(% cobertura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% cobertura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y}'
                }
            }
        },
        series: [{
            name: 'Punto 1',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto1 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo2').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura de sombra punto 2'
        },
        subtitle: {
            text: '(% cobertura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% cobertura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y}'
                }
            }
        },
        series: [{
            name: 'Punto 2',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto2 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo3').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura de sombra punto 3'
        },
        subtitle: {
            text: '(% cobertura estimación visual)'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: '% cobertura'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'Punto 3',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto3 %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    // Create the chart
    $('#grafo4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de cobertura'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
            {% for k,v in od.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
            {% endfor %}
            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<p class="center-block">Cobertura de sombra</p>

<div class="row">
 <div class="col-md-6">
   <div id="grafo1"></div>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-6">
   <div id="grafo3"></div>
 </div>
 <div class="col-md-6">
   <div id="grafo4"></div>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2"></div>
 <div class="col-md-8">
   <p>
     <h5>Numero de parcela: {{numero_parcelas}}</h5>
   </p>
  <p>
    <h5>Promedio de cobertura total: {{promedio2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Mediana de cobertura total: {{mediana2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Desviación típica de cobertura total: {{desviacion2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Minimo de cobertura total: {{minimo2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Maximo de cobertura total: {{maximo2|floatformat:2}}</h5>
  </p>

 </div>
 <div class="col-md-2"></div>
</div>

{% endblock contenido %}
