{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Densidad de arboles'
        },
        subtitle: {
            text: 'Número de arboles / ha'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Densidad'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'Densidades',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in total_puntos %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de densidad de sombra'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k, v in grafo_densidad.items %}
              {
                  name: '{{k}}',
                  y: {{v}},
              },
              {% endfor %}

            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-ind">
                    <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"id="headingOne">
                        <h4 class="panel-title">
                            Sombra
                        </h4>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body menu-">
                          {% include "guiascacao/sombra/menu_collapse.html" %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Sombra</li>
                            <li class="active">Densidad de arboles de sombra</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row datos">
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Número de parcelas
                            </div>
                            <div class="number-data">
                                {{numero_parcelas}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Promedio de riqueza total
                            </div>
                            <div class="number-data">
                                {{promedio2|floatformat:2}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Mediana de riqueza total
                            </div>
                            <div class="number-data">
                                {{mediana2|floatformat:2}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Desviación típica de riqueza total
                            </div>
                            <div class="number-data">
                                {{desviacion2|floatformat:2}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Mínimo
                            </div>
                            <div class="number-data">
                                {{minimo|floatformat:2}}
                            </div>
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                            <div class="title-data">
                                Máximo
                            </div>
                            <div class="number-data">
                                {{maximo|floatformat:2}}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                        <div class="col-md-12">
                            <div id="grafo2"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

{% endblock contenido %}
