{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Dominancia de especies'
        },
        subtitle: {
            text: '% de frecuencia de especies'
        },
        xAxis: {
            type: 'category',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '% de conteo total'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'Porcentaje: <b>{point.y:.1f} %</b>'
        },
        series: [{
            name: 'Population',
            data: [
              {% for v in dominancia_todo|slice:":15"%}

                  ['{{v.0}}', {{v.1|calcular_frecuencia:SUMA_TOTAL_ESPECIE}}],

              {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: -90,
                color: '#000000',
                align: 'right',
                format: '{point.y:.1f} %', // one decimal
                y: -40, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});

</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-ind">
                    <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"id="headingOne">
                        <h4 class="panel-title">
                            Sombra
                        </h4>
                    </a>
                    <div id="collapseOne" class="panel-collapse collapse.in" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body menu-">
                            {% include "guiascacao/sombra/menu_collapse.html" %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Sombra</li>
                            <li class="active">Dominancia especies sombra</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                        <p>TOTAL DE ESPECIES: {{CUANTO_ESPECIES}}  *se excluyo banano y plátano en todo el sistema {{SUMA_TOTAL_ESPECIE}}
                        </p>
                        <div class="col-md-12">
                            <table class="table table-striped">
                              <thead>
                                <tr>
                                  <th>Especies</th>
                                  <th># total</th>
                                  <th>%</th>
                                </tr>
                              </thead>
                              <tbody>
                                {% for v in dominancia_todo %}
                                <tr>
                                  <th scope=row>{{v.0}}</th>
                                  <td>{{v.1}}</td>
                                  <td>{{v.1|calcular_frecuencia:SUMA_TOTAL_ESPECIE}}</td>
                                </tr>
                                {% endfor %}
                              </tbody>
                            </table>
                         </div>

                    </div>
                </div>
            </div>

        </div>


    </div>
{% endblock contenido %}
