{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Dominancia de especies'
        },
        subtitle: {
            text: '% de frecuencia de especies'
        },
        xAxis: {
            type: 'Frecuencia',
            labels: {
                rotation: -45,
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        },
        yAxis: {
            min: 0,
            title: {
                text: '% de conteo total'
            }
        },
        legend: {
            enabled: false
        },
        tooltip: {
            pointFormat: 'frecuencia: <b>{point.y:.1f} %</b>'
        },
        series: [{
            name: 'Population',
            data: [
              {% for v in algo %}
                {% if v.1 > 5.0 %}
                  ['{{v.0}}', {{v.1|calcular_frecuencia:SUMA_TOTAL_ESPECIE}}],
                {% endif %}
              {% endfor %}
            ],
            dataLabels: {
                enabled: true,
                rotation: 45,
                color: '#000000',
                align: 'right',
                format: '{point.y:.1f} %', // one decimal
                y: -8, // 10 pixels down from the top
                style: {
                    fontSize: '13px',
                    fontFamily: 'Verdana, sans-serif'
                }
            }
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<p class="center-block">Dominancia de árboles de sombra</p>
TOTAL DE ESPECIES: {{CUANTO_ESPECIES}}  *se excluyo banano y plátano en todo el sistema {{SUMA_TOTAL_ESPECIE}}
<div class="row">
 <div class="col-md-6">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especies</th>
          <th># total</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        {% for v in algo %}
        <tr>
          <th scope=row>{{v.0}}</th>
          <td>{{v.1}}</td>
          <td>{{v.1|calcular_frecuencia:SUMA_TOTAL_ESPECIE}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 </div>
 <div class="col-md-6">
 </div>
</div>
<hr>
<div class="row">
  <div class="col-lg-12">
    <div id="grafo1"></div>
  </div>

</div>
{% endblock contenido %}
