{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Riqueza de árboles'
        },
        subtitle: {
            text: 'numero de especies en 1890 m2'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Riqueza'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'riquezas',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in puntos %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de riqueza de sombra'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k,v in grafo_riqueza.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
var pathname = window.location.pathname;
var arregloDeCadenas = pathname.split('/');

if (arregloDeCadenas[2]="sombra") {
    $( "#sombra" ).addClass( "in" );
    $( "#poda" ).removeClass( "in" );
}else if (arregloDeCadenas[2]="poda") {
    $( "#poda" ).addClass( "in" );
    $( "#sombra" ).removeClass( "in" );
};
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Sombra</li>
                            <li class="active">Riqueza de sombra</li>
                            <li class="active">Número de parcelas:{{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="row datos">

                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-offset-1 col-lg-2">
                            <div class="number-data">
                                {{promedio2|floatformat:2}}
                            </div>
                            <div class="title-data">
                                Promedio
                            </div>
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                            <div class="number-data">
                                {{mediana2|floatformat:2}}
                            </div>
                            <div class="title-data">
                                Mediana
                            </div>
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                            <div class="number-data">
                                {{desviacion2|floatformat:2}}
                            </div>
                            <div class="title-data">
                                Desviación típica
                            </div>
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                            <div class="number-data">
                                {{minimo|floatformat:2}}
                            </div>
                            <div class="title-data">
                                Mínimo
                            </div>
                            
                        </div>
                        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-2">
                            <div class="number-data">
                                {{maximo|floatformat:2}}
                            </div>
                            <div class="title-data">
                                Máximo
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                    </div>
                    <div class="row">
                        <hr>
                        <div class="col-md-12">
                            <div id="grafo2"></div>
                        </div>
                    </div>  
                </div>
            </div>

        </div>


    </div>

{% endblock contenido %}
