{% extends "producto/base.html" %}

{% block extra_js %}

{% endblock extra_js %}

{% block contenido %}

				<nav class="encabezado container-fluid">
					<div class="titulo">
						
							<h2 class="text-center">Alianzas Centroamérica - Caribe</h2>
							
					</div>
					
				</nav>
				{% for producto in productos %}
					<div class="nicanorte col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="circle-producto">
						<div class="outer-ring"></div>
						<!-- Used for more of a gyroscope type effect
						<div class="outer-outer-ring"></div>
						-->
						<div class="circunferencia">
							<div class="front">
							{% if producto.imagen %}
								<img class="back-logo" src="/media/{{producto.imagen}}" alt="" />
							{% else %}
								<img class="back-logo" src="http://placehold.it/300&text=No Image" alt="" />
							{% endif %}
								
								
							</div>
							<a class="back" href="{{producto.url}}" target="_blank">
								<h4>{{producto.titulo}}</h4>
								<p>{{producto.descripcion}}</p>
							</a>
						</div>
						<br>
						
					</div>
					
					<ul class="titulo">
						<li><a href="{{producto.url}}" title="{{producto.titulo}}" target="_blank">{{producto.titulo}}</a></li>
					</ul>
					
				</div>
				{% endfor %}
				
	
{% endblock contenido %}