{% extends "producto/base.html" %}

{% block extra_js %}

{% endblock extra_js %}

{% block contenido %}

				<nav class="encabezado container-fluid">
					<div class="titulo">
						
							<h2 class="text-center">Alianzas Centroamérica - Caribe</h2>
							
					</div>
					
				</nav>
			
					<div class="nicanorte col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="circle-producto">
						<div class="circunferencia">
							<div class="front">
							
								<img class="back-logo" src="/static/producto/img/2.jpg" alt="">
							</div>
							<a class="back" href="http://mcampesino.alianza-cac.net/" target="_blank">
								<h4>Mercados Campesinos</h4>
								<p>El propósito de este sistema de mercados es promover información sobre los distintos "mercados locales" que existen en Nicaragua.</p>
							</a>
						</div>
						<br>
						
					</div>
					
					<ul class="titulo">
						<li><a href="http://mcampesino.alianza-cac.net/" title="Mercados Campesinos" target="_blank">Mercados Campesinos</a></li>
					</ul>
					
				</div>
				<div class="nicanorte col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="circle-producto">
						<div class="outer-ring"></div>
						<!-- Used for more of a gyroscope type effect
						<div class="outer-outer-ring"></div>
						-->
						<div class="circunferencia">
							<div class="front">
							
								<img class="back-logo" src="/static/producto/img/1.JPG" alt="">
							</div>
							<a class="back" href="#" target="_blank">
								<h4>Acceso a mercado para comunidades remotas</h4>
								
							</a>
						</div>
						<br>
						
					</div>
					
					<ul class="titulo">
						<li><a href="#" title="Acceso a mercado para comunidades remotas" target="_blank">Acceso a mercado para comunidades remotas</a></li>
					</ul>
					
				</div>
				
	
{% endblock contenido %}