<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Alianzas Centroamérica - Caribe</title>

	<link rel="stylesheet" href="/static/producto/css/producto.css">

	<link href="/static/general/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<link href="/static/general/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
	<!-- font-awesome -->
</head>
<body>


	<div class="fondo">
		<div class="container">
			<div class="row">
				<nav class="encabezado container-fluid">
					<div class="titulo">
						
							<h2 class="text-center">Alianzas Centroamérica - Caribe</h2>
							
					</div>
					
				</nav>
				<div class="nicanorte col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="circle-producto">
						<div class="outer-ring"></div>
						<!-- Used for more of a gyroscope type effect
						<div class="outer-outer-ring"></div>
						-->
						<div class="circunferencia">
							<div class="front">
								<img class="back-logo" src="/static/producto/img/nicanorte.jpg" alt="The Elevation Group Logo" />
								
							</div>
							<a class="back" href="https://sites.google.com/site/nicanortealianzas/">
								<h4>Nicanorte</h4>
								<p>Nicanorte es un sitio de accionar del Programa Humitropics, un programa consorciado de investigación para el desarrollo. El sitio ubica en la parte norte de Nicaragua, cubre 71 municipios desde la frontera de RAAN hasta Somotillo.</p>
							</a>
						</div>
						<br>
						
					</div>
					
					<ul class="titulo">
						<li><a href="https://sites.google.com/site/nicanortealianzas/" title="Nicanorte">Nicanorte</a></li>
					</ul>
					
				</div>

				<div class="domini col-xs-12 col-sm-12 col-md-6 col-lg-6">
					<div class="circle-producto">
						<div class="outer-ring"></div>
						<!-- Used for more of a gyroscope type effect
						<div class="outer-outer-ring"></div>
						-->
						<div class="circunferencia">
							<div class="front">
								<img class="back-logo" src="/static/producto/img/nicanorte.jpg" alt="The Elevation Group Logo" />
								
							</div>
							<a class="back" href="#">
								<h4>Nicanorte</h4>
								<p>Nicanorte es un sitio de accionar del Programa Humitropics, un programa consorciado de investigación para el desarrollo. El sitio ubica en la parte norte de Nicaragua, cubre 71 municipios desde la frontera de RAAN hasta Somotillo.</p>
							</a>
						</div>
						<br>
						
					</div>
					<ul class="titulo">
						<li><a href="#" title="Haiti-Dominicana">Haiti-Dominicana</a></li>
					</ul>
				</div>
	
			</div>
		</div>

	</div>
	<div class="footer">
		<img src="/static/general/img/site-logo.jpg" alt="Site Logo" class="img-responsive">
	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	{% block extra_js %}{% endblock extra_js %}
</body>
</html>