{% extends "biblioteca/base.html" %}

{% block contenido %}
<div id="k-sidebar" class="col-lg-12 col-md-12">
	<div class="detalle-biblioteca">

		<div class="row">
		  <div class="col-xs-6 col-md-3">
		    <div class="thumbnail">
		      <img src="/static/biblioteca/img/portada.png" alt="...">
		    </div>
		  </div>


		  <div class="col-xs-6 col-md-9">
			<table>
				<tr>
					<th>Titulo:</th>
					<td>{{detalle.titulo}}</td>
				</tr>
				<tr>
					<th>Autor:</th>
					<td>{{detalle.autor}}</td>
				</tr>
				<tr>
					<th>Editorial o revista:</th>
					<td>{{detalle.edicion}}</td>
				</tr>
				<tr>
					<th>Tipo:</th>
					<td>{{detalle.get_tipo_display}}</td>
				</tr>
				<tr>
					<th>Año:</th>
					<td>{{detalle.anio}}</td>
				</tr>
				<tr>
					<th>Cita bibliográfica:</th>
					<td>{{detalle.cita}}</td>
				</tr>
				<tr>
					<th>Temas</th>
					<td>
						<ol>
						{% for tema in detalle.temas.all %}
							<li>{{tema}}</li>
						{% endfor %}
						</ol>
				 	</td>
				</tr>
				<tr>
				<th>Alianzas</th>
					<td>
						<ol>
						{% for alianza in detalle.alianza.all %}
							<li>{{alianza}}</li>
						{% endfor %}
						</ol>
				 	</td>
				</tr>
			</table>
		  </div>
		</div>
		<div class="row">
			<h4 class="descricion-b">
				Descripción
			</h4>
			<p>{{detalle.descripcion|safe}}</p>
		</div>



     <br>

    <hr>
    {% for obj in detalle.archivoadjunto_set.all %}
        <a href="/media/{{obj.archivo}}">Descargar</a>
    {% endfor %}
    </div>
</div>
{% endblock contenido %}
