#cosechapunto1_set-0  input {
    width: 60px;
}
#cosechapunto1_set-1 input {
    width: 60px;
}
#cosechapunto1_set-2 input {
    width: 60px;
}
#cosechapunto2_set-0  input {
    width: 60px;
}
#cosechapunto2_set-1  input {
    width: 60px;
}
#cosechapunto2_set-2  input {
    width: 60px;
}
#cosechapunto3_set-0  input {
    width: 60px;
}
#cosechapunto3_set-1  input {
    width: 60px;
}
#cosechapunto3_set-2  input {
    width: 60px;
}


