verde = #5d8c3b
naranja = #ed702b
letra = #363636
cafe = #C19A71
cafeoscuro = #453021
body
	font-size 14px
redondeado()
	-webkit-border-radius arguments
	-moz-border-radius arguments
	-o-border-radius arguments
	border-radius arguments
  
sombras()
	-webkit-box-shadow arguments
	-moz-box-shadow arguments
	-o-border-radius arguments
	box-shadow arguments

/*********Base**********/
.bar-title
	background-color verde
	color white
	padding 5px
	h3
		margin 5px
.navbar-cacao
	background verde
	redondeado 0px
	a
		color white
		font-weight bold
.nav>li>a:hover, .nav>li>a:focus
	background-color transparent

/*********consulta**********/
.title-consulta
	background-color cafe
	color white
	font-weight bold
	padding 5px 10px
	border 2px solid rgba(193,154,113,0.5)
	border-bottom 0px solid rgba(193,154,113,0.5)
.filtro
	padding 15px 20px
	border 2px solid rgba(193,154,113,0.5)
	border-top 0px solid rgba(193,154,113,0.5)
	.row
		margin-bottom 10px
	label
		padding-top 6px
	.form-control
		redondeado 0px
	.btn-form
		padding 10px 20px
		background-color cafe
		font-weight bold
		color white
.borde
	border-bottom 2px solid rgba(193,154,113,0.5)
	padding-bottom 10px



.ind
	list-style none
	li
		margin-bottom 10px
		font-size 1em
		a
			text-decoration none
	.list-header
		font-size 1.5em
		border-bottom 2px dotted rgba(193,154,113,0.5)
.panel-group .panel
	redondeado 0px	
.panel-ind
	.panel-heading
		display inherit
		text-decoration none
		border-top-right-radius 0px
		border-top-left-radius 0px
		background-color cafe
		color white
	.panel-body
		padding 0px
	.list-group
		margin-bottom 0px
	.list-group-item:first-child
		border-top 0px
	.list-group-item:last-child
		border-bottom-right-radius 0px
		border-bottom-left-radius 0px
.panel-graficos
	redondeado 0px
	.breadcrumb
		padding 0px
		margin-bottom 0px
	.panel-body .row
		margin-bottom 10px
.panel-graficos
	.panel-heading
		display inherit
		text-decoration none
		border-top-right-radius 0px
		border-top-left-radius 0px
		background-color cafe
		color white
		.breadcrumb
			background-color cafe
			.active
				color white				
			li a
				color white
				text-decoration none
				font-weight bold
	.panel-body 
		padding-top 0px
.datos
	color #463737
	border-bottom 1px solid #eee
	
.title-data
	padding-bottom 10px
	font-weight bold
	text-align center
	font-size 0.9em
.number-data
	padding-top 10px
	text-align center
	font-weight bold
	font-size 1.7em
.modal-lg img
	width 100%
.tabla-especies
	max-height 420px
	overflow hidden
	overflow-y visible
.formulario-uso
	padding-top 20px
	label
	p
		padding-top 9px
	.btn-form
		background-color cafe
		font-weight bold
		color white
.panel-graficos h4
	text-align center
.panel-group
	margin-bottom 0px