{% extends "baseadmin.html"%}

{% block extra_js %}
<link href="/static/comunicacion/css/jquery.autocomplete.css" rel="stylesheet" type="text/css">
<link href="/static/comunicacion/css/datepicker3.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/static/comunicacion/js/autocompletejs/jquery.autocomplete.js"></script>
<script type="text/javascript" src="/static/comunicacion/js/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="/static/comunicacion/js/locales/bootstrap-datepicker.es.js"></script>

<script type="text/javascript">
$(function() {
  $("#id_apertura , #id_cierre , #id_fecha_skype , #id_memoria, #id_inicio, #id_final").datepicker({ 
      dateFormat: 'dd/mm/yy',
      todayBtn: "linked",
      language: "es",
      todayHighlight: true,
 
    });
});
</script>
 
{% endblock %}

{% block contenido%}


            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                        <div class="row gutter"><!-- row -->

                        
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">Crear Foro</h1><!-- category title -->
                            
                            </div>
                        
                        </div><!-- row end -->

                        <div class="row gutter k-equal-height"><!-- row -->
                        <br>
                            <form enctype="multipart/form-data" action="." method="post">{% csrf_token %}
                        
                                {{ form.media }}
                                <div class="col-lg-12 col-md-12">
                                    <div class="">
                                        {%if form.errors%}
                                                <div class="alert alert-error"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
                                        {%endif%}
                                        <div class="formulario-foro">
                                            {{form.as_p}}
                                        </div>

                                        <div role="tabpanel">

                                            <!-- Nav tabs -->
                                            <ul class="nav nav-tabs" role="tablist">
                                                <li role="presentation" class="active">
                                                    <a href="#imagenes" aria-controls="imagenes" role="tab" data-toggle="tab">
                                                    <i class="fa fa-picture-o"></i> Imagenes</a>
                                                </li>

                                                <li role="presentation">
                                                    <a href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">
                                                    <i class="fa fa-file-pdf-o"></i> Documentos</a>
                                                </li>

                                                <li role="presentation">
                                                    <a href="#video" aria-controls="video" role="tab" data-toggle="tab">
                                                    <i class="fa fa-film"></i> Video</a>
                                                </li>

                                                <li role="presentation">
                                                    <a href="#audio" aria-controls="audio" role="tab" data-toggle="tab">
                                                    <i class="fa fa-volume-up"></i> Audio</a>
                                                </li>
                                            </ul>

                                          <!-- Tab panes -->
                                          <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane active" id="imagenes">
                                                <div class="media-form-inline">
                                                    {{ form2.management_form }}
                                                        {% for foto in form2 %}

                                                                {{foto.label_tag}}

                                                                {{foto}}
                                                    {% endfor %}
                                                        
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="documentos">
                                                <div class="media-form-inline">
                                                    {{ form3.management_form }}
                                                        {% for docu in form3 %}
                                                        
                                                            
                                                                {{docu.label_tag}}
                                                              
                                                                {{docu}}
                                                            
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="video">
                                                 <div class="media-form-inline">
                                                    {{ form4.management_form }}
                                                        {% for video in form4 %}
                                                        
                                                            
                                                            {{video.label_tag}}
                                                           
                                                            {{video}}
                                                       
                                                    {% endfor %}
                                                </div>
                                            </div>
                                            <div role="tabpanel" class="tab-pane" id="audio">
                                                <div class="media-form-inline">
                                                    {{ form5.management_form }}
                                                        {% for audio in form5 %}
                                                        
                                                            {{audio.label_tag}}
                                                          
                                                            {{audio}}
                                                        
                                                    {% endfor %}
                                                </div>
                                               
                                            </div>
                                                
                                          </div>

                                        </div>

                                        </div>


                                        
                                    </div>
                                    <div class="">
                                        <div class="alert "><i class="icon-info-sign"></i>
                                            Formulario para la creación de foros
                                        </div>
                                        <div class="" id="">
                                            <input class="btn btn-large btn-info " style="" type="submit" id="submitfoo" value="Guardar" />
                                            <a href="/foros" class="btn btn-large">Cerrar</a>
                                        </div>
                                    </div>
                                    </form>

                        
                            

                        </div><!-- row end -->
        
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end -->




{% endblock%}
