{% extends "baseadmin.html" %}

{% block contenido %}

<div class="row no-gutter "><!-- row -->
                
                <div class="col-lg-9 col-md-9"><!-- doc body wrapper -->

                    
                    <div class="col-padded"><!-- inner custom column -->

                        <div class="row gutter"><!-- row -->

                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">Multimedia</h1><!-- category title -->
                            </div>
                        
                        </div><!-- row end -->
                        <br>

						<div class="tabbable">
						  <ul class="nav nav-tabs">
						    <li><a href="/foros/privado/multimedia_fotos/" ><i class="fa fa-picture-o"></i> Imágenes</a></li>
						    <li><a href="/foros/privado/multimedia_videos/"><i class="fa fa-film"></i> Videos</a></li>
						    <li class="active"><a href="#" ><i class="fa fa-volume-up"></i> Audios</a></li>
						  </ul>
						</div>

						<table class="table  table-bordered table-condensed table-striped">
							<thead>
								<tr>
									<th width="610">Audio</th>
									<th>Descargar</th>
								</tr>
							</thead>
							<tbody>
								{% for a in audios %}
									{% if a.nombre_doc != '' %}
										<tr>
											<td>{{a.nombre_audio}}</td>
											<td>
												<object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" width="280" height="20"
												    codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab">
												    <param name="movie" value="/files/js/singlemp3player.swf?file=/media/{{a.audio}}&showDownload=true" />
												    <param name="wmode" value="transparent" />
												    <embed wmode="transparent" width="280" height="20" src="/files/js/singlemp3player.swf?file=/media/{{a.audio}}&showDownload=true"
												    type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />
												</object>
											</td>
										</tr>
									{% endif %}
								{% endfor %}
							</tbody>
						</table>
						
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->

                
                <div id="k-sidebar" class="col-lg-3 col-md-3"><!-- sidebar wrapper -->

                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                    <h1 class="title-widget">Buscar</h1>

                    <ul class="nav nav-list">
					  <li>
						<form class="form-search form-inline" action="." method="GET">
						<div class="input-group">
						 
						  <input type="text" class="form-control search-query" placeholder="Buscar"  name="q" value="{% if query %} {{query}} {% endif%}">
						  <span class="input-group-btn">
					        <button class="btn btn-default" type="submit">Go!</button>
					      </span>
						</div>

						</form>
						<br>

					  </li>
					  <li class="nav-header">TAGS</li>

						{% for tag in tags %}
							<li {%if tag == tag_sel%}class="active"{%endif%}>
							<i class="fa fa-tag">&nbsp;
							<a href="/foros/privado/multimedia_audios_tag/{{tag}}">{{tag}}</a>
							</i>
							
							</li>
						{% endfor %}


					</ul>
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
             </div><!-- row end -->


{% endblock %}
