{% extends "comunicacion/basecomunicacion.html"%} 

{% load thumbnail %}
{% block extra_js %}
<script type='text/javascript'>
    $(document).ready(function() {
         // para resaltar menu
        $('#asociados-menu').addClass('active');
    });
</script>
{%endblock%}

{% block contenido %}
<div id="k-body"><!-- content wrapper -->
    
        <div class="container"><!-- container -->
        
            <div class="row"><!-- row -->
            
                <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
                
                </div><!-- top search end -->
            
                <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
                
                    <ol class="breadcrumb">
                        <li><a href="/">inicio</a></li>
                        <li class="active">Contrapartes</li>
                    </ol>
                    
                </div><!-- breadcrumbs end -->               
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-8 col-md-8"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                            <div class="col-lg-12 col-md-12">
                                <div class="btn-group paises ">
                                  <button type="button" class="btn txt-black" disabled="disabled">Filtar por:</button>
                                  {% for obj in paises %}
                                <button type="button" class="btn btn-default">
                                    <a href="/contrapartes/pais/{{obj.id}}">{{obj.nombre}}</a>
                                </button>
                              {% endfor %}
                                </div>
                                <hr />
                            </div>
                        
                        <div class="row gutter k-equal-height"><!-- row -->

                        {% for contraparte in object_list %}
                            <div class="col-lg-6 col-md-6 contrapartes">
                            {% if contraparte.logo %}
                            {% thumbnail contraparte.logo "180x160" as im %}
                                <img class="center-block logo-contraparte" src="/uploads/{{im}}" >
                            {% endthumbnail %}
                            {%else%}
                                <img class="center-block img-responsive" src="http://placehold.it/180x160&text=No Logo">
                            {%endif%}
                            <div class="page-title-meta">
                                    <h1 class="page-title-contraparte"><a href="" title="">
                                    {{contraparte.nombre}}
                                    </a></h1>
                                    <div class="news-meta">
                                    
                                        
                                        <span class="ong">{{contraparte.siglas}}</span>
                                    </div>
                            </div>
                            <div class="news-summary">
                                    <p>
                                    {{contraparte.generalidades|safe|truncatewords_html:30}}
                                    <a href="{% url 'detalle-contraparte' contraparte.id %}" title="Leer más" class="moretag">Leer más..</a>
                                    </p>
                            </div>

                                
                                    
                                
                            </div>
                        {% endfor %}


                        </div><!-- row end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
                <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
                    
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                          
                        
                        

                            <li class="widget-container widget_up_events"><!-- widget -->
                                
                                
                                {% include "comunicacion/widgets.html" %}
                            
                            </li>

                            
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
    
{% endblock %}