{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#grafo1').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: 'Nivel de Producción'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                },
                    showInLegend: true
                }
            },
            series: [{
                name: 'producción',
                colorByPoint: true,
                data: [
                {% for k,v in grafo_nivel_produccion.items %}
                  {
                    name: '{{k}}',
                    y: {{v}} {% if forloop.counter == 1 %},
                              sliced: true,
                              selected: true
                              {% endif %}
                  },
                {% endfor %}
                ]
            }]
        });
    });
});

$(function () {
    $('#grafo2').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Indice de productividad monilia'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Indice de monilia'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Maximo 40'
            }
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x}, {point.y}'
                }
            }
        },
        series: [{
            name: 'Monilia',
            color: 'rgba(223, 83, 83, .5)',
            data: {{grafo_dispercion}}

        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Plaga</li>
                            <li class="active">Producción y relación plaga y rendimiento</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                    </div>
                      <hr>
                    <div class="row">
                        <div class="col-md-12">
                         <div id="grafo2"></div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
