<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PRODUCTORES</li>
        <li> <a href="/granos-basicos/genero-y-produccion/"> Genero y Producción de granos básicos</a></li>
        <li><a href="/granos-basicos/"> Composición Familiar</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">MONITOREOS</li>
        <li> <a href="/cacao/poda/altura/"> Altura de las platas</a></li>
        <li><a href="/cacao/poda/ancho-copa/"> Anchuras de copas de las plantas</a></li>
        <li><a href="/cacao/poda/produccion/"> Nivel de producción</a></li>
        <li><a href="/cacao/poda/atributos/"> Atributos de las árboles</a></li>
        <li><a href="/cacao/poda/analisis/"> Analisis de poda</a></li>
        <li><a href="/cacao/poda/tipos-poda/"> Tipos de poda</a></li>
        <li><a href="/cacao/poda/acciones/"> Acciones para mejoras</a></li>
    </ul>
</div>
