<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#productores" aria-expanded="true" aria-controls="productores"id="headingOne">
            <h4 class="panel-title">
                Productores
            </h4>
        </a>
        <div id="productores" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/granos-basicos/productores/genero-y-produccion/">
                        Genero y Producción de granos básicos
                    </a>

                    <a class="list-group-item" href="/granos-basicos/productores/composicion-familiar/">
                        Composición Familiar
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#monitoreo" aria-expanded="true" aria-controls="monitoreo" id="headingOne">
            <h4 class="panel-title">
                Monitoreos
            </h4>
        </a>
        <div id="monitoreo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/granos-basicos/monitoreo/georeferencia/">
                        Georeferencia
                    </a>

                    <a class="list-group-item" href="/granos-basicos/monitoreo/caracteristicas-parcela/">
                        Características de la parcela
                    </a>

                    <a class="list-group-item" href="/granos-basicos/monitoreo/ciclo-productivo/">
                        Ciclo Productivo
                    </a>

                    <a class="list-group-item" href="/granos-basicos/monitoreo/uso-suelo/">
                        Uso del Suelo
                    </a>

                    <a class="list-group-item" href="/granos-basicos/monitoreo/recursos-economicos">
                        Recursos Económicos
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>
