<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#sombra" aria-expanded="true" aria-controls="sombra"id="headingOne">
            <h4 class="panel-title">
                Productores
            </h4>
        </a>
        <div id="sombra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/granos-basicos/genero-y-produccion/">
                        Genero y Producción de granos básicos
                    </a>

                    <a class="list-group-item" href="/granos-basicos/composicion-familiar/">
                        Composición Familiar
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#poda" aria-expanded="true" aria-controls="poda" id="headingOne">
            <h4 class="panel-title">
                Monitoreos
            </h4>
        </a>
        <div id="poda" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/poda/altura/">
                        Georeferencia
                    </a>

                    <a class="list-group-item" href="/cacao/poda/ancho-copa/">
                        Características de la parcela
                    </a>

                    <a class="list-group-item" href="/cacao/poda/produccion/">
                        Ciclo Productivo
                    </a>

                    <a class="list-group-item" href="/cacao/poda/atributos/">
                        Uso del Suelo
                    </a>

                    <a class="list-group-item" href="/cacao/poda/analisis/">
                        Recursos Económicos
                    </a>
                </ul>
            </div>
        </div>
    </div>

</div>
