<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PRODUCTORES</li>
        <li> <a href="/granos-basicos/productores/genero-y-produccion/"> Genero y Producción de granos básicos</a></li>
        <li><a href="/granos-basicos/productores/composicion-familiar/"> Composición Familiar</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">MONITOREOS</li>
        <li> <a href="/granos-basicos/monitoreo/georeferencia/"> Georeferencia</a></li>
        <li><a href="/granos-basicos/monitoreo/caracteristicas-parcela/"> Características de la parcela</a></li>
        <li><a href="/granos-basicos/monitoreo/ciclo-productivo/"> Ciclo Productivo</a></li>
        <li><a href="/granos-basicos/monitoreo/uso-suelo/"> Uso del Suelo</a></li>
        <li><a href="/granos-basicos/monitoreo/recursos-economicos"> Recursos Económicos</a></li>
        <li><a href="/granos-basicos/monitoreo/rendimiento"> Rendimiento</a></li>
    </ul>
</div>
