.separar {
	margin-top: 8px;
	padding-top: 8px;
}

.buscador {
  background: #cacaca;
  min-height: 95px;
  width: 100%;
  text-align: center;
  padding: 22px 8px 8px 8px;
  float: none !important;
  transition: all 0.4s;
}
.buscador input,
.buscador button {
  height: 45px;
  border: 0;
  width: 85%;
}
.buscador input {
  padding-left: 15px;
  border-top: #d0d4d8 3px solid;
  border-left: #d0d4d8 3px solid;
  border-bottom: #d0d4d8 3px solid;
}
.buscador button {
  width: 14.7%;
  margin-left: -5px;
  background: #4c8125;
  color: #fff;
  border-top: #d0d4d8 3px solid;
  border-right: #d0d4d8 3px solid;
  border-bottom: #d0d4d8 3px solid;
}