.separar {
	margin-top: 8px;
	padding-top: 8px;
}

.buscador {
  background: #cacaca;
  min-height: 95px;
  width: 100%;
  text-align: center;
  padding: 22px 8px 8px 8px;
  float: none !important;
  transition: all 0.4s;
}
.buscador input,
.buscador button {
  height: 45px;
  border: 0;
  width: 85%;
}
.buscador input {
  padding-left: 15px;
  border-top: #d0d4d8 3px solid;
  border-left: #d0d4d8 3px solid;
  border-bottom: #d0d4d8 3px solid;
}
.buscador button {
  width: 14.7%;
  margin-left: -5px;
  background: #4c8125;
  color: #fff;
  border-top: #d0d4d8 3px solid;
  border-right: #d0d4d8 3px solid;
  border-bottom: #d0d4d8 3px solid;
}

article.listas:first-child {
        border-top-width: 0 !important;
    }
    article.listas {
        padding: 15px 0 10px 0;
        border-top: 1px dotted #CDCCC8;
        overflow: hidden;
    }
    article.listas h6 {
        text-transform: uppercase;
    }
    .pointer a, .pointer {
        font-weight: 700 !important;
    }
    .mar-b-5 {
        margin-bottom: 5px !important;
        margin-bottom: 0.5rem !important;
    }
    .mar-t-5 {
        margin-top: 5px !important;
        margin-top: 0.5rem !important;
    }
    h6 {
        font-size: 10px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #181818;
        font-weight: bold;
        line-height: 1.25;
    }
    h6 {
        display: block;
        font-size: 0.67em;
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
