<div class="filtros">
	<ol class="breadcrumb">
	<li>Selected filters: </li>
	   {% if request.session.tipo_estudio %}
        <li><a href="#">{{ request.session.tipo_estudio }}</a></li>
    {% endif %}
    {% if request.session.fecha %}
        <li><a href="#">{% for x in request.session.fecha %}
            {{x}},
        {% endfor %}</a></li>
    {% endif %}
    {% if request.session.area_accion %}
        <li><a href="#">{{ request.session.area_accion }}</a></li>
    {% endif %}
    {% if request.session.sitio_accion %}
        <li><a href="#">{{ request.session.sitio_accion }}</a></li>
    {% endif %}
    {% if request.session.plataforma %}
        <li><a href="#">{{ request.session.plataforma }}</a></li>
    {% endif %}}
   
	</ol>

</div>