{% extends "analysis/baseanalisis.html" %}

{% block contenido %}

	<form action="." method="POST" id="form_analisis">{% csrf_token %}
		{{form.fecha.label}}: {{form.fecha}}
		{{form.pais.label}}: {{form.pais}}
		{{form.sitio_accion.label}}: {{form.sitio_accion}}
		{{form.tipo_estudio.label}}: {{form.tipo_estudio}}
		{{form.plataforma.label}}: {{form.plataforma}}
		<input type="submit" value="Query" name="consulta" class="btn btn-success"/>
	</form>

	{%if centinela = 1 %}
	<p>Please select an item from the left menu!</p>    
    {%endif%} 
{% endblock contenido %}