{% extends "analysis/base.html" %}

{% block extra_js %}
<script type="text/javascript">

	// $.ajax({
	//     type: "GET",
	//     url: '/analysis/ajax/fechas/',
	//     dataType:'json',
	//     success: function(data) {
	//     		$('#id_fecha').html('');
	// 	      	$.each(data, function(i, value) {
	// 	          $('#id_fecha').append($("<option></option>").text(value).attr('value', value)); 
	// 	        });
	//     	}
	// });
	
  $("#id_sitio_accion").prop("disabled", true);
  $("#id_plataforma").prop("disabled", true);

var foo2 = [];
$(document).on('change','#id_area_accion',function(){
         
    $('#id_area_accion :selected').each(function(i, selected){ 
        foo2[i] = $(selected).val();      
    });

    $.getJSON('/analisis/ajax/sitioaccion/?ids='+foo2.join(","), function(data){
        $("#id_sitio_accion option").remove();
        $("#id_sitio_accion").prop("disabled", false);
        if(data){
        	$('#id_sitio_accion').append($('<option></option>').val('0').html('-------'));
            $.each(data, function(i, item){
                $('#id_sitio_accion').append($('<option></option>').val(item.id).html(item.nombre));
                });
       }
   });
    });

var foo = [];
$(document).on('change','#id_sitio_accion',function(){
         
    $('#id_sitio_accion :selected').each(function(i, selected){ 
        foo[i] = $(selected).val();      
    });

    $.getJSON('/analisis/ajax/plataforma/?ids='+foo.join(","), function(data){
        $("#id_plataforma option").remove();
        $("#id_plataforma").prop("disabled", false);
        if(data){
        	$('#id_plataforma').append($('<option></option>').val('0').html('-------'));
            $.each(data, function(i, item){
                $('#id_plataforma').append($('<option></option>').val(item.id).html(item.nombre));
                });
       }
   });
    });

$(function () {
    $('#btnproyecto').popover({

    	html : true, 
        content: function() {
          return $('#content-proyecto').html();
        },


    });
    $('#btnimpacto').popover({

    	html : true, 
        content: function() {
          return $('#content-impacto').html();
        },

    });
    $('#btnreciente').popover({

    	html : true, 
        content: function() {
          return $('#content-reciente').html();
        },

    });
     $('#btnalianzas').popover({

    	html : true, 
        content: function() {
          return $('#content-alianzas').html();
        },

    });
     $('#btnfuturas').popover({

    	html : true, 
        content: function() {
          return $('#content-futuras').html();
        },

    });
      $('#btnsocios').popover({

    	html : true, 
        content: function() {
          return $('#content-socios').html();
        },

    });
       $('#btnaprendizaje').popover({

    	html : true, 
        content: function() {
          return $('#content-aprendizaje').html();
        },

    });
});
</script>
{% endblock extra_js %}

{% block inicio %}
<style type="text/css">
	.filtros select, .filtros label{
		width: 70%;
		
	}

	#indicadores .consultar{
	  width: 90%;
	}
	.popover-content a:link{
		width: 100%;
	}
	.form-group{
		margin-left: 15%;
	}
	.select2-container--default .select2-selection--single{
		height: 42px;
	}
	.select2-container--default .select2-selection--single .select2-selection__rendered{
		line-height: 39px;
	}
	.select2-container--default .select2-selection--single .select2-selection__arrow{
		height: 41px;
	}
	.consultar{
		margin-bottom: 1em
	}
	.consultar-pop{
		margin-bottom: 0.5em;
		margin-top:0.5em;
	}
</style>
	<div class="row no-gutter"><!-- row -->

	  	<!--<form action="." method="POST">
	  	<div class="container-fluid">
	  		<div class="row">
	  			<div class="col-md-3">
	  			<label for="tipo">Tipo de Estudio</label>
				<select class="js-example-basic-multiple" multiple="multiple">
				  	<option value="AL">Alabama</option>
				  	<option value="WY">Wyoming</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="js-example-basic-multiple" multiple="multiple">
				  	<option value="AL">Alabama</option>
				  	<option value="WY">Wyoming</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="js-example-basic-multiple" multiple="multiple">
				  	<option value="AL">Alabama</option>
				  	<option value="WY">Wyoming</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="js-example-basic-multiple" multiple="multiple">
				  	<option value="AL">Alabama</option>
				  	<option value="WY">Wyoming</option>
				</select>
			</div>
			<div class="col-md-3">
				<select class="js-example-basic-multiple" multiple="multiple">
				  	<option value="AL">Alabama</option>
				  	<option value="WY">Wyoming</option>
				</select>
			</div>
	  		</div>
	  	</div>
			
				
				<input type="submit" value="Consultar" name="consulta" class="btn btn-success consultar"/>
		</form>              

	                
	   --> 

	   			<div class=" container filtros">
					<div class="row">
					<form action="." method="POST">{% csrf_token %}
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 select-filtro">
							<div class="form-group">
                                <label >Type of study</label>
                                <br>
                                	{{form.tipo_estudio}}                     
                            </div>
							<div class="form-group">
                                <label >Date</label>
                                <br>
                                	{{form.fecha}}                     
                            </div>


						</div>

						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 select-filtro">
							<div class="form-group">
                                <label >Action Site</label>
                                <br>
                                {{form.area_accion}}                    
                            </div>

                            <div class="form-group">
                                <label >Area Site</label>
                                <br>
                                {{form.sitio_accion}}                  
                            </div>

						</div>
						<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 select-filtro">
							<div class="form-group">
                                <label >Platform</label>
                                <br>
                               {{form.plataforma}}                    
                            </div>
                            <div class="form-group">
                            <label for=""></label><br>
                            	
                            	<input type="submit" value="Consult" name="consulta" class="btn btn-success"/>
                            </div>
						</div>
					</form>

					</div>



 <div id="content-proyecto" style="display: none">
  
	<a href="/analisis/proyectos-por-sector/" type="button" class="btn btn-success consultar-pop">Projects by Sector</a>

	<a href="/analisis/proyectos-por-tema/" type="button" class="btn btn-success consultar-pop">Projects by Theme</a>
   
</div>


<div id="content-impacto" style="display: none">

	<a href="/analysis/impacts-by-sector/" type="button" class="btn btn-success consultar-pop">Impacts by Sector</a>

	<a href="/analysis/impacts-by-theme/" type="button" class="btn btn-success consultar-pop">Impacts by Theme</a>

	<a href="/analysis/impacts-by-beneficiaries/" type="button" class="btn btn-success consultar-pop">Impacts by Beneficiaries</a>
						
</div>

<div id="content-reciente" style="display: none">
	<a href="/analysis/innovations-by-sector/" type="button" class="btn btn-success consultar">Innovations by Sector</a>

	<a href="/analysis/innovations-by-theme/" type="button" class="btn btn-success consultar">Innovations by Theme</a>

	<a href="/analysis/themes-sector/" type="button" class="btn btn-success consultar">Themes by Sector</a>
						
</div>

<div id="content-alianzas" style="display: none">
	<a href="/analysis/partnerships-and-roles/" type="button" class="btn btn-success consultar">Partnerships and their Roles</a>

	<a href="/analysis/sectors-and-allies/" type="button" class="btn btn-success consultar">Sectors and its Allies</a>

	<a href="/analysis/relations-sectors/" type="button" class="btn btn-success consultar">Relations Sectors</a>
						
</div>

<div id="content-futuras" style="display: none">
	<a href="/analysis/future-innovations-by-sector/" type="button" class="btn btn-success consultar">Future Innova. by Sector</a>

	<a href="/analysis/future-innovations-by-theme/" type="button" class="btn btn-success consultar">Future Innova. by Theme</a>
						
</div>
<div id="content-socios" style="display: none">
	<a href="/analysis/potential-partners-by-sector/" type="button" class="btn btn-success consultar">Partners by Sector</a>

	<a href="/analysis/partners-in-time/" type="button" class="btn btn-success consultar">Partners in time</a>
						
</div>

<div id="content-aprendizaje" style="display: none">
	<a href="/analysis/learning-sources/" type="button" class="btn btn-success consultar">Learning sources</a>

	<a href="/analysis/needed-information/" type="button" class="btn btn-success consultar">Needed information</a>

	<a href="/analysis/limitations/" type="button" class="btn btn-success consultar">Limitations</a>
						
</div>






					{%if centinela = 1 %}
					 <div class="row" id="indicadores">
						<h3>Indicadores</h3>
						<hr>

							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a href="/analysis/organizations/" type="button" class="btn btn-success consultar">Organizations</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnproyecto" class="btn btn-success consultar">The Projects</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnimpacto" class="btn btn-success consultar">The Impacts</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnreciente" data-placement="left"  class="btn btn-success consultar">The recent Innovations</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnalianzas" class="btn btn-success consultar">Partnerships</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnfuturas"  class="btn btn-success consultar">Future Innovations</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnsocios"  class="btn btn-success consultar">Current and potent. Partners</a>
							</div>
							<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
								<a  type="button" id="btnaprendizaje" data-placement="left" class="btn btn-success consultar">Learning</a>
							</div>


					
					</div> 
				    {%endif%} 
				</div>
				     
	</div><!-- row end Corta hasta aca-->

<br>
<br>
{% endblock inicio %}