{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu8" ).addClass( "active" );
$( ".menu8-1 a" ).append( " <i class='fa fa-check fa-lg'></i>" );


$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#salida16').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Potential Innovation/Change Partners by Sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Contribution',
               data: [

            {% for key,value in grafica.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

$(function () {
        $('#salida16b').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Number of Potential Partners by Sector'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });

</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analysis/filtros.html" %}
	<h3>Potential Innovation/Change Partners by Sector</h3>
<div>
    <table class="table table-bordered">
  <tbody>
  {% for key,value in datos.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                {% for x in value %}
                	{{x}},
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
</tbody>

</table>
</div>


<div id="salida16"></div>

<div id="salida16b"></div>

<style>
    .menu8{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu8 > a {
        background: none;
        color: white
    }
    .menu8 .menu8-1, .menu8-2 {
      background: white;  
    }
    #page-inner{
        min-height: 1100px
    }
    td {
        width: 50% !important
    }
    </style>
{% endblock contenido %}