{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}

<script>
$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#sector').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribution of participating organizations by sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Contribution',
              data: [

            {% for key,value in sectores.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});
   </script>
{% endblock extra_js%} 


{% block contenido %}

{% include "analysis/filtros.html" %}

<h3>Organizations participating in the study</h3>
	<div>
    <table class="table table-bordered">
      <tbody>
       {% for key,value in sectores1.items %}
       <tr>
        <td>{{key}}</td>
        
        <td>
            {% for x in value %}
            <a href="{% url 'detalle-contraparte' x.organizacion.id %}">{{x.organizacion}}</a>,
            {% endfor %}
        </td>
        
    </tr>
    {% endfor %}
</tbody>
</table>
</div>


<div id="sector"></div> 

<style>
    .menu1{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu1 > a {
        background: none;
        color: white

    }
</style>
{% endblock contenido %}