{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu5" ).addClass( "active" );
$( ".menu5-3 a" ).append( " <i class='fa fa-check fa-2x'></i>" );
</script>
{% endblock extra_js%} 


{% block contenido %}
{% include "analysis/filtros.html" %}

<h3>Partner Organizations for Projects and current  innovations by Sector</h3>
	<div>
    <table class="table table-bordered">
      <tbody>
       {% for key,value in datos.items %}
       <tr>
        <td>{{key}}</td>
        <td>
        {% for x in value %}
        {% if x.sector == key %}
            {{x}},
        {% endif %}
            
        {% endfor %}
            

            
        </td>
    </tr>

    {% endfor %}
</tbody>
</table>
</div>

<h3>Distribution of Partnerships for Each Sector (%)</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sector</th>
                {% for sector in sectores %}
                    <th>{{sector}}</th>
                {% endfor %}
                <th>Total</th>
                
            </tr>
        </thead>
        <tbody>
        
        {% for x,y in lista_sectores.items %}
<tr>
                    <td>{{x}}</td>
                    {% for z in y.0 %}
                        <td>
                            {% for valor in z %}
                                {% if forloop.counter == 1 %}
                                    {{valor}}
                                {% else %}
                                    ({{valor|floatformat:2}} %)
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                    <td>{{y.1}}</td>
                 
 </tr>
            {% endfor %}

            <tr>
                <td>Total</td>
                {% for x in lista_totales %}
                    <td>{{x}}</td>
                {% endfor %}
                <td>{{total}}</td>
            </tr>
        

        </tbody>
    </table>
</div> 
<style>
    .menu5{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu5 > a {
        background: none;
        color: white
    }
    .menu5 .menu5-1, .menu5-2, .menu5-3, .menu5-4, .menu5-5{
      background: white;  
    }
    #page-inner{
        min-height: 1250px
    }
    td {
        width: 50% !important
    }
</style> 
 
{% endblock contenido %}