{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu9" ).addClass( "active" );
$( ".menu9-2 a" ).append( " <i class='fa fa-check fa-2x'></i>" );

</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analysis/filtros.html" %}

	<h3>Themes of Desired Innovations and Information Needed to Carry Them Out</h3>
<div>
    <table class="table table-bordered">
    <thead>
      <tr>
          <th>Theme of Desired Innovation</th>
          <th>Information Needed</th>

      </tr>
  </thead>
  <tbody>
  {% for key,value in sectores.items %}
<tr>
                    <td>{{key}}</td>
                    <td>
                    {% for limitacion,numero in value.items %}
                        {% if numero >= 1  %}
                            {{limitacion}},<br>
                        {% endif %}
                    {% endfor %}
                    </td>
                    
                 
 </tr>
            {% endfor %}
        
</tbody>

</table>
</div>

<style>
    .menu9{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu9 > a {
        background: none;
        color: white
    }
    .menu9 .menu9-1, .menu9-2, .menu9-3 {
      background: white;  
    }
    td {
        width: 50% !important
    }
</style>

{% endblock contenido %}