{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

{% endblock extra_js%} 

{% block contenido %}
{% include "analysis/filtros.html" %}
<h3>Reported Limitations and Perceived Limitations</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Limitation</th>
                <th># of Organizations Encountering Limitation Current Innovation</th>
                <th># of Organizations Reporting as Potential Limitation Desired Innovation</th>
            </tr>
        </thead>
        <tbody>
        
          {% for key,value in categoria.items %}
          <tr>
          	<td>{{key}}</td>
          	<td>{{value.0}}</td>
          	<td>{{value.1}}</td>
          	</tr>
          {% endfor %}
          
    </tbody>
</table>
</div> 
 
{% endblock contenido %}