{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

<script>
$( ".menu2" ).addClass( "active" );
$( ".menu2-1 a" ).append( " <i class='fa fa-check fa-2x'></i>" );

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#proyectos').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribution of Projects by Sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Contribution',
                data: [
            {% for key,value in  proyectos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

</script>
{% endblock extra_js%} 

{% block contenido %}

{% include "analysis/filtros.html" %}

	<h3>Number, Average, and Median Values of Project/Initiatives by Sector </h3>
<div>
    <table class="table table-bordered">

     <thead>
      <tr>
          <th>Sector</th>
          <th>Number of Organizations</th>
          <th>Number of Projects/Initiatives</th>
          <th>Average number of projects</th>
          <th>Median Values</th>
      </tr>
  </thead>
  <tbody>
    {%for fila in tabla%}
    <tr>
        {%for celda in fila %}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</tbody>
<tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
</tfoot>

</table>
</div>

<div id="proyectos"></div> 

<style>
    .menu2{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu2 > a {
        background: none;
        color: white
    }
    .menu2 .menu2-1{
      background: white;  
    }
    .menu2 .menu2-2{
      background: white;  
    } 
    #page-inner{
        min-height: 1100px
    }   
</style>

{% endblock contenido %}