{% extends "analysis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%} 
<script>
$( ".menu5" ).addClass( "active" );
$( ".menu5-2 a" ).append( " <i class='fa fa-check fa-2x'></i>" );

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#salida9').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribution of Partner Organizations by sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Contribution',
              data: [
            {% for key,value in datos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analysis/filtros.html" %}

<h3>Number, Average, and Median Value of Alliances by Sector</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Number of organizations</th>
                <th>Number of Reported Partners</th>
                <th>Average Number of Partners</th>
                <th>Median Value</th>
            </tr>
        </thead>
        <tbody>
          {%for fila in tabla%}
           <tr>
            {%for celda in fila %}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
    </tfoot>
    </table>
</div> 

<div id="salida9"></div>
<style>
    .menu5{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu5 > a {
        background: none;
        color: white
    }
    .menu5 .menu5-1, .menu5-2, .menu5-3, .menu5-4, .menu5-5{
      background: white;  
    }
    #page-inner{
        min-height: 1250px
    }
</style> 

{% endblock contenido %}