{% extends "mapeo/base.html" %}

{% block contenido %}
<style type="text/css" media="screen">
    article.listas:first-child {
        border-top-width: 0 !important;
    }
    article.listas {
        padding: 15px 0 10px 0;
        border-top: 1px dotted #CDCCC8;
        overflow: hidden;
    }
    article.listas h6 {
        text-transform: uppercase;
    }
    .pointer a, .pointer {
        font-weight: 700 !important;
    }
    .mar-b-5 {
        margin-bottom: 5px !important;
        margin-bottom: 0.5rem !important;
    }
    .mar-t-5 {
        margin-top: 5px !important;
        margin-top: 0.5rem !important;
    }
    h6 {
        font-size: 10px;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #181818;
        font-weight: bold;
        line-height: 1.25;
    }
    h6 {
        display: block;
        font-size: 0.67em;
        -webkit-margin-before: 2.33em;
        -webkit-margin-after: 2.33em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        font-weight: bold;
    }
</style>

<form action="." method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <input class="btn btn-default" type="submit" value="Consultar" />
</form>
<div class="row">

    <section class="articulos">
    {% for obj in proyectos %}
        <article class="listas">
            <h6 class="pointer mar-b-5">{{obj.codigo}}</h6>
            <div>
                <h4 class="mar-b-5 mar-t-5"><a href="#" >{{obj.nombre}}</a></h4>
            </div>

        </article>

    {% endfor %}
    </section>


</div>
{% endblock contenido %}
