{% extends "mapeo/base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="/static/general/css/timeline.css" media="screen" />
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script type="text/javascript" src="/static/monitoreo/js/markerclusterer.js"></script>
<script type="text/javascript" src="/static/monitoreo/js/infobox.js"></script>
<script type="text/javascript" src="/static/general/js/custom.js"></script>
<script type="text/javascript" src="/static/general/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/general/js/jquery.timelinr-0.9.54.js"></script>

<script type="text/javascript">

$(function(){
    $().timelinr({
        arrowKeys: 'true'
    })
});


</script>
{% endblock extra_js %}

{% block contenido %}
<style>
    .mapa{
    	margin: 0 auto;
    	float: left;
    	width: 708px;
    }
    .mapa #map_canvas {
        height: 500px;
        width: 700px;
        margin: 0 auto;
    }
    #map_canvas img,.google-maps img{max-width:none;}
</style>

<div class="row">
    <h4>{{el_proyecto.nombre}}</h4>
    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Proyecto Descripción</a></li>
        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Actores</a></li>
        <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Linea de tiempo</a></li>
        <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">Publicaciones</a></li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="home">
            <ul>
                <li>Inicio: {{el_proyecto.inicio}}</li>
                <li>Finalización: {{el_proyecto.fin}}</li>
                <li>Estado: Activo</li>
                <li>Tipo proyecto: {{el_proyecto.tipo}}</li>
                <li>Administrador del proyecto: {{el_proyecto.encargado}}</li>
            </ul>
            <p>{{el_proyecto.descripcion}}</p>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="profile">
            <div>

              <!-- Nav tabs -->
              <ul class="nav nav-tabs" role="tablist">
                {% if persona_productor %}
                    <li role="presentation" class="active"><a href="#home1" aria-controls="home" role="tab" data-toggle="tab">Productor/productora</a></li>
                {% endif %}
                
                {% if persona_lideres %}
                    <li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">Líder o Lideresa comunitaria</a></li>
                {% endif %}
                
                {% if persona_tecnico %}
                    <li role="presentation"><a href="#messages1" aria-controls="messages" role="tab" data-toggle="tab">Técnico</a></li>
                {% endif %}
                
                {% if persona_esp %}
                    <li role="presentation"><a href="#settings1" aria-controls="settings" role="tab" data-toggle="tab">Especialista</a></li>
                {% endif %}
                
                {% if persona_inv %}
                    <li role="presentation"><a href="#algo1" aria-controls="settings" role="tab" data-toggle="tab">Investigador</a></li>
                {% endif %}
                {% if persona_decisor %}
                    <li role="presentation"><a href="#algo2" aria-controls="settings" role="tab" data-toggle="tab">Decisor</a></li>
                {% endif %}
                
              </ul>

              <!-- Tab panes -->
              <div class="tab-content">
              {% if persona_productor %}
                   <div role="tabpanel" class="tab-pane active" id="home1">
                    <ul>
                        {% for obj in persona_productor %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
              {% endif %}
               
                {% if persona_lideres %}
                    <div role="tabpanel" class="tab-pane" id="profile1">
                    <ul>
                        {% for obj in persona_lideres %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if persona_tecnico %}
                    <div role="tabpanel" class="tab-pane" id="messages1">
                    <ul>
                        {% for obj in persona_tecnico %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if persona_esp %}
                    <div role="tabpanel" class="tab-pane" id="settings1">
                    <ul>
                        {% for obj in persona_esp %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if persona_inv %}
                    <div role="tabpanel" class="tab-pane" id="algo1">
                    <ul>
                        {% for obj in persona_inv %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
                
                {% if persona_decisor %}
                   <div role="tabpanel" class="tab-pane" id="algo2">
                    <ul>
                        {% for obj in persona_decisor %}
                            <li>{{obj.nombre}}</li>
                        {% endfor %}
                    </ul>
                </div> 
                {% endif %}
                
              </div>

            </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="messages">
           <div id="timeline">
            <ul id="dates">
             {% for obj in el_proyecto.timelineproyecto_set.all %}
                <li><a href="#{{obj.fecha|date:'d-b-Y'}}">{{obj.fecha|date:"b,Y"}}</a></li>
             {% endfor %}

            </ul>
            <ul id="issues">
            {% for obj in el_proyecto.timelineproyecto_set.all %}
                 <li id="{{obj.fecha|date:'d-b-Y'}}">
                    <h1>{{obj.fecha}}</h1>
                    <p>{{obj.texto}}</p>
                </li>
            {% endfor %}
            </ul>
            <div id="grad_left"></div>
            <div id="grad_right"></div>
            <a href="#" id="next">+</a>
            <a href="#" id="prev">-</a>
        </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="settings">
            <ul>
                {% for obj in el_proyecto.biblioteca_set.all %}
                    <li><a href="#">{{obj.titulo}} - tipo: {{obj.get_tipo_display}}</a></li>
                {% endfor %}

            </ul>
        </div>
      </div>

</div>


</div>

{% endblock contenido %}
