{% extends "granos_basicos/base.html" %}

{% block contenido %}
<style type="text/css">
#grafo1,#grafo2{
  border: 1px solid #eee;
}
.panel-graficos .panel-heading{
  margin-bottom:20px;
}
</style>
<div class="container-fluid">
  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
    {% include "granos_basicos/menu_salidas_indicadores.html" %}
  </div>
  <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
    <div class="panel panel-default panel-graficos">
      <div class="panel-heading">
        <h3 class="panel-title">
          <ol class="breadcrumb">
            <li class="active">Monitoreos</li>
            <li class="active">Ciclo Productivo</li>
          </ol>
        </h3>
        <h5>Número de productores {{productores}}</h5>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-12">
            <div id="grafo1" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="grafo2" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$( "#monitoreo" ).addClass( "in" );

$(function () {

});
</script>
{% endblock %}
