<!DOCTYPE html>
{%load staticfiles%}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
      <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Alianzas Centroamérica - Caribe</title>
    <link rel="shortcut icon" href="/static/general/img/logo.jpg" />
    <!-- BOOTSTRAP STYLES-->
    <link href="{% static 'general/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"><!-- Bootstrap -->
     <!-- FONTAWESOME STYLES-->

    <link href="{% static 'general/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"><!-- font-awesome -->
        <!-- CUSTOM STYLES-->
    <link href="{% static 'analisis/css/analisis.css' %}" rel="stylesheet" />
    <link href="{% static 'analisis/css/style.css' %}" rel="stylesheet" type="text/css"><!-- theme styles -->
     <!-- GOOGLE FONTS-->
   <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css">
        <!-- SELECT2-->
   <link href="{% static 'analisis/css/select2.min.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% include "menuprincipal.html" %}
    <div id="wrapper">
        <nav class="navbar navbar-default hidden-lg hidden-md " role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>

        </nav>   
           <!-- /. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav drop-down-left" id="main-menu">

                    <li class="text-center">
                    <img src="{% static 'analisis/img/site-logo.jpg' %}" class="user-image"/>
                    </li>
                
                    
                    <li>
                        <a  href="/analisis/"></i>Consultar</a>
                    </li>

                    {% if request.session.fecha %}
                      <li class="menu1">
                        <a  href="/analisis/organizaciones/">Las Organizaciones</a>
                    </li>
                     <li class="menu2">
                        <a href="#">Los Proyectos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu2-1">
                                <a href="/analisis/proyectos-por-sector/">Proyectos por Sector</a>
                            </li>
                            <li class="menu2-2">
                                <a href="/analisis/proyectos-por-tema/">Proyectos por Tema</a>
                            </li>
                        </ul>
                      </li>
                      <li class="menu3">
                        <a href="#">Los Impactos<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu3-1">
                                <a href="/analisis/impactos-por-sector/">Impactos por Sector</a>
                            </li>
                            <li class="menu3-2">
                                <a href="/analisis/impactos-por-tema/">Impactos por Tema</a>
                            </li>
                            <li class="menu3-3">
                                <a href="/analisis/impactos-por-beneficiarios/">Impactos por Beneficiarios</a>
                            </li>
                        </ul>
                      </li>
                       <li class="menu4">
                        <a href="#"></i>Las Innovaciones Recientes<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu4-1">
                                <a href="/analisis/innovaciones-por-sector/">Innovaciones por Sector</a>
                            </li>
                            <li class="menu4-2">
                                <a href="/analisis/innovaciones-por-tema/">Innovaciones  por Tema</a>
                            </li>
                            <li class="menu4-3">
                                <a href="/analisis/temas-por-sector/">Temas por Sector</a>
                            </li>
                        </ul>
                      </li>
                      <li class="menu5">
                        <a href="#">Las Alianzas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu5-1">
                                <a href="/analisis/aliados-roles/">Los Aliados y sus Roles</a>
                            </li>
                            <li class="menu5-2">
                                <a href="/analisis/sectores-aliados/">Los Sectores y sus Aliados</a>
                            </li>
                            <li class="menu5-3">
                                <a href="/analisis/relaciones-sectores/">Las Relaciones de los Sectores</a>
                            </li>
                            <!--<li class="menu5-4">
                                <a href="/analisis/salida11/">Salida 11</a>
                            </li>
                            <li class="menu5-5">
                                <a href="/analisis/salida12/">Salida 12</a>
                            </li>-->
                        </ul>
                      </li>   
                      <!--<li class="menu6" >
                        <a  href="/analisis/salida13/"><i class="fa fa-file-o fa-2x"></i>Temas comunes en Trabajo con organizaciones asociadas</a>
                    </li>-->
                     <li class="menu7">
                        <a href="#">Innovaciones Futuras<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu7-1">
                                <a href="/analisis/innovaciones-futuras-por-sector/">Innovaciones por Sector</a>
                            </li>
                            <li class="menu7-2">
                                <a href="/analisis/innovaciones-futuras-por-tema">Innovaciones por Tema</a>
                            </li>
                        </ul>
                      </li>
                      <li class="menu8">
                        <a href="#"></i>Los Socios actuales y potenciales<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu8-1">
                                <a href="/analisis/socio-potenciales-por-sector/">Socio potenciales por Sector</a>
                            </li>
                            <li class="menu8-2">
                                <a href="/analisis/socios-tiempo/">Socios en el tiempo</a>
                            </li>
                        </ul>
                      </li> 
                    <li class="menu9">
                        <a class=""  href="#"></i>Aprendizaje<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li class="menu9-1">
                                <a href="/analisis/fuentes-aprendizaje/">Fuentes de aprendizaje</a>
                            </li>
                            <li class="menu9-2">
                                <a href="/analisis/informacion-necesaria/">Informacion necesaria</a>
                            </li>
                            <li class="menu9-3">
                                <a href="/analisis/limitaciones/">Limitaciones</a>
                            </li>
                        </ul>
                    </li>
                     <!--<li class="menu10">
                        <a class=""  href="/analisis/salida19/"><i class="fa fa-info-circle fa-2x"></i>Información necesaria para realizar innovaciones deseadas</a>
                    </li>
                    <li class="menu11">
                        <a class=""  href="/analisis/salida20/"><i class="fa fa-table fa-2x"></i>Limitaciones real y percibida de Fomento de la Innovación y Cambio</a>
                    </li>-->
                </ul>
               {% endif %}
            </div>
            
        </nav>  
        <!-- /. NAV SIDE  -->
        <div id="page-wrapper" >
        <div class="col-md-3 col-md-offset-9 idiomabtn">
                <a href="/analisis/"><img src="/static/analisis/img/espana.png" alt="">Español</a>
                <a href="/analysis/"><img src="/static/analisis/img/eeuu.png" alt="">Ingles</a>
            </div>
            <div id="page-inner">
                <div class="row">
                    <div class="col-md-12" >

                    {% block contenido %}{% endblock contenido %}
                     
                       
                    </div>
                </div>
                 <!-- /. ROW  -->
                 <hr />
               
    </div>
             <!-- /. PAGE INNER  -->
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
     <div id="k-footer"><!-- footer -->
    
        <div class="container"><!-- container -->
        
            <div class="row no-gutter"><!-- row -->
            
                <div class="col-lg-4 col-md-4"><!-- widgets column left -->
            
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Links de interes</h1>
                                
                                 <ul>
                                    <li><a href="/analisis/" title="menu item">Analisis Organizacional</a></li>
                                    <li><a href="#" title="menu item">Monitoreo campesino</a></li>
                                    <li><a href="/comunicacion" title="menu item">Plataforma de comunicación</a></li>
                                    <li><a href="#" title="menu item">Productos y procesos</a></li>
                                    <li><a href="#" title="menu item">Mapeo de actores</a></li>
                                </ul>
                    
                            </li>
                            
                        </ul><!-- widgets end -->
                         
                    </div>
                    
                </div><!-- widgets column left end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                
                    <div class="col-consulta col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contactenos</h1>
                            
                                
                                <div itemscope itemtype="http://ciat.cgiar.org"> 
                                
                                    <h2 class="title-median m-contact-subject" itemprop="name">Centro Internacional de Agricultura Tropical (CIAT)</h2>
                                
                                    <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                        <span class="m-contact-street" itemprop="street-address">De Pizza Hut Villa Fontana 1 Cuadra abajo. Edificio CAR 3, Piso 4, Managua, Nicaragua</span>
                                        <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Managua</span>, <span class="m-contact-region" itemprop="region">Nicaragua</span></span>
                                        
                                    </div>
                                     
                                    <div class="m-contact-tel-fax">
                                        <span class="m-contact-tel">Tel: <span itemprop="tel"> (+505) 2270-9965</span></span>
                                        <span class="m-contact-fax">Rein Van der Hoek:</span>
                                        <span itemprop="fax">r.vanderhoek@cgiar.org</span>
                                        <span class="m-contact-fax">Shadi Azadegan:</span>
                                        <span itemprop="fax">s.v.azadegan@cgiar.org</span>
                                    </div>
                                    
                                </div>
                                
                                <div class="social-icons">
                                
                                    <ul class="list-unstyled list-inline">
                                    
                                        <li><a href="http://ciat.cgiar.org" title="Contact us"><i class="fa fa-globe"></i></a></li>
                                        <li><a href="https://twitter.com/CIAT_" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="https://www.facebook.com/ciat.ecoefficient" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    
                                    </ul>
                                
                                </div>
                    
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div><!-- widgets column center end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column right -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            
                        </ul> 
                        
                    </div>
                
                </div><!-- widgets column right end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- footer end -->
    
    <div id="k-subfooter"><!-- subfooter -->
    
        <div class="container"><!-- container -->
        
            <div class="row"><!-- row -->
            
                <div class="col-lg-12">
                
                    <p class="copy-text text-inverse">
                    &copy; 2015 Elaborado por <a href="http://www.simas.org.ni" target="_blank">SIMAS</a> con el Framework <a href="https://www.djangoproject.com/" target="_blank">Django</a>.
                    </p>
                
                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- subfooter end -->


    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{% static 'general/js/jQuery/jquery-2.1.1.min.js' %}"></script>
      <!-- BOOTSTRAP SCRIPTS -->
    <script src="{% static 'general/bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{% static 'analisis/js/jquery.metisMenu.js' %}"></script>
      <!-- CUSTOM SCRIPTS -->
    <script src="{% static 'analisis/js/analisis.js' %}"></script>

    <script src="{% static 'analisis/js/jquery.min.js' %}"></script>
    <script src="{% static 'analisis/js/highcharts.js' %}"></script>
    <script src="{% static 'analisis/js/exporting.js' %}"></script>
    <script src="{% static 'analisis/js/select2.min.js' %}"></script>
    <script src="{% static 'analisis/js/jquery.cookie.js' %}"></script>
    <script src="{% static 'analisis/js/table.exporting.js' %}"></script>

    <script type="text/javascript">
     // var data = [{ id: 0, text: '---------' }];
     // $('#id_sitio_accion').select2({
     //        data:data
     //    });
     // $('#id_plataforma').select2({
     //        data:data
     //    });
      $('select').select2({minimumResultsForSearch: Infinity});
      
    </script>


    {% block extra_js%}{% endblock extra_js %}




</body>
</html>
