{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block contenido %}


*****************************************salida 1************************************************** 
<!--grafico 1 -->
<div id="sector"></div> 

<div>
    <table class="table">
      <tbody>
         {% for key,value in sectores1.items %}
         <tr>
            <td>{{key}}</td>
            <td></td>
            <td>
                {% for x in value %}
                {{x.nombre}}
                <br>
                {% endfor %}
            </td>
            <td></td>
            <td></td>
        </tr>

        {% endfor %}
    </tbody>


</table>
</div>

*****************************************salida 2************************************************** 
<!--tabla 1-->
<h3>Proyectos/Iniciativas de las Organizaciones</h3>
<div>
    <table class="table">

       <thead>
          <tr>
              <th>Grupo Organizacional</th>
              <th>Número de Organizaciones</th>
              <th>Número de Proyectos/Iniciativas</th>
              <th>Número medio de proyectos</th>
              <th>Valor de la Mediana</th>
          </tr>
      </thead>
      <tbody>
         {% for key,value in proyectos.items %}
         <tr>
            <td>{{key}}</td>
            <td></td>
            <td>{{value}}</td>
            <td></td>
            <td></td>
        </tr>

        {% endfor %}
    </tbody>


</table>
</div>

<!--grafico 2 -->
<div id="proyectos"></div> 

+++++++++++++++++++++++++++++++++++++Salida 3++++++++++++++++++++++++++++++++++++++++++++++++ 


<h3>Distribución de Proyectos/Iniciativas por Temáticas</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Temáticas</th>
                <th>Número de Proyectos/Iniciativas</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in temas.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 

<!--grafico 5 -->
<div id="container"></div>

++++++++++++++++++++++++++++++++++++++++++Salida 4+++++++++++++++++++++++++++++++++++++++++++ 
<!-- tabla impactos por organizacion -->
<h3> Numero de Impactos por Grupo Organizacional</h3>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Grupo Organizacional</th>
                <th>Número de Organizaciones</th>
                <th>Número de Impactos</th>
                <th>Número medio de proyectos</th>
                <th>Valor de la Mediana</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in impactos.items %}
            <tr>
                <td>{{key}}</td>
                <td></td>
                <td>{{value}}</td>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 


<!--grafico 3 -->
<div id="impactos"></div> 

++++++++++++++++++++++++++++++++++++++++Salida 5a+++++++++++++++++++++++++++++++++++++++++++++

<!-- tabla impactos por tematica pregunta 4-->
<h3>Distribución de Proyectos/Iniciativas por Temáticas</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Temáticas</th>
                <th>Número de Impactos</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in impactos_tematica.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div> 

++++++++++++++++++++++++++++++++++++++++Salida 5b+++++++++++++++++++++++++++++++++++++++++++++ 

<h3>Distribución de los impactos generados por las Organizaciones por Grupos Beneficiarios</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Grupos Beneficiarios</th>
                <th>Número de Impactos</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <td></td>
                <td></td>
            </tr>
            
        </tbody>
    </table>
</div> 

<!--grafico 6 -->
<div id="grupos_benef"></div> 


+++++++++++++++++++++++++++++++++++++++++++++Salida 6++++++++++++++++++++++++++++++++++++++++ 

<!-- tabla innovaciones por grupos organizacionales pregunta 5-->
<h3>Innovaciones/Cambios por Grupo Organizacional</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Grupo Organizacional</th>
                <th>Número</th>
                <th>Valor de la Mediana</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in innovacion_contador.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


<!-- grafico 4 -->
<div id="innovaciones"></div> 

+++++++++++++++++++++++++++++++++++++++++Salida 7++++++++++++++++++++++++++++++++++++++++++++ 

<!-- tabla innovaciones por grupos organizacionales pregunta 5-->
<h3>Distribución de Innovaciones/Cambios por Temáticas</h3>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Temáticas</th>
                <th>Número de Proytectos</th>
                <th>Número de Innovaciones/Cambios</th>
            </tr>
        </thead>
        <tbody>
            {% for key,value in tematica_innovacion_5a.items %}
            <tr>
                <td>{{key}}</td>
                <td></td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock contenido %}


{% block extra_js%}  


<!-- +++++++++++++++++++++++++++++++++++++++ grafica 1 +++++++++++++++++++++++++++++++++++++++++++++-->

<script>
    $(function () {
        $('#sector').highcharts({
            chart: {
                plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Distribución de la Participación en la Entrevista por Sector'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '% Participacion',
            data: [

            {% for key,value in sectores.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>

<!-- +++++++++++++++++++++++++++++++++++++++ grafica 2 ++++++++++++++++++++++++++++++++++++++++++++++-->

<script>
    $(function () {
        $('#proyectos').highcharts({
            chart: {
                plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Distribución de Proyectos por Tipo de Organización'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [

            {% for key,value in  proyectos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>

<!-- +++++++++++++++++++++++++++++++++++++++ grafica 3 +++++++++++++++++++++++++++++++++++++++++++++++-->

<script>
    $(function () {
        $('#impactos').highcharts({
            chart: {
                plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Distribución de Impactos por Tipo de Organización'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [

            {% for key,value in  impactos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>

<!-- +++++++++++++++++++++++++++++++++++++++ grafica 4 ++++++++++++++++++++++++++++++++++++++++++++++-->
<script>
    $(function () {
        $('#innovaciones').highcharts({
            chart: {
                plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Distribución de Innovaciones/Cambios a través de los Grupos Organizacionales'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [

            {% for key,value in  innovacion_contador.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>


<!-- +++++++++++++++++++++++++++++++++++++++ grafica 5 ++++++++++++++++++++++++++++++++++++++++++++++-->
<script>
    $(function () {
        $('#container').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Número de impactos por Temáticas y Sector'
            },
            xAxis: {
                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total fruit consumption'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'John',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Jane',
                data: [2, 2, 3, 2, 1]
            }, {
                name: 'Joe',
                data: [3, 4, 4, 2, 5]
            }]
        });
    });
</script>

<!-- +++++++++++++++++++++++++++++++++++++++ grafica 6 ++++++++++++++++++++++++++++++++++++++++++++++-->
<script>
    $(function () {
        $('#grupos_benef').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Número de impactos por Grupos beneficiarios y Sector'
            },
            xAxis: {
                categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total fruit consumption'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [{
                name: 'John',
                data: [5, 3, 4, 7, 2]
            }, {
                name: 'Jane',
                data: [2, 2, 3, 2, 1]
            }, {
                name: 'Joe',
                data: [3, 4, 4, 2, 5]
            }]
        });
    });
</script>

{% endblock extra_js%}