{% extends "analisis/baseanalisis.html" %}

{% block contenido %}

	<form action="." method="POST">{% csrf_token %}
	<div class="col-md-3">{{form.fecha.label}}: {{form.fecha}}</div>
	<div class="col-md-3">{{form.pais.label}}: {{form.pais}}</div>
	<div class="col-md-3">{{form.sitio_accion.label}}: {{form.sitio_accion}}</div>
	<div class="col-md-3">{{form.tipo_estudio.label}}: {{form.tipo_estudio}}</div>
	<div class="col-md-3">{{form.plataforma.label}}: {{form.plataforma}}</div>
		
		<input type="submit" value="Consultar" name="consulta" class="btn btn-success consultar"/>
	</form>

	{%if centinela = 1 %}
	<p>Por favor escoger las salidas del menu del lado izquierdo!</p>    
    {%endif%} 
{% endblock contenido %}