{% extends "analisis/baseanalisis.html" %}

{% block contenido %}

	<form action="." method="POST">{% csrf_token %}
		{{form.fecha.label}}: {{form.fecha}}
		{{form.pais.label}}: {{form.pais}}
		{{form.sitio_accion.label}}: {{form.sitio_accion}}
		{{form.tipo_estudio.label}}: {{form.tipo_estudio}}
		{{form.plataforma.label}}: {{form.plataforma}}
		<input type="submit" value="Consultar" name="consulta" class="btn btn-success"/>
	</form>

	{%if centinela = 1 %}
	<p>Por favor escoger las salidas del menu del lado izquierdo!</p>    
    {%endif%} 
{% endblock contenido %}