{% extends "analisis/base.html" %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js"></script>
<script type="text/javascript" src="/static/analisis/js/markerclusterer.js"></script>
<script type="text/javascript" src="/static/analisis/js/infobox.js"></script>

<script>
    var markers = [];
    function initialize()
    {   
        var infowindow = new google.maps.InfoWindow();
        var myLatlng = new google.maps.LatLng(14.290607388017058,-80.67581550625005);
        var myOptions = {
            zoom: 5,
            center: myLatlng, 
        }

        var map = new google.maps.Map(document.getElementById('map-canvas'), myOptions);
        var bounds = new google.maps.LatLngBounds();
        var infowindow = new google.maps.InfoWindow();
        //var image = new google.maps.MarkerImage('/static/img/m2.png');
        
        
        $.getJSON("/analisis/mapa/", function(data){
            $.each(data, function(i, elemento){
                var latlng = new google.maps.LatLng(elemento.lat, elemento.lon);
                bounds.extend(latlng);  
                var marker = new google.maps.Marker({
                    position: latlng,
                    map: map,
                    //title: elemento.nombre,
                    //icon: image,
                    item: '',
                    id: elemento.id
                });
                markers.push(marker);

                google.maps.event.addListener(marker, 'click', (function(mm, tt) {
                    return function() {
                        infowindow.setContent(tt);
                        infowindow.open(map, mm);
                    }
                })(marker, elemento.nombre));
                
            });
            var markerCluster = new MarkerClusterer(map, markers);

        });
        
        //map.fitBounds(bounds);    
    }

    google.maps.event.addDomListener(window, 'load', initialize);
</script>


{% endblock extra_js%}

{% block inicio %}
<style>
    #map-canvas {
        height: 500px;
        width: 97.5%;
        margin: 0px;
        padding: 0px;
    }

</style>
<div class="row no-gutter"><!-- row -->
			<div id="k-sidebar" class="col-lg-3 col-md-3"><!-- sidebar wrapper -->
                    
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widget -->
                    
                                <h1 class="title-widget">Actualmente</h1>
                                
                               
                                    <div class="monitoreo-data clearfix">

                                        <div class="data-analisis">
                                                
                                            <h1 class="title-median">
                                                <span class="cant">{{estudios}}</span>
                                                Estudios
                                            </h1>
                                        </div>
                                    </div>

                                    <div class="monitoreo-data clearfix">

                                        <div class="data-analisis">
                                                
                                            <h1 class="title-median">
                                                <span class="cant">{{organizaciones}}</span>
                                                Organizaciones
                                            </h1>
                                        </div>
                                    </div>
                                    <!--<div class="monitoreo-data clearfix">

                                        <div class="data-analisis">
                                                
                                            <h1 class="title-median">
                                                <span class="cant">65</span>
                                                Mujeres
                                            </h1>
                                        </div>

                                    </div>
                                    <div class="monitoreo-data clearfix">

                                        <div class="data-analisis">
                                                
                                            <h1 class="title-median">
                                                <span class="cant">5</span>
                                                Hombres
                                            </h1>
                                        </div>

                                    </div>-->
                                    <br>
                                    <a class="btn btn-success center-block" href="/analisis/consulta/">Explorar los datos ahora</a>
                    
                            </li>
                            
                            
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
                
                <div class="col-lg-6 col-md-6"><!-- doc body wrapper -->

                        <div class="row gutter"><!-- row -->
                        
                            <div class="col-lg-12 col-md-12">
                            
                             <div class="mapa">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
									<!--<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982949.241071726!2d-84.98345379999998!3d12.869165250000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f10c200ceff22cd%3A0xc8faa7e53fac15b5!2sNicaragua!5e0!3m2!1ses-419!2sni!4v1437072402180" width="100%" height="475" frameborder="0" style="border:0" allowfullscreen></iframe>-->
                                    <div id="map-canvas"></div>
								</div>
                            </div>
                            
                            </div>
                        
                        </div><!-- row end -->               
                    
                  
                    
                </div><!-- doc body wrapper end -->
                			<div id="k-sidebar" class="col-lg-3 col-md-3"><!-- sidebar wrapper -->
                    
                    <div class="col-padded col-shaded"><!-- inner custom column -->
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widget -->
                    
                                <h1 class="title-widget">Análisis organizacional</h1>
                                
								<div class="cuerpo">
							            Ac sed natoque ut rhoncus lacus turpis tortor facilisis, ut? Arcu amet amet pellentesque massa. Montes lacus nec nisi cum, turpis! Facilisis elementum integer? Habitasse rhoncus placerat platea nisi eros, cursus nec mus velit tincidunt, dolor, quis turpis dapibus nunc, integer ac lacus est cum nec dapibus nunc! Integer lacus odio et? Enim lectus nec eros velit urna sit sagittis, amet et etiam dignissim...
							        <br><br>
							        <a class='examplelink' href="#">Continuar leyendo <img src="/static/monitoreo/imagen/seguir.png" class="seguir" alt="seguir"></a>
							    </div> 
                    
                            </li>
                            
                            
                        </ul><!-- widgets end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- sidebar wrapper end -->
                
            
            </div><!-- row end Corta hasta aca-->

<br>
<br>
{% endblock inicio %}
