{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
	<h3>Distribución de las Innovaciones/Cambios deseados por Temáticas</h3>
<div>
    <table class="table table-bordered">

     <thead>
      <tr>
          <th>Temática</th>
          <th>Número de Innovaciones/Cambios Deseados</th>
      </tr>
  </thead>
  <tbody>
  {% for key,value in temas.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
</tbody>

</table>
</div>

<!--grafico 2 -->
<div id="salida14"></div> 

{% endblock contenido %}