{# {% extends "analisis/baseanalisis.html" %} #}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%} 

{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}

<h3>Número de Innovaciones por Sector y Temática</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Temática</th>
                {% for sector in sectores %}
                    <th>{{sector}}</th>
                {% endfor %}
                <th>Total</th>
                
            </tr>
        </thead>
        <tbody>
        
        {% for key,value in lista_sectores.items %}
<tr>
                    <td>{{key}}</td>
                    {% for z in value.0 %}
                        <td>{{z}}</td>
                    {% endfor %}
                    <td>{{value.1}}</td>
                 
 </tr>
            {% endfor %}
        

        </tbody>
    </table>
</div> 

<style>
    .menu6{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu6 > a {
        background: none;
        color: white

    }
</style>
{% endblock contenido %}