{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

<script>
    $(function () {
        $('#salida5').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Número de Impactos por Temáticas y Sector'
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Impactos'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
<h3> Distribución de los Impactos generados por las Organizaciones por Área Temática</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Área temática</th>
                <th>Número de proyectos</th>
                <th>Número de Impactos</th>
            </tr>
        </thead>
        <tbody>
            {%for fila in datos %}
    <tr>
        {%for celda in fila %}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
        </tbody>
    </table>
</div> 

<div id="salida5"></div> 

{% endblock contenido %}