{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

<script>
$( ".menu3" ).addClass( "active" );
$( ".menu3-3 a" ).append( " <i class='fa fa-check fa-lg'></i>" );

    $(function () {
        $('#salida5b').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Número de Impactos por Grupos beneficiarios y Sector'
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Impactos'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
<h3> Distribución de Impactos generados por las Organizaciones por Grupo Beneficiarios</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Grupo beneficiarios</th>
                <th>Número de Impactos</th>
            </tr>
        </thead>
        <tbody>
            {%for k,v in beneficiario.items%}
            <tr>  
              <td>{{k}}</td>
              <td>{{v}}</td>      
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> 

<div id="salida5b"></div>

<style>
    .menu3{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu3 > a {
        background: none;
        color: white
    }
    .menu3 .menu3-1{
      background: white;  
    }
    .menu3 .menu3-2{
      background: white;  
    }  

    .menu3 .menu3-3{
      background: white;  
    }
    #page-inner{
        min-height: 1150px
    } 
</style> 

{% endblock contenido %}