{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
    $(function () {
        $('#salida16').highcharts({
            chart: {
                plotBackgroundColor: null,
            plotBorderWidth: 1,//null,
            plotShadow: false
        },
        title: {
            text: 'Socios potenciales de Innovaciones/Cambios por Sector'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: '% Participacion',
            data: [

            {% for key,value in grafica.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
	<h3>Socios potenciales de Innovaciones/Cambios por Sector</h3>
<div>
    <table class="table">
  <tbody>
  {% for key,value in datos.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                {% for x in value %}
                	{{x}},
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
</tbody>

</table>
</div>


<div id="salida16"></div> 

{% endblock contenido %}