{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
    $(function () {
        $('#salida5').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: 1,//null,
                plotShadow: false
        },
        title: {
            text: 'Distribución de Impactos por Tipo de Organización'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: [

            {% for key,value in  impactos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
        }]
    });
});</script>
{% endblock extra_js%} 

{% block contenido %}
<h3> Distribución de impactos generados por las organizaciones por Grupo Beneficiarios</h3>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>Grupo beneficiarios</th>
                <th>Número de Impactos</th>
            </tr>
        </thead>
        <tbody>
            {%for k,v in beneficiario.items%}
            <tr>  
              <td>{{k}}</td>
              <td>{{v}}</td>      
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> 

<div id="salida5"></div> 

{% endblock contenido %}