{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu7" ).addClass( "active" );
$( ".menu7-2 a" ).append( " <i class='fa fa-check fa-lg'></i>" );


$(function () {
        $('#salida15').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Distribución de las Innovaciones/Cambios deseados por Sector y Temática'
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Innovaciones deseadas'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
	<h3>Distribución de las Innovaciones/Cambios deseados por Temáticas</h3>
<div>
    <table class="table table-bordered">

     <thead>
      <tr>
          <th>Temática</th>
          <th>Número de Innovaciones/Cambios Deseados</th>
      </tr>
  </thead>
  <tbody>
  {% for key,value in temas.items %}
            <tr>
                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {% endfor %}
</tbody>

</table>
</div>


<div id="salida15"></div> 

<style>
    .menu7{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu7 > a {
        background: none;
        color: white
    }
    .menu7 .menu7-1, .menu7-2 {
      background: white;  
    }
    #page-inner{
        min-height: 1100px
    }
    </style>
{% endblock contenido %}