{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  

{% endblock extra_js%} 


{% block contenido %}
{% include "analisis/filtros.html" %}

<h3>Organizaciones socias para los Proyectos e Innovaciones por Sector</h3>
	<div>
    <table class="table table-bordered">
      <tbody>
       {% for key,value in datos.items %}
       <tr>
        <td>{{key}}</td>
        <td>
        {% for x in value %}
        {% if x.sector == key %}
            {{x}},
        {% endif %}
            
        {% endfor %}
            

            
        </td>
    </tr>

    {% endfor %}
</tbody>
</table>
</div>
 
{% endblock contenido %}