{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu3" ).addClass( "active" );
$( ".menu3-1 a" ).append( " <i class='fa fa-check fa-lg'></i>" );

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#impactos').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribución de Impactos por Tipo de Organización'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Aporte',
               data: [

            {% for key,value in  impactos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
<h3>Número de Impactos por Grupo Organizacional</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Grupo Organizacional</th>
                <th>Número de Organizaciones</th>
                <th>Número de Impactos</th>
                <th>Número medio de proyectos</th>
                <th>Valor de la Mediana</th>
            </tr>
        </thead>
        <tbody>
           {%for fila in tabla%}
           <tr>
            {%for celda in fila %}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
    </tfoot>
</table>
</div> 


<!--grafico 3 -->
<div id="impactos"></div> 

<style>
    .menu3{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu3 > a {
        background: none;
        color: white
    }
    .menu3 .menu3-1{
      background: white;  
    }
    .menu3 .menu3-2{
      background: white;  
    }  

    .menu3 .menu3-3{
      background: white;  
    }
    #page-inner{
        min-height: 1150px
    }  
</style>     

{% endblock contenido %}