{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu9" ).addClass( "active" );
$( ".menu9-1 a" ).append( " <i class='fa fa-check fa-lg'></i>" );

</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
<h3>Número de Fuentes de Aprendizaje resportadas para llevar a cabo las Innovaciones por Sector </h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Número de Organizaciones</th>
                <th>Número de fuentes de aprendizaje utilizadas</th>
                <th>Número medio de fuentes de aprendizaje utilizadas</th>
                <th>Valor de la Mediana</th>
            </tr>
        </thead>
        <tbody>
           {%for fila in tabla%}
           <tr>
            {%for celda in fila %}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
    </tbody>
    <tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
    </tfoot>
</table>
</div> 


<h3>Frecuencia de uso de las diferentes fuentes de aprendizaje</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Número de organizaciones que reportan aprendizajes por cada fuente</th>
                <th>Menos de 2 organizaciones</th>
                <th>2-4 organizaciones</th>
                <th>5-7 Organizaciones</th>
            </tr>
        </thead>
        <tbody>
          {% for key,value in cat_fuente.items %}
          </tr>
          <td>{{key}}</td>
              {% if value == 0 %}
                      <td></td>
                      <td></td>
                      <td></td>
                {% elif value <= 2 %}
                      <td>x</td>
                      <td></td>
                      <td></td>
                {% elif value >= 2 and value <= 4 %}
                      <td></td>
                      <td>x</td>
                      <td></td>
                {% elif value >= 5 and value <= 7 %}
              {% endif %}
          <tr>
              
          {% endfor %}
    </tbody>
</table>
</div> 
 
 <style>
    .menu9{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu9 > a {
        background: none;
        color: white
    }
    .menu9 .menu9-1, .menu9-2, .menu9-3 {
      background: white;  
    }
</style>

{% endblock contenido %}