{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%} 
<script>
$( ".menu5" ).addClass( "active" );
$( ".menu5-2 a" ).append( " <i class='fa fa-check fa-lg'></i>" );

$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#salida9').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribución de los aliados de las Organizaciones por Sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Aporte',
              data: [
            {% for key,value in datos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

$(function () {
        $('#salida11').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Distribución de las Alianzas por Sector'
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Alianzas'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}

<h3>Número, promedio y valores medianos de las Alianzas por Sector</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Sector</th>
                <th>Número de Organizaciones</th>
                <th>Número de Socios reportados</th>
                <th>Número promedio de Socios</th>
                <th>Valor de la Media</th>
            </tr>
        </thead>
        <tbody>
          {%for fila in tabla%}
           <tr>
            {%for celda in fila %}
            <td>{{celda}}</td>
            {%endfor%}
        </tr>
        {%endfor%}
        </tbody>
        <tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
    </tfoot>
    </table>
</div> 

<div id="salida9"></div> 

<div id="salida11"></div>

<style>
    .menu5{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu5 > a {
        background: none;
        color: white
    }
    .menu5 .menu5-1, .menu5-2, .menu5-3, .menu5-4, .menu5-5{
      background: white;  
    }
    #page-inner{
        min-height: 1250px
    }
</style> 

{% endblock contenido %}