{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}

<script>
    $(function () {

        $(document).ready(function () {

        // Build the chart
        $('#sector').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribución de la Participación en la Entrevista por Sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '{point.percentage:.1f} %',

                    },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Aporte',
                data: [

                {% for key,value in sectores.items %}
                ['{{key}}', {{value}}],
                {% endfor %}
                ]
            }]
        });
});

});

</script>
{% endblock extra_js%} 


{% block contenido %}
<style>
    td{
        width: 50% !important;
    }
</style>
{% include "analisis/filtros.html" %}

<h3>Organizaciones participando en el estudio</h3>

<!-- <a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;">Exportar</a> -->


<div id="modalidad">
    <table class="table table-bordered">
    <thead>
        <th>Sectores</th>
        <th>Organizaciones</th>
    </thead>
      <tbody>
         {% for key,value in sectores1.items %}
         <tr>
            <td>{{key}}</td>

            <td>
                {% for x in value %}
         

                <a href="{% url 'detalle-contraparte' x.organizacion.id %}">{{x.organizacion}}</a>,
                
                {% endfor %}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<!--grafico 1 -->
<div id="sector"></div> 

<style>
    .menu1{
        background: #5d8c3b;

    }
    .sidebar-collapse .nav > .menu1 > a {
        background: none;
        color: white

    }
</style>


{% endblock contenido %}