{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$( ".menu4" ).addClass( "active" );
$( ".menu4-2 a" ).append( " <i class='fa fa-check fa-lg'></i>" );

    $(function () {
        $('#salida7').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: 'Distribución de las Innovaciones/Cambios por Sector y Temática'
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Innovaciones'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
<h3>Distribución de las Innovaciones/Cambios por Temáticas</h3>

<div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Área temática</th>
                <th>Número de Proyectos</th>
                <th>Número de Innovaciones/cambios</th>
            </tr>
        </thead>
        <tbody>
            {%for k,v in datos.items%}
            <tr>  
              <td>{{k}}</td>
              <td>{{v.0}}</td>
              <td>{{v.1}}</td>
                  
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div> 

<div id="salida7"></div>

<style>
    .menu4{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu4 > a {
        background: none;
        color: white
    }
    .menu4 .menu4-1{
      background: white;  
    }
    .menu4 .menu4-2{
      background: white;  
    }  
    .menu4 .menu4-3{
      background: white;  
    } 
    #page-inner{
        min-height: 1100px
    }
</style> 

{% endblock contenido %}