{% extends "analisis/baseanalisis.html" %} 
{%load staticfiles%}
{% load i18n %}

{% block extra_js%} 
<script>
$( ".menu4" ).addClass( "active" );
$( ".menu4-3 a" ).append( " <i class='fa fa-check fa-lg'></i>" );
</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}

<h3>Número de Innovaciones por Sector y Temática</h3>

<div class="table-responsive-100">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Temática</th>
                {% for sector in sectores %}
                    <th>{{sector}}</th>
                {% endfor %}

                <th>Total</th>
                
            </tr>
        </thead>
        <tbody>
        
        {% for key,value in lista_sectores.items %}
                <tr>
                    <td>{{key}}</td>
                    {% for z in value.0 %}
                        <td>{{z}}</td>
                    {% endfor %}
                    <td>{{value.1}}</td>
                 
                </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td>Total</td>
                {% for x in lista_totales %}
                    <td>{{x}}</td>
                {% endfor %}
                <td>{{total}}</td>
            </tr>
        </tfoot>

        
    </table>
</div> 

<style>
    .menu4{
        background: #5d8c3b;
    }
    .sidebar-collapse .nav > .menu4 > a {
        background: none;
        color: white
    }
    .menu4 .menu4-1{
      background: white;  
    }
    .menu4 .menu4-2{
      background: white;  
    }  
    .menu4 .menu4-3{
      background: white;  
    } 
    #page-inner{
        min-height: 1100px
    }
</style>
{% endblock contenido %}