{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}


{% block extra_js%}  
<!-- ++ grafica 2  -->
<script>
$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#salida14').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Distribución de innovaciones/cambios deseados a traves de grupos Organizacionales'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Aporte',
               data: [
            {% for key,value in  proyectos.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});</script>
{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
Número, promedio y valores medianos de las alianzas por sector
	<h3>Número, promedio y valores medianos de las innovaciones/cambios por sector</h3>
<div>
    <table class="table">

     <thead>
      <tr>
          <th>Sector</th>
          <th>Número de Organizaciones</th>
          <th>Número de Proyectos/Iniciativas deseados</th>
          <th>Número medio por Sector</th>
          <th>Valor de la Mediana</th>
      </tr>
  </thead>
  <tbody>
    {%for fila in tabla%}
    <tr>
        {%for celda in fila %}
        <td>{{celda}}</td>
        {%endfor%}
    </tr>
    {%endfor%}
</tbody>
<tfoot>
        <td>Total</td>
        <td>{{total1}}</td>
        <td>{{total2}}</td>
        <td>{{total3|floatformat:2}}</td>
        <td></td>
</tfoot>

</table>
</div>

<!--grafico 2 -->
<div id="salida14"></div> 

{% endblock contenido %}