{% extends "analisis/baseanalisis.html" %}
{%load staticfiles%}
{% load i18n %}

{% block extra_js%}  
<script>
$(function () {

    $(document).ready(function () {

        // Build the chart
        $('#salida16').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Socios potenciales de Innovaciones/Cambios por Sector'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                    enabled: true,
                    format: '{point.percentage:.1f} %',
                    
                },
                    showInLegend: true
                }
            },
            series: [{
                type: 'pie',
                name: 'Aporte',
               data: [

            {% for key,value in grafica.items %}
            ['{{key}}', {{value}}],
            {% endfor %}
            ]
            }]
        });
    });

});

$(function () {
        $('#salida16b').highcharts({
            chart: {
                type: 'bar'
            },
            title: {
                text: ''
            },
            xAxis: {
                categories: [
                                {% for key,value in sectores.items %}
                                    {% for x,y in value.items %}
                                        '{{x}}',
                                    {% endfor %}
                                    
                                {% endfor %}
                            ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Número de Socios Potenciales por Sector'
                }
            },
            legend: {
                reversed: true
            },
            plotOptions: {
                series: {
                    stacking: 'normal'
                }
            },
            series: [

            {% for x,y in lista_sectores.items %}
                {
                name: '{{x}}',
                data: {{y}}
            },
            {% endfor %}
        ]
        });
    });

</script>

{% endblock extra_js%} 

{% block contenido %}
{% include "analisis/filtros.html" %}
	<h3>Socios potenciales de Innovaciones/Cambios por Sector</h3>
<div>
    <table class="table table-bordered">
  <tbody>
  {% for key,value in datos.items %}
            <tr>
                <td>{{key}}</td>
                <td>
                {% for x in value %}
                	{{x}},
                {% endfor %}
                </td>
            </tr>
            {% endfor %}
</tbody>

</table>
</div>


<div id="salida16"></div>

<div id="salida16b"></div>

{% endblock contenido %}