{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Determinación de madurez'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion1.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Herramientas para el corte'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion2.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Criterias para seleccionar antes de quiebra'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion3.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Herramientas para el quiebre'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion4.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo5').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Tipo de almacenamientos'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion5.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo7').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Manejo de mazorcas enfermas'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion7.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo8').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Cada cuento realiza el corte'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: 'Daño',
            colorByPoint: true,
            data: [
            {% for k,v in dict_conversacion8.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Cosecha</li>
                            <li class="active">Conversaciones con el productor</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo2"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo3"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo4"></div>
                        </div>
                    </div>
                     <hr>
                     <div class="row">
                        <div class="col-md-12">
                            <div id="grafo5"></div>
                        </div>
                    </div>
                     <hr>
                      <div class="row">
                        <div class="col-md-12">
                                    <table class="table">
                                    <caption>Tiempo para llevar el cacao al centro de acopio</caption>
                                        <thead>
                                          <tr>
                                            <th>Estadisticas</th>
                                            <th>Valores en dias</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Número de parcelas</td>
                                            <td>{{numero_parcelas}}</td>
                                          </tr>
                                          <tr>
                                            <td>Promedio</td>
                                            <td>{{promedio|floatformat:2}} dias</td>
                                          </tr>
                                          <tr>
                                            <td>Desviación estandar</td>
                                            <td>{{desviacion_estandar|floatformat:2}} dias</td>
                                          </tr>
                                           <tr>
                                            <td>Mediano</td>
                                            <td>{{mediano|floatformat:2}} dias</td>
                                          </tr>
                                           <tr>
                                            <td>Minimo</td>
                                            <td>{{minimo.0}} dias</td>
                                          </tr>
                                           <tr>
                                            <td>Maximo</td>
                                            <td>{{maximo.0}} dias</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </div>
                    </div>
                     <hr>
                     <div class="row">
                        <div class="col-md-12">
                            <div id="grafo7"></div>
                        </div>
                    </div>
                     <hr>
                     <div class="row">
                        <div class="col-md-12">
                            <div id="grafo8"></div>
                        </div>
                    </div>
                     <hr>
                </div>
            </div>

        </div>


    </div>

{% endblock contenido %}


