{% extends "guiascacao/base.html" %}

{% load tools %}

{% block contenido %}
    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Cosecha</li>
                            <li class="active">Cosecha Mazorcas enfermas</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                      <div class="row">
                        <div class="col-md-12">
                                    <table class="table">
                                    <caption>Cosecha datos</caption>
                                        <thead>
                                          <tr>
                                            <th>Datos</th>
                                            <th>Valores</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Número total de plantas observadas cosecha principal</td>
                                            <td>{{TOTAL_PLANTAS}}</td>
                                          </tr>
                                          <tr>
                                            <td>Número total de mazorcas enfermas cosecha principal</td>
                                            <td>{{TOTAL_MAZORCAS_SANAS|floatformat:2}}</td>
                                          </tr>
                                          <tr>
                                            <td>Número de mazorcas enfermas/plantas cosecha principal</td>
                                            <td>{{MAZORCA_SANA_POR_PLATA|floatformat:2}}</td>
                                          </tr>
                                           <tr>
                                            <td>Promedio numero de plantas/Mz</td>
                                            <td>{{PROMEDIO_PLATAS_POR_MANZANA|floatformat:2}}</td>
                                          </tr>
                                           <tr>
                                            <td>Número de mazorcas enfermas/mz anual</td>
                                            <td>{{MAZORCAS_SANAS_X_MANZANAS|floatformat:2}}</td>
                                          </tr>
                                           <tr>
                                            <td>Peso de baba en qq/mz anual</td>
                                            <td>{{PESO_BABA|floatformat:2}}</td>
                                          </tr>
                                          <tr>
                                            <td>Peso de granos secos en qq/mz anual</td>
                                            <td>{{PESO_GRANO_SECO|floatformat:2}}</td>
                                          </tr>
                                          <tr>
                                            <td>Peso de granos secos en kg/ha anual</td>
                                            <td>{{PESO_GRANO_SECO_KILO_HA|floatformat:2}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                        </div>
                    </div>
                     <hr>
                </div>
            </div>

        </div>


    </div>

{% endblock contenido %}