<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="google-site-verification" content="Nqv5ejOOaCpct1XzJ10eOzVHz0dbN0rv4M6i-hmNQec" />
	<title>Plataformas CIAT</title>
	<link rel="stylesheet" href="/static/general/css/animate.min.css">
	<link rel="stylesheet" href="/static/general/css/stylegeneral.css">
	<link rel="stylesheet" href="/static/general/css/hover.css">
	<link href="/static/general/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
	<!-- font-awesome -->
</head>
<body>


	<div class="fondo">
		<div class="container">
			<div class="row">
				{% block contenido %}{% endblock contenido %}
			</div>
		</div>

	</div>
	<div class="footer">
		<img src="/static/general/img/site-logo.jpg" alt="Site Logo" class="img-responsive">
	</div>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>


	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
	{% block extra_js %}{% endblock extra_js %}
</body>
</html>