<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>{%block title%}CIAT Comunicación{%endblock%}</title>
    <!--[<link type="text/css" rel="stylesheet"  href="/static/temporal/css/cafod.css">-->
    
    <!-- Styles -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,800" rel="stylesheet" type="text/css"><!-- Google web fonts -->
    <link href="/static/temporal/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"><!-- font-awesome -->
    <link href="/static/temporal/js/dropdown-menu/dropdown-menu.css" rel="stylesheet" type="text/css"><!-- dropdown-menu -->
    <link href="/static/temporal/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"><!-- Bootstrap -->
<!--    <link href="/static/temporal/js/fancybox/jquery.fancybox.css" rel="stylesheet" type="text/css">Fancybox -->
    <!-- <link href="/static/temporal/js/audioplayer/audioplayer.css" rel="stylesheet" type="text/css">Audioplayer -->
    <link href="/static/temporal/style.css" rel="stylesheet" type="text/css"><!-- theme styles -->

 
  
 

    <script type="text/javascript">
      $(function() {
      $("#id_apertura , #id_cierre , #id_fecha_skype , #id_memoria, #id_inicio, #id_final").datepicker({ 
          dateFormat: 'dd/mm/yy', 
          dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sa'], 
          monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio','Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
          changeYear: true
        });
    });
    </script>
      <!--[if IE 7]>
      <link href="{{ STATIC_URL }}/static/temporal/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-40921144-1', 'amarcnicaragua.org');
  ga('send', 'pageview');

</script>
  {%block extra_js%}{%endblock%}
</head>
<body role="document" class="single-post">

{% block header %}
      <!-- device test, don't remove. javascript needed! -->
    <span class="visible-xs"></span><span class="visible-sm"></span><span class="visible-md"></span><span class="visible-lg"></span>
    <!-- device test end -->
    
    <div id="k-head" class="container"><!-- container + head wrapper -->
    
      <div class="row"><!-- row -->

        {% include "menuprincipal.html" %}
          <div class="col-lg-12">
        
            <div id="k-site-logo" class="pull-left"><!-- site logo -->
                
                    <h1 class="k-logo">
                        <a href="/comunicacion" title="Inicio Comunicaciones">
                            <img src="/static/temporal/img/site-logo.jpg" alt="Site Logo" class="img-responsive" />
                        </a>
                    </h1>
                    
                    <a id="mobile-nav-switch" href="#drop-down-left"><span class="alter-menu-icon"></span></a><!-- alternative menu button -->
            
              </div><!-- site logo end -->

              <nav id="k-menu" class="k-main-navig"><!-- main navig -->
        
                    <ul id="drop-down-left" class="k-dropdown-menu menuadmin ">

                        <li>
                            <i class="fa fa-file-text-o fa-3x"></i>
                            <a href="/foros/privado/nota" title="">Mis Notas</a>
                        </li>
                        <li>
                            <i class="fa fa-calendar fa-3x"></i>
                            <a href="/agendas/calendario" title="">Mi Agenda</a>
                        </li>
                        <li>
                            <i class="fa fa-comments-o fa-3x"></i>
                            <a href="/foros" title="">Foro</a>
                        </li>
                        <li>
                            <i class="fa fa-folder-o fa-3x"></i>
                            <a href="/foros/privado/documento" title="">Documentos</a>

                        </li>
                        <li>
                            <i class="fa fa-youtube-play fa-3x"></i>
                            <a href="/foros/privado/multimedia_fotos" title="">Multimedia</a>
                        </li>
                        <li>
                         <i class="fa fa-envelope-o fa-3x"></i>
                            <a href="/contrapartes/mensaje/ver" title="">Mensajes</a>
                        </li>
                    </ul>
        
              </nav><!-- main navig end -->
            
            </div>
            
        </div><!-- row end -->
    
    </div><!-- container + head wrapper end -->

{% endblock %}
{% block cuerpoadmin %}
    <div id="k-body"><!-- content wrapper -->
    
        <div class="container"><!-- container -->
        
            <div class="row"><!-- row -->
            
                <div id="k-top-search" class="col-lg-12 clearfix"><!-- top search -->
                
                    <form action="#" id="top-searchform" method="get" role="search">
                        <div class="input-group">
                            <input type="text" name="s" id="sitesearch" class="form-control" autocomplete="off" placeholder="Type in keyword(s) then hit Enter on keyboard" />
                        </div>
                    </form>
                    
                    <div id="bt-toggle-search" class="search-icon text-center"><i class="s-open fa fa-search"></i><i class="s-close fa fa-times"></i></div><!-- toggle search button -->
                
                </div><!-- top search end -->
                   
                
            </div><!-- row end -->
            <br>
            {%block contenido%}{%endblock%}
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->
{% endblock cuerpoadmin %}


{%block footer%}
    <div id="k-footer"><!-- footer -->
    
        <div class="container"><!-- container -->
        
            <div class="row no-gutter"><!-- row -->
            
                <div class="col-lg-4 col-md-4"><!-- widgets column left -->
            
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_nav_menu"><!-- widgets list -->
                    
                                <h1 class="title-widget">Links de interes</h1>
                                
                                <ul>
                                    <li><a href="#" title="menu item">Placement Exam Schedule</a></li>
                                    <li><a href="#" title="menu item">Superintendent's Hearing Audio</a></li>
                                    <li><a href="#" title="menu item">Budget Central</a></li>
                                    <li><a href="#" title="menu item">Job Opportunities - Application</a></li>
                                    <li><a href="#" title="menu item">College Acceptances as of May 12</a></li>
                                </ul>
                    
                            </li>
                            
                        </ul>
                         
                    </div>
                    
                </div><!-- widgets column left end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column center -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_recent_news"><!-- widgets list -->
                    
                                <h1 class="title-widget">Contactenos</h1>
                                
                                <div itemscope itemtype="http://data-vocabulary.org/Organization"> 
                                
                                    <h2 class="title-median m-contact-subject" itemprop="name">Buntington Public Schools</h2>
                                
                                    <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                        <span class="m-contact-street" itemprop="street-address">19 Tower Avenue, Buntington Station</span>
                                        <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">New York</span>, <span class="m-contact-region" itemprop="region">NY</span></span>
                                        <span class="m-contact-zip-country"><span class="m-contact-zip" itemprop="postal-code">11506</span> <span class="m-contact-country" itemprop="country-name">USA</span></span>
                                    </div>
                                     
                                    <div class="m-contact-tel-fax">
                                        <span class="m-contact-tel">Tel: <span itemprop="tel">631-551-3678</span></span>
                                        <span class="m-contact-fax">Fax: <span itemprop="fax">631-551-3688</span></span>
                                    </div>
                                    
                                </div>
                                
                                <div class="social-icons">
                                
                                    <ul class="list-unstyled list-inline">
                                    
                                        <li><a href="#" title="Contact us"><i class="fa fa-envelope"></i></a></li>
                                        <li><a href="#" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                    
                                    </ul>
                                
                                </div>
                    
                            </li>
                            
                        </ul>
                        
                    </div>
                    
                </div><!-- widgets column center end -->
                
                <div class="col-lg-4 col-md-4"><!-- widgets column right -->
                
                    <div class="col-padded col-naked">
                    
                        <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                            <li class="widget-container widget_sofa_flickr"><!-- widgets list -->
                    
                                <h1 class="title-widget">Imagenes</h1>
                                
                                <ul class="k-flickr-photos list-unstyled">
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-1.jpg" alt="Photo 1" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-2.jpg" alt="Photo 2" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-3.jpg" alt="Photo 3" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-4.jpg" alt="Photo 4" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-5.jpg" alt="Photo 5" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-6.jpg" alt="Photo 6" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-7.jpg" alt="Photo 7" /></a></li>
                                    <li><a href="#" title="Flickr photo"><img src="/static/temporal/img/flickr-8.jpg" alt="Photo 8" /></a></li>
                                </ul>
                    
                            </li>
                            
                        </ul> 
                        
                    </div>
                
                </div><!-- widgets column right end -->
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- footer end -->
    
    <div id="k-subfooter"><!-- subfooter -->
    
        <div class="container"><!-- container -->
        
            <div class="row"><!-- row -->
            
                <div class="col-lg-12">
                
                    <p class="copy-text text-inverse">
                    &copy; 2015 Buntington Public Schools. All rights reserved.
                    </p>
                
                </div>
            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- subfooter end -->
{%endblock%}
    <!-- jQuery -->
    <script src="/static/temporal/jQuery/jquery-2.1.1.min.js"></script>
    <script src="/static/temporal/jQuery/jquery-migrate-1.2.1.min.js"></script>
    
    <!-- Bootstrap -->
    <script src="/static/temporal/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Drop-down -->
    <script src="/static/temporal/js/dropdown-menu/dropdown-menu.js"></script>
    
    <!-- Fancybox -->
    <script src="/static/temporal/js/fancybox/jquery.fancybox.pack.js"></script>
    <script src="/static/temporal/js/fancybox/jquery.fancybox-media.js"></script><!-- Fancybox media -->
    
    <!-- Responsive videos -->
    <script src="/static/temporal/js/jquery.fitvids.js"></script>
    
    <!-- Audio player -->
    <script src="/static/temporal/js/audioplayer/audioplayer.min.js"></script>
    
    <!-- Pie charts -->
    <script src="/static/temporal/js/jquery.easy-pie-chart.js"></script>
    
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    
    <!-- Theme -->
    <script src="/static/temporal/js/theme.js"></script>

</body>
</html>
