{% extends "basegeneral.html" %}

{% block extra_js %}
	<script type="text/javascript">
	$(function() {

		$(".deg0" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>PLATAFORMA COMUNICACION</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg45" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>ANALISIS ORGANIZACIONAL</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg135" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>MONITOREO CAMPESINO</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});
 
	});
	</script>
{% endblock extra_js %}

{% block contenido %}
<style>
	div.circle-container .mostrar span {
		color: #700303;
		font-size: 45px;
	}
	.circle-container {
    position: relative;
    width: 45em;
    height: 45em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 2px;
    border-radius: 50%;
    margin: 1.75em auto 0;
	}
	.circle-container a {
	    display: block;
	    position: absolute;
	    top: 50%; 
	    left: 50%;
	    width: 7em; 
	    height: 7em;
	    margin: -2em;
	}
	.mostrar {
		margin: -37px 2px 3px -139px;
	}
	.circle-container img { display: block; width: 100%; }
	.deg0 { transform: translate(21em); } /* 12em = half the width of the wrapper */
	.deg45 { transform: rotate(45deg) translate(21em) rotate(-45deg); }
	.deg135 { transform: rotate(135deg) translate(23em) rotate(-135deg); }
	.deg180 { transform: translate(-24em); }
	.deg225 { transform: rotate(225deg) translate(24em) rotate(-225deg); }
	.deg315 { transform: rotate(315deg) translate(22em) rotate(-315deg); }

</style>

	<h1 class="text-center">SISTEMAS DE INFORMACIÓN</h1>
	<h3 class="text-center">Humidtropics</h3>
	<ul>
		<li><a href="/comunicacion">Comunicacion</a></li>
		<li><a href="/analisis">Analisis</a></li>
		<li><a href="/monitoreo">Monitoreo</a></li>
		<li><a href="#">Otro</a></li>
	</ul>

	<div class='circle-container'>
	    <a href='#' class='center'><div class="mostrar"></div></a>
	    <a href='/comunicacion' class='deg0'><img src='/static/temporal/img/flickr-2.jpg'class="img-circle"></a>
	    <a href='/analisis' class='deg45'><img src='/static/temporal/img/flickr-3.jpg'class="img-circle"></a>
	    <a href='/monitoreo' class='deg135'><img src='/static/temporal/img/flickr-4.jpg'class="img-circle"></a>
	    <a href='#' class='deg180'><img src='/static/temporal/img/flickr-5.jpg'class="img-circle"></a>
	    <a href='#' class='deg225'><img src='/static/temporal/img/flickr-6.jpg'class="img-circle"></a>
	    <a href='#' class='deg315'><img src='/static/temporal/img/flickr-7.jpg'class="img-circle"></a>
	</div>
{% endblock contenido %}