{% extends "basegeneral.html" %}

{% block extra_js %}
	<script type="text/javascript">
	$(function() {
		$(".deg315" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>PLATAFORMA COMUNICACION</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

		$(".deg0" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>ANALISIS ORGANIZACIONAL</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg45" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>PRODUCTOS Y PROCESOS</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg135" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>MONITOREO CAMPESINO</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg180" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>MONITOREO MUJERES</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});

  		$(".deg225" ).mouseover(function() {
			$("div.circle-container .mostrar").append("<span class='animated zoomInDown'>MAPEO DE ACTORES</span>");
  		}).mouseout(function() {
    		$("div.circle-container .mostrar span").remove();
  		});
 
	});
	</script>
{% endblock extra_js %}

{% block contenido %}
<style>
	div.circle-container .mostrar span {
		color: #5d8c3b;
		font-size: 45px;
		font-weight: bold;
		
	}
	.circle-container {
    position: relative;
    width: 45em;
    height: 45em;
    padding: 2.8em;
    /*2.8em = 2em*1.4 (2em = half the width of a link with img, 1.4 = sqrt(2))*/
    border: dashed 2px;
    border-color: #5d8c3b;
    border-radius: 50%;
    margin: 1.75em auto 0;
	}
	.circle-container a {
	    display: block;
	    position: absolute;
	    top: 50%; 
	    left: 50%;
	    width: 7em; 
	    height: 7em;
	    margin: -2em;
	    text-align: center;

	}
	.mostrar {
		margin: -30px 2px 3px -150px;
		width: 400px;
		height: 250px;
	}
	.circle-container img { display: block; width: 100%; }
	.deg0 { transform: translate(21em); } /* 12em = half the width of the wrapper */
	.deg45 { transform: rotate(45deg) translate(21em) rotate(-45deg); }
	.deg135 { transform: rotate(135deg) translate(23em) rotate(-135deg); }
	.deg180 { transform: translate(-24em); }
	.deg225 { transform: rotate(225deg) translate(24em) rotate(-225deg); }
	.deg315 { transform: rotate(315deg) translate(22em) rotate(-315deg); }

</style>

	<h1 class="text-center">SISTEMAS DE INFORMACIÓN</h1>
	<h3 class="text-center">Humidtropics</h3>

	<div class='circle-container'>
	    <a href='#' class='center'><div class="mostrar"></div></a>
	    <a href='/analisis' class='deg0'><i class="fa fa-bar-chart-o circle"></i></a>
	    <a href='#' class='deg45'><i class="fa fa-link circle"></i></a>
	    <a href='/monitoreo' class='deg135'><i class="fa fa-area-chart circle"></i></a>
	    <a href='#' class='deg180'><i class="fa fa-female circle"></i></a>
	    <a href='#' class='deg225'><i class="fa fa-map-marker circle"></i></a>
	    <a href='/comunicacion' class='deg315'><i class="fa fa-bullhorn circle"></i></a>
	</div>
{% endblock contenido %}