.mapeo-consult{
  background-color: #cacaca;
  padding: 25px 20px 25px 20px ;
  margin-top: 15px;

}
.mapeo-list{
  padding: 10px 20px 0px 20px ;
}
#id_area_accion,#id_sitio_accion,#id_alianza,#id_pais,#id_temas{
  background: white;
  width: 100%;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  border-radius: 0;
  border: white 2px solid;
  height: 34px;
  -webkit-appearance: none;
  background: white url("../img/arrow-down-01-16.png") no-repeat right center;
  background-position: 95% 50%;
  padding-right: 20px;
}

label[for='titulo']{
  font-size: 15px;
  color: white;
  font-weight: bold;
}

#id_area_accion:focus,#id_sitio_accion:focus,#id_alianza:focus,#id_pais:focus,#id_temas:focus{
  border-color: rgba(44, 174, 103, 0.7);
  -webkit-box-shadow: 0 1px 60px -1px #2cae67;
  box-shadow: 0 1px 20px -5px #2cae67;
}
option:checked { display:none; }

/*.mapeo-list{
  padding:0px 20px;
}*/
.pointer {
  font-weight: bold;
  color:rgba(237, 112, 43, 1);
}
.lista h6 {
  font-size: 12px;
  font-weight: 700px;
  margin: 10px 0px 0px 0px;
}
.list-titulo{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  margin: 0px 0px 10px 0px;
}
.mapeo-list hr{
  border-top:1px dotted #CDCCC8;
  margin-bottom:10px;
}
ul[role="mapeo"]{
  background-color: #5d8c3b;
  
  
}
ul[role="mapeo"]>li>a{
  color: white;
  border:none;
  margin-right: 0px;
  padding: 10px 15px;
}
ul[role="mapeo"]>li>a:hover{
  border:none;
  color: white;
}
ul[role="mapeo"] > li > a:hover, .nav > li > a:focus {
  background-color: rgba( 0, 0, 0, 0.2 );
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
   background-color: rgba( 0, 0, 0, 0.2 );
   color: white;
   border:none;
}
.title-proyect{
  font-size: 17px;
  margin: 20px 0px 20px 15px;
}

.title-proyect span{
  padding-right: 20px;
}
#descripcion {
  font-size: 14px;

}
#descripcion ul{
  list-style: none;
  padding-left: 0px;
}

.red{
  background-color: #EB0E0E;
  border-radius: 50px;
  padding: 1px 5px 2px 5px;
  border: 2px solid #999999;
}
.green{
  background-color: #5d8c3b;
  border-radius: 50px;
  padding: 1px 5px 2px 5px;
  border: 2px solid #999999;
}
.red label{
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: left;
  padding-right: 10px;


}
.green label{
  color: white;
  font-size: 9px;
  font-weight: bold;
  text-align: right;
  padding-left: 10px;


}
.circulo{
  height: 10px;
  width: 10px;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  vertical-align: middle;
  margin-left: 5px;
  border-radius: 15px;
  border: 2px #9B9B9B solid;
}
.red .circulo{
  margin-right: 5px !important;
  margin-left: 0px;
}
#timeline{
  margin: 0px auto !important;
  width: 76% !important;
}
#issues li h1{
  color: #FD8B4B !important;
  text-shadow: #A6A6A6 1px 1px 2px !important;
  padding-left: 30px !important;
}
#issues li p{
  padding-left: 30px !important;
}
#dates .selected {
  font-size: 17px !important;
  color: rgb(122, 124, 121) !important;
  font-weight: bold !important;
}
#next, #prev{
  top: 100px !important;
}
.list-actores{
  margin-bottom: 20px;
}
ul[role="actores"] > li{
  border-left: 6px solid rgba(237, 112, 43, 1);
  background-color: #fafafa;
  -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
       -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);

}

ul[role="actores"] > li>a{
  color:#777;
  font-weight: bold;

}
ul[role="actores"]> li > a:hover, ul[role="actores"] > li > a:focus {
  background-color: rgba(252, 182, 143, 1);
  color: white;
  font-weight: bold;
}
 ul[role="actores"] > li.active > a {
  background-color: rgba(239, 133, 74, 1);
  color: white;
 }

.modal-actores .modal-dialog {
  padding-top: 35px;
}

.modal-actores .modal-header{
  background-color: #5d8c3b;
}

.modal-actores ul{
  list-style: none;
}

.modal-actores ul li{
  padding-top: 5px;
  padding-bottom: 5px;
  color: #777;
}


@media (min-width: 1200px){
  .m-detail{
    margin-left:-70px;
  }
}