{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Observación que impacto'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in impacto_piso.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones planificadas'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in planificada_piso.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Acciones realizadas'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in realizada_piso.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Create the chart
    $('#grafo4').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Resultados obtenidos'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia (%)'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}%'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
            {% for k,v in resultado_piso.items %}
                {
                    name: '{{k}}',
                    y: {{v|default:0|calcular_frecuencia:numero_parcelas}},
                },
            {% endfor %}

            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Cierre</li>
                            <li class="active">Piso cierre</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo2"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo3"></div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo4"></div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>

        </div>
    </div>

{% endblock contenido %}