{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Build the chart
    $('#grafo1').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Valoración de suelo'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in grafo_suelo.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Prácticas para mejorar'
        },
        subtitle: {
            text: 'aprendizaje para mejorar el la vida de suelo'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: '',
            colorByPoint: true,
            data: [
              {% for k,v in grafo_practicas.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo3').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Arreglo de la plantación'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in grafo_arreglo.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo4').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'dificultades en el momento diseño saf'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in grafo_dificultad.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
$(function () {
    // Build the chart
    $('#grafo5').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Diseño para mejorar el sistema agroforestal cacao'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Opciones',
            data: [
                {% for k,v in grafo_mejor.items %}
                {
                    name: "{{k}}",
                    {% if v != None %}
                      y: {{v|floatformat:2}}
                    {% else %}
                      y: 0
                    {% endif %}
                },
                {% endfor %}
            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Saf</li>
                            <li class="active">Diseño saf</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

              <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1"></div>
                        </div>
                </div>
                <hr>

                    <div class="row">
                        <div class="col-md-12">
                                <div id="grafo2"></div>
                        </div>
                    </div>
                     <hr>

            <div class="row">
                        <div class="col-md-12">
                                <div id="grafo3"></div>
                        </div>
                    </div>
                     <hr>

            <div class="row">
                        <div class="col-md-12">
                                <div id="grafo4"></div>
                        </div>
                    </div>
                     <hr>

            <div class="row">
                        <div class="col-md-12">
                                <div id="grafo5"></div>
                        </div>
                    </div>
                     <hr>

                </div>
            </div>

        </div>
    </div>
{% endblock contenido %}
