{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "guiascacao/menu_salidas.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Saf</li>
                            <li class="active">Sombra y momentos</li>
                            <li class="active">Número de parcelas: {{numero_parcelas}}</li>
                        </ol>
                    </h3>
                </div>
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                <caption>Momentos</caption>
                                  <thead>
                                    <tr>
                                        <th></th>
                                        <th>Enero</th>
                                        <th>Febrero</th>
                                        <th>Marzo</th>
                                        <th>Abril</th>
                                        <th>Mayo</th>
                                        <th>Junio</th>
                                        <th>Julio</th>
                                        <th>Agosto</th>
                                        <th>Septiembre</th>
                                        <th>Octubre</th>
                                        <th>Noviembre</th>
                                        <th>Diciembre</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for k,v in tabla_momento.items %}
                                    <tr>
                                      <th scope=row>{{k}}</th>
                                      <td>{{v.0}}</td>
                                      <td>{{v.1}}</td>
                                      <td>{{v.2}}</td>
                                      <td>{{v.3}}</td>
                                      <td>{{v.4}}</td>
                                      <td>{{v.5}}</td>
                                      <td>{{v.6}}</td>
                                      <td>{{v.7}}</td>
                                      <td>{{v.8}}</td>
                                      <td>{{v.9}}</td>
                                      <td>{{v.10}}</td>
                                      <td>{{v.11}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                <caption></caption>
                                  <thead>
                                    <tr>
                                        <th></th>
                                        <th>Sin sombra</th>
                                        <th>Poca Sombra</th>
                                        <th>Media Sombra</th>
                                        <th>Mucha Sombra</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for k,v in tabla_momento2.items %}
                                    <tr>
                                      <th scope=row>{{k}}</th>
                                      <td>{{v.0}}</td>
                                      <td>{{v.1}}</td>
                                      <td>{{v.2}}</td>
                                      <td>{{v.3}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table table-bordered table-striped">
                                <caption>Criterios arboles proveen servicios</caption>
                                  <thead>
                                    <tr>
                                        <th></th>
                                        <th>Conteo</th>
                                        <th>Porcentaje</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {% for k,v in tabla_servicios.items %}
                                    <tr>
                                      <th scope=row>{{k}}</th>
                                      <td>{{v}}</td>
                                      <td>{{v|calcular_frecuencia:numero_parcelas}}</td>
                                    </tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock contenido %}