{% extends "comunicacion/basecomunicacion.html" %}

{% block title %} 
	{{ flatpage.title }}
{% endblock %}

{% block contenido %}

<div id="k-body"><!-- content wrapper -->
    
        <div class="container"><!-- container -->
        
            <div class="row"><!-- row -->
            

            
                <div class="k-breadcrumbs col-lg-12 clearfix"><!-- breadcrumbs -->
                
                    <ol class="breadcrumb">
                        <li><a href="/">inicio</a></li>
                        <li class="active">Acerca de</li>
                    </ol>
                    
                </div><!-- breadcrumbs end -->               
                
            </div><!-- row end -->
            
            <div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                    
                    <div class="col-padded"><!-- inner custom column -->
                    
                            <div class="col-lg-12 col-md-12">
                    
                                <h1 class="page-title">{{flatpage.title}}</h1><!-- category title -->
                            <br>
                            </div>
                        
                        
                        <div class="row gutter k-equal-height"><!-- row -->

                        {{ flatpage.content }}<br><br>


                            
                        </div><!-- row end -->
                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                

            
            </div><!-- row end -->
        
        </div><!-- container end -->
    
    </div><!-- content wrapper end -->


{% endblock %}