{% extends "granos_basicos/base.html" %}

{% block contenido %}
<style type="text/css">
    #grafo1,#grafo2,#grafo3,#grafo4{
        border: 1px solid #eee;
    }
    .panel-graficos .panel-heading{
        margin-bottom:20px;
    }
</style>
    <div class="container-fluid">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
             {% include "granos_basicos/menu_salidas_indicadores.html" %}
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="panel panel-default panel-graficos">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <ol class="breadcrumb">
                            <li class="active">Productores</li>
                            <li class="active">Composición familiar</li>
                        </ol>
                    </h3>
                    <h5>Número de productores {{productores}}</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                          <table id="customers2" class="table table-bordered table-hover" cellspacing="0" width="100%">
                            <caption>Número promedio de Hijos/Hijas</caption>
                            <thead>
                              <tr>
                                <th></th>
                                <th>Número de hijos</th>
                                <th>Número de hijas</th>
                                <th>Número de hijos + hijas</th>
                              </tr>
                            </thead>
                            <tbody>
                              {%for fila in result %}
                              <tr>
                                {% if forloop.counter == 1 %}
                                <td>Promedio</td>
                                {% elif forloop.counter == 2 %}
                                <td>Mediana</td>
                                {% elif forloop.counter == 3 %}
                                <td>Desviación estandar</td>
                                {% elif forloop.counter == 4 %}
                                <td>Mínimo</td>
                                {% elif forloop.counter == 5 %}
                                <td>Máximo</td>
                                {% endif %}

                                {%for celda in fila %}
                                <td>{{celda|floatformat:"2"}}</td>
                                {%endfor%}
                              </tr>
                              {%endfor%}
                            </tbody>
                          </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grafo1" style="min-width: 510px; width: 860px; margin: 0 auto;"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
{% block extra_js %}
<script type="text/javascript">
$( "#productores" ).addClass( "in" );
$(function () {
  $('#grafo1').highcharts({
      chart: {
          type: 'column'
      },
      title: {
          text: 'Nivel educativo de padres de las familias'
      },
      xAxis: {
          categories: [{% for k in escolaridad.keys %}'{{k}}',{% endfor %}]
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Frecuencia (%)'
          }
      },
      tooltip: {
          pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b> ({point.percentage:.0f}%)<br/>',
          shared: true
      },
      plotOptions: {
            column: {
                stacking: 'percent',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    style: {
                        textShadow: '0 0 3px black'
                    }
                }
            }
        },
      series: [{
          name: 'Madre',
          data: [{% for v in escolaridad.values %}{{v.0}},{% endfor %}]
      }, {
          name: 'Padre',
          data: [{% for v in escolaridad.values %}{{v.1}},{% endfor %}]
      }]
  });

    $('#grafo2').highcharts({
       chart: {
           type: 'column'
       },
       title: {
           text: 'Nivel Educativo en Hijas'
       },
       yAxis: {
           title: {
               text: 'Valores'
           }
       },
       credits: {
           enabled: false
       },
       yAxis: {
               min: 0,
               title: {
                   text: 'Porcentajes (%)'
               }
           },
           plotOptions: {
            series: {
                pointRange: 1,
                groupPadding: 0,
            }
        },
           xAxis: {
               categories: ['5-12 años','13-18 años','Mayores de 19 años'],
               crosshair: true
           },
           tooltip: {
               formatter: function() {
                   return ''+
                       this.series.name +': '+ this.y +'%';
               }
           },
       series: [
               {% for k,v in escolaridad_hijos.items %}
               {
                   name: '{{k}}',
                   data: [{{v.0}},{{v.1}},{{v.2}}],
                   dataLabels: {
                       enabled: true,
                       rotation: 0,
                       color: '#632D00',
                       align: 'center',
                       x: -3,
                       y: 0,
                          //  formatter: function() {
                          //      return this.y + '%';
                          //                        },
                       style: {
                           font: 'normal 13px Verdana, sans-serif'
                               }
                               }
               },
               {% endfor %}
               ]
    });

    $('#grafo3').highcharts({
       chart: {
           type: 'column'
       },
       title: {
           text: 'Nivel Educativo en Hijos'
       },
       yAxis: {
           title: {
               text: 'Valores'
           }
       },
       credits: {
           enabled: false
       },
       yAxis: {
               min: 0,
               title: {
                   text: 'Porcentajes (%)'
               }
           },
           plotOptions: {
            series: {
                pointRange: 1,
                groupPadding: 0,
            }
        },
           xAxis: {
               categories: ['5-12 años','13-18 años','Mayores de 19 años'],
               crosshair: true
           },
           tooltip: {
               formatter: function() {
                   return ''+
                       this.series.name +': '+ this.y +'%';
               }
           },
       series: [
               {% for k,v in escolaridad_hijos.items %}
               {
                   name: '{{k}}',
                   data: [{{v.3}},{{v.4}},{{v.5}}],
                   dataLabels: {
                       enabled: true,
                       rotation: 0,
                       color: '#632D00',
                       align: 'center',
                       x: -3,
                       y: 0,
                          //  formatter: function() {
                          //      return this.y + '%';
                          //                        },
                       style: {
                           font: 'normal 13px Verdana, sans-serif'
                               }
                               }
               },
               {% endfor %}
               ]
    });

    $('#grafo4').highcharts({
       chart: {
           type: 'column'
       },
       title: {
           text: 'Participación de los Hijos y las Hijas en la Parcela'
       },
       yAxis: {
           title: {
               text: 'Valores'
           }
       },
       credits: {
           enabled: false
       },
       yAxis: {
               min: 0,
               title: {
                   text: 'Porcentajes (%)'
               }
           },

           xAxis: {
               categories: ['Hijos','Hijas'],
               crosshair: true
           },
           tooltip: {
               formatter: function() {
                   return ''+
                       this.series.name +': '+ this.y +'%';
               }
           },
       series: [
               {% for k,v in participacion.items %}
               {
                   name: '{{k}}',
                   data: [{{v.0}},{{v.1}}],
                   dataLabels: {
                       enabled: true,
                       rotation: 0,
                       color: '#632D00',
                       align: 'center',
                       x: -3,
                       y: 0,
                           formatter: function() {
                               return this.y + '%';
                                                 },
                       style: {
                           font: 'normal 13px Verdana, sans-serif'
                               }
                               }
               },
               {% endfor %}
               ]
    });

});
</script>
{% endblock %}
