{% extends "monitoreo/base.html" %}

{%load unslugify %}

{%block extra_js%}
<link href="{{STATIC_URL}}monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });

        $('#example').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
      
        });
    </script>
<script type="text/javascript">
    //si activo es 0 el html interno esta vacio
    //caso si activo es otro num sustituir grafico
    //si activo es el mismo id, esconder grafico
    var activo = 0; 
    function click_callback(url, id){
        $.getJSON(url + id, function(data) {
            if (activo!= url + id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = url + id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    function disp(id){
        click_callback('/monitoreo/grafo/agua-disponibilidad/', id);
    }
</script>
<script type="text/javascript">
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico3").click(function(){
            $("#grafico3").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });
        $("#grafico4").click(function(){
            $("#grafico4").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico5").click(function(){
            $("#grafico5").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });

        $("#grafico6").click(function(){
            $("#grafico6").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico7").click(function(){
            $("#grafico7").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico8").click(function(){
            $("#grafico8").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico9").click(function(){
            $("#grafico9").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico10").click(function(){
            $("#grafico10").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico11").click(function(){
            $("#grafico11").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
            $("#grafico12").removeClass('enlace_seleccionado');
        });


        $("#grafico12").click(function(){
            $("#grafico12").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
            $("#grafico3").removeClass('enlace_seleccionado');
            $("#grafico4").removeClass('enlace_seleccionado');
            $("#grafico5").removeClass('enlace_seleccionado');
            $("#grafico7").removeClass('enlace_seleccionado');
            $("#grafico8").removeClass('enlace_seleccionado');
            $("#grafico9").removeClass('enlace_seleccionado');
            $("#grafico10").removeClass('enlace_seleccionado');
            $("#grafico11").removeClass('enlace_seleccionado');
            $("#grafico6").removeClass('enlace_seleccionado');
        });

    });
</script>
{%endblock%}

{% block contenido %}
<div class="row no-gutter"><!-- row -->
                
    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->
                    
        <div class="col-consulta col-shaded"><!-- inner custom column -->
                    
            <ul class="list-unstyled clear-margins"><!-- widgets -->
                        
                <li class="widget-container "><!-- widget -->
                    
                <h1 class="title-monitoreo">Consulta</h1>
                    <div class="slide-indicadores">
                        <nav class="navbar navbar-default" role="navigation">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                
                            </div>
                        
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse navbar-ex1-collapse">
                                <ul class="nav navbar-nav navbar-left">
                                    
                                    <li><a href="">Familia >> Subindicador Agua consumo</a></li>
                                </ul>
                                
                                <ul class="nav navbar-nav navbar-right">
                                    <li id="mas" class=" btnindicador">
                                        <a href="">
                                            <span id="estado">
                                            <span class="glyphicon glyphicon-arrow-down"></span>
                                            </span> Cambiar de Indicador
                                        </a>
                                    </li>

                                </ul>
                            </div><!-- /.navbar-collapse -->
                        </nav>

                    </div>

                    {% include "monitoreo/nav_familia.html" %}
                    <div id="mostrar">
                        {% include "monitoreo/menu.html" %}
                    </div>


                    <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>
                        {% if request.user.is_authenticated %}
                            <a class="exportar2" href="/exportar/5/"></a> 
                        {% endif %}
                    </div>


                    <div class="contenido">
                     <div id="modalidad">
                        
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="panel panel-success panel-graficos">
                                  <div class="panel-heading">Gráficos de Disponibilidad </div>
                                  
                                    <div class="panel-body graficos_widget">
                                    
                                        <a id="grafico1" href="#" onCLick="disp(1)">Disponibilidad en Río</a>
                                        <a id="grafico2" href="#" onCLick="disp(2)">Disponibilidad en Ojo de Agua</a>
                                        <a id="grafico3" href="#" onCLick="disp(3)">Disponibilidad en Quebrada</a>
                                        <a id="grafico4" href="#" onCLick="disp(4)">Disponibilidad en Agua comunitaria</a>
                                        <a id="grafico5" href="#" onCLick="disp(5)">Disponibilidad en Pozo Propio</a>
                                        <a id="grafico6" href="#" onCLick="disp(6)">Disponibilidad en Agua en casa</a>


                                    </div>
                                  
                                </div>
                                
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            
                                <div id="grafo"></div>

                            
                                <table id="example" class="display" cellspacing="0" width="100%">
                                    <caption>Fuentes de agua</caption>
                                    <thead>
                                        <tr>
                                            <th>Fuente</th>
                                            <th>Frecuencia</th>
                                            <th>%</th>
                                        </tr>
                                    </thead>
                                    {% for fila in tabla%}
                                    <tr>
                                        {%for celda in fila%}
                                        <td>{{celda}}</td>
                                        {%endfor%}
                                    </tr>
                                    {%endfor%}
                                </table>
                            </div>
            
                        </div>
                        
                     </div>
                        <br>
                        <br>
                        <br>

                    </div>
                             
 
                </li>
                            
                            
            </ul><!-- widgets end -->
                    
        </div><!-- inner custom column end -->
                    
    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->



{% endblock %}
