{% extends "monitoreo/base.html"%}

{%load unslugify %}

{%block extra_js%}
<link href="{{STATIC_URL}}monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });

        $('#example').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
        $('#example1').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
      
        });
    </script>
<script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/monitoreo/grafo/organizacion/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
    $(document).ready(function() {
        $("#grafico1").click(function(){
            $("#grafico1").addClass('enlace_seleccionado');
            $("#grafico2").removeClass('enlace_seleccionado');
        });
    
        $("#grafico2").click(function(){
            $("#grafico2").addClass('enlace_seleccionado');
            $("#grafico1").removeClass('enlace_seleccionado');
        });

    });
</script>
{%endblock%}

{%block contenido%}
<div class="slide-indicadores">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button> 
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                
                <li><a href="">Familia >> Subindicador Org. Gremial</a></li>
            </ul>
            
            <ul class="nav navbar-nav navbar-right">
                <li id="mas" class=" btnindicador">
                    <a href="">
                        <span id="estado">
                        <span class="glyphicon glyphicon-arrow-down"></span>
                        </span> Cambiar de Indicador
                    </a>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</div>
{% include "monitoreo/nav_org.html" %}
<div class="separador"></div>

<div id="mostrar">
    {% include "monitoreo/menu.html" %}
</div>

<div id="sidebar">
    <div class="graficos_widget">
        <h1>Gráficos Org. Gremial </h1>
        <a id="grafico1" href="#" onCLick="onCLick=click_callback('beneficiorganizado')">¿Beneficios de estar organizado</a>
        <a id="grafico2" href="#" onCLick="click_callback('norganizado')">¿Porque no esta organizado?</a>
        <a id="grafico2" href="#" onCLick="click_callback('comunitario')">¿Organización comunitaria?</a>

    </div>
</div>

<div id="grafo"></div>

<div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/7/"></a>{%endif%} </div>

<div class="contenido">
<div id="modalidad">
<table id="example" class="display" cellspacing="0" width="100%">
        <caption>¿Cuántas organizaciones están activas en la localidad o comunidad?</caption>
        <thead>
            <tr>
                <th>Organizaciones</th>
                <th>Cuantas</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>De uno a cinco (1-5)</td>
            <td>{{uno}}</td>
            
       </tr>
       <tr>
            <td>De seis a diez (6-10)</td>
            <td>{{dos}}</td>
       </tr>
       <tr>    
            <td>De once a más (> 11)</td>
            <td>{{tres}}</td>
      </tr>
       
       </tbody>
    </table>



<table id="example1" class="display" cellspacing="0" width="100%">
        <caption>¿Pertenece a algunas organizaciones?</caption>
        <thead>
            <tr>
                <th>Categoria</th>
                <th>Frecuencia</th>
                <th>porcentaje %</th>
            </tr>
        </thead>
        <tbody>
        <tr>
            {% for key, value in tabla_pertenece.items %}
            <td>{{key|unslugify}}</td>
            <td>{{value.frecuencia|floatformat:2}}</td>
            <td>{{value.porcentaje|floatformat:2}}</td>
       </tr>
            {% endfor %}
            
       <tr>
            <th>TOTAL</th>
            <th>{{divisor|floatformat:2}}</th>
            <th>100</th>
      </tr>
       
       </tbody>
    </table>

    <br>
    <br>
</div>
</div>
{% endblock %}
