{% extends "monitoreo/base.html"%}

{% load tools %}
{%load unslugify %}

{%block extra_js%}
<link href="{{STATIC_URL}}monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });

        $('#example').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
         $('#example1').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });

         $('#example2').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
         $('#example3').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
         $('#example4').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
         $('#example5').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
      
        });
    </script>
<script type="text/javascript">
    var activo = 0; 
    function click_callback(id){
        $.getJSON('/grafo/fincas/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }
</script>
 
<script type="text/javascript">    
var chart;
function Grafo() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de Maiz'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'qq';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in maiz.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(11, 28, 188, .5)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });
   
   
}

//frijol
function Grafo1() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de frijol'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'qq';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in frijol.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(223, 83, 83, .5)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });  
}

//platano
function Grafo2() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de Platano'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in platano.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(188, 174, 19, .7)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });  
}
//guineo
function Grafo3() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de Guineo'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in guineo.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(41, 130, 36, .7)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });  
}
//cafe
function Grafo4() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de Cáfe'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in cafe.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(137, 63, 0, .7)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });  
}
//cacao
function Grafo5() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo', 
         defaultSeriesType: 'scatter',
         zoomType: 'xy',
         height: 350,
         width: 620
      },
      title: {
         text: 'Grafico de Cacao'
      },
      subtitle: {
         text: ''
      },
      xAxis: {
         title: {
            enabled: true,
            text: 'Areas (Manzana)'
         },
         startOnTick: true,
         endOnTick: true,
         showLastLabel: true
      },
      yAxis: {
         title: {
            text: 'Producción'
         }
      },
      tooltip: {
         formatter: function() {
                   return ''+
               this.x +' Mz, '+ this.y +'';
         }
      },
      
      plotOptions: {
         scatter: {
            marker: {
               radius: 5,
               states: {
                  hover: {
                     enabled: true,
                     lineColor: 'rgb(100,100,100)'
                  }
               }
            },
            states: {
               hover: {
                  marker: {
                     enabled: false
                  }
               }
            }
         }
      },
      series: [{%for key, value in cacao.grafo.items%}
      {
         name: '{{key|unslugify}}',
         color: 'rgba(83, 90, 223, .7)',
         data: {{value}}
      }, 
      {%endfor%}
      ]
   });  
}
</script> 
<script type="text/javascript">
//regresion de Maiz
var chart;
function Grafo6() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regresion lineal de Maiz'
      },
      series: [{%for k, v in maiz.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for a in regresion_maiz%} {{a}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}

//regresion de frijoles
function Grafo7() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regression lineal Frijol'
      },
      series: [{%for k, v in frijol.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for valor in regresion_frijol%} {{valor}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}

//Regresión de platano
function Grafo8() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regression lineal Plátano'
      },
      series: [{%for k, v in platano.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for valor in regresion_platano%} {{valor}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}

// regresion guineo
function Grafo9() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regression lineal Guíneo'
      },
      series: [{%for k, v in guineo.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for valor in regresion_guineo%} {{valor}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}
//regresion cafe
function Grafo10() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regression lineal Cáfe'
      },
      series: [{%for k, v in cafe.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for valor in regresion_cafe%} {{valor}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}
//regresion cacao
function Grafo11() {
   chart = new Highcharts.Chart({
      chart: {
         renderTo: 'grafo',
         height: 350,
         width: 620
      },
      xAxis: {
         min: -0.5,
         max: 10.5
      },
      yAxis: {
         min: 0
      },
      title: {
         text: 'Grafico regression lineal Cacao'
      },
      series: [{%for k, v in cacao.grafo.items%}
         {
         type: 'line',
         name: 'Regression Line',
         data: [{%for valor in regresion_cacao%} {{valor}}, {%endfor%}],
         marker: {
            enabled: false
         },
         states: {
            hover: {
               lineWidth: 0
            }
         },
         enableMouseTracking: false
      },      
      {
         type: 'scatter',
         name: 'Observations',
         data: {{v}},
         marker: {
            radius: 4
         }
      } 
      {%endfor%}]
   });
   
}
//distribucion maiz
function Grafo12(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Maiz'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'qq: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_maiz.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_maiz.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}

function Grafo13(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Frijol'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'qq: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_frijol.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_frijol.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}
function Grafo14(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Plátano'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'cbz: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_platano.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_platano.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}
function Grafo15(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Guíneo'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'cbz: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_guineo.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_guineo.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}

function Grafo16(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Cáfe'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'qq: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_cafe.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_cafe.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}

function Grafo17(){
	var chart = new Highcharts.Chart({
        chart: {
            renderTo: 'grafo',
            defaultSeriesType: 'column',
            height: 350,
            width: 620
        },
        title: {
            text: 'Rangos de productividad Cacao'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: [
                'Rangos'
            ]
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Número'
            }
        },

        tooltip: {
            formatter: function() {
                return ''+
                    this.series.name +'qq: '+ this.y +'%';
            }
        },
        plotOptions: {
            column: {
                groupPadding: 0,
                pointPadding: 0.9,
                borderWidth: 0
            },
            series: {
                pointWidth: 40,
                minPointLength : 1
            }
        },
        series: [{% for key in distribucion_cacao.llaves %}
            {
                name: '{{key|unslugify}}',
                data: [{{distribucion_cacao.rangos|get_value:key}}],
                dataLabels: {
                    enabled: true,
                    rotation: 0,
                    color: '#632D00',
                    align: 'center',
                    x: -3,
                    y: 0,
                        formatter: function() {
                            return this.y + '%';
                                              },
                    style: {
                        font: 'normal 13px Verdana, sans-serif'
                            }
                }
            },
            {% endfor %}]
    });
}

</script>  
{%endblock%}

{%block contenido%}
<div class="row no-gutter"><!-- row -->
                
    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->
                    
        <div class="col-consulta col-shaded"><!-- inner custom column -->
                    
            <ul class="list-unstyled clear-margins"><!-- widgets -->
               <div class="slide-indicadores">
                   <nav class="navbar navbar-default" role="navigation">
                       <!-- Brand and toggle get grouped for better mobile display -->
                       <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                               <span class="sr-only">Toggle navigation</span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                               <span class="icon-bar"></span>
                           </button>
                           
                       </div>
                       <!-- Collect the nav links, forms, and other content for toggling -->
                       <div class="collapse navbar-collapse navbar-ex1-collapse">
                           <ul class="nav navbar-nav navbar-left">
                               {% include "monitoreo/filtro-monitoreo.html" %}
                               <li><a href="">Familia >> Subindicador Cultivos en la finca</a></li>
                           </ul>
                           
                           <ul class="nav navbar-nav navbar-right">
                               <li id="mas" class=" btnindicador">
                                   <a href="">
                                       <span id="estado">
                                       <span class="glyphicon glyphicon-arrow-down"></span>
                                       </span> Cambiar de Indicador
                                   </a>
                               </li>
                           </ul>
                       </div><!-- /.navbar-collapse -->
                   </nav>
               </div>
               <div id="mostrar">
                    {% include "monitoreo/menu.html" %}
               </div>
                <br>
               <div role="tabpanel">

                 <!-- Nav tabs -->
                 <ul class="nav nav-tabs" role="tablist">
                   <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Cultivos de la familia</a></li>
                   {% if request.session.tipo = '2' %}
                   <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Cultivos de mujer</a></li>
                   <li role="presentation"><a href="#ambos" aria-controls="ambos" role="tab" data-toggle="tab">Cultivos de ambos</a></li>
                   {%endif%}
                 </ul>

                 <!-- Tab panes -->
                 <div class="tab-content">

                   <div role="tabpanel" class="tab-pane active" id="home">



                       



               <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/12/"></a>{%endif%} </div>

               <div class="contenido">
               {% if user.is_authenticated %}
               {%for key, value in maiz.tabla.items%}
                
                <div class="table-responsive">
                   <table class="table table-bordered table-hover">
                           <caption>{{key|unslugify}}</caption>
                           <thead>
                               <tr>
                                   <th>Area</th>
                                   <th>Producción</th>
                                   <th>Id</th>
                               </tr>
                           </thead>
                           <tbody> 
                               {%for a in value%}
                               <tr>
                                   <td>{{a.0}}</td>
                                   <td>{{a.1}}</td>
                                   <td>{{a.2}}</td>
                               </tr>
                               {%endfor%}
                           </tbody>
                    </table>
                </div>       
                {%endfor%}
               {%for key, value in frijol.tabla.items%}
               <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                       <caption>{{key|unslugify}}</caption>
                       <thead>
                           <tr>
                               <th>Area</th>
                               <th>Producción</th>
                               <th>Id</th>
                           </tr>
                       </thead>
                       <tbody> 
                           {%for a in value%}
                           <tr>
                               <td>{{a.0}}</td>
                               <td>{{a.1}}</td>
                               <td>{{a.2}}</td>
                           </tr>
                           {%endfor%}
                       </tbody>
                   </table>
               </div>
                {%endfor%}
                {%for key, value in platano.tabla.items%}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                       <caption>{{key|unslugify}}</caption>
                       <thead>
                           <tr>
                               <th>Area</th>
                               <th>Producción</th>
                               <th>Id</th>
                           </tr>
                       </thead>
                       <tbody> 
                           {%for a in value%}
                           <tr>
                               <td>{{a.0}}</td>
                               <td>{{a.1}}</td>
                               <td>{{a.2}}</td>
                           </tr>
                           {%endfor%}
                       </tbody>
                   </table>
               </div>
                {%endfor%}
                {%for key, value in guineo.tabla.items%}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                       <caption>{{key|unslugify}}</caption>
                       <thead>
                           <tr>
                               <th>Area</th>
                               <th>Producción</th>
                               <th>Id</th>
                           </tr>
                       </thead>
                       <tbody> 
                           {%for a in value%}
                           <tr>
                               <td>{{a.0}}</td>
                               <td>{{a.1}}</td>
                               <td>{{a.2}}</td>
                           </tr>
                           {%endfor%}
                       </tbody>
                   </table>
               </div>
                {%endfor%}
                {%for key, value in cafe.tabla.items%}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                       <caption>{{key|unslugify}}</caption>
                       <thead>
                           <tr>
                               <th>Area</th>
                               <th>Producción</th>
                               <th>Id</th>
                           </tr>
                       </thead>
                       <tbody> 
                           {%for a in value%}
                           <tr>
                               <td>{{a.0}}</td>
                               <td>{{a.1}}</td>
                               <td>{{a.2}}</td>
                           </tr>
                           {%endfor%}
                       </tbody>
                   </table>
               </div>
                {%endfor%}
                {%for key, value in cacao.tabla.items%}
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                       <caption>{{key|unslugify}}</caption>
                       <thead>
                           <tr>
                               <th>Area</th>
                               <th>Producción</th>
                               <th>Id</th>
                           </tr>
                       </thead>
                       <tbody> 
                           {%for a in value%}
                           <tr>
                               <td>{{a.0}}</td>
                               <td>{{a.1}}</td>
                               <td>{{a.2}}</td>
                           </tr>
                           {%endfor%}
                       </tbody>
                   </table>
               </div>
                {%endfor%}
               {%endif%}
               <div id="modalidad">
                       <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 graficos">

                           <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                               <div class="panel panel-success panel-graficos">
                                   <div class="panel-heading">Gráficos: Dispersión</div>
                                             
                                   <div class="panel-body graficos_widget">
                                               
                                       <a href="#" id="grafico" onclick="Grafo();" class="grafo">Maíz</a>
                                       <a href="#" id="grafico1" onclick="Grafo1();" class="grafo">Frijol</a>
                                       <a href="#" id="grafico2" onclick="Grafo2();" class="grafo">Plátano</a>
                                       <a href="#" id="grafico3" onclick="Grafo3();" class="grafo">Guíneo</a>
                                       <a href="#" id="grafico4" onclick="Grafo4();" class="grafo">Cáfe</a>
                                       <a href="#" id="grafico5" onclick="Grafo5();" class="grafo">Cacao</a>


                                   </div>
                                             
                               </div>
                                           

                               <div class="panel panel-success panel-graficos">
                                   <div class="panel-heading">Gráficos: Regresión Lineal</div>
                                             
                                   <div class="panel-body graficos_widget">
                                               
                                       <a href="#" id="grafico6" onclick="Grafo6();" class="grafo">Maíz</a>
                                       <a href="#" id="grafico7" onclick="Grafo7();" class="grafo">Frijol</a>
                                       <a href="#" id="grafico8" onclick="Grafo8();" class="grafo">Plátano</a>
                                       <a href="#" id="grafico9" onclick="Grafo9();" class="grafo">Guíneo</a>
                                       <a href="#" id="grafico10" onclick="Grafo10();" class="grafo">Cáfe</a>
                                       <a href="#" id="grafico11" onclick="Grafo11();" class="grafo">Cacao</a>


                                   </div>
                                             
                               </div>
                                           
                
                               <div class="panel panel-success panel-graficos">
                                   <div class="panel-heading">Gráficos: Rangos de la productividad</div>
                                             
                                   <div class="panel-body graficos_widget">
                                               
                                       <a href="#" id="grafico12" onclick="Grafo12();" class="grafo">Maíz</a>
                                       <a href="#" id="grafico13" onclick="Grafo13();" class="grafo">Frijol</a>
                                       <a href="#" id="grafico14" onclick="Grafo14();" class="grafo">Plátano</a>
                                       <a href="#" id="grafico15" onclick="Grafo15();" class="grafo">Guíneo</a>
                                       <a href="#" id="grafico16" onclick="Grafo16();" class="grafo">Cáfe</a>
                                       <a href="#" id="grafico17" onclick="Grafo17();" class="grafo">Cacao</a>


                                   </div>
                                             
                               </div>
                                           
                           </div>


                           <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                              <div id="grafo" class="center-block"></div>
                                <div class="table-responsive">
                                    <table id="example" class="table table-bordered table-hover" >
                                       <caption>Los cultivos y la producción</caption>
                                       <thead>
                                           <tr>
                                               <th>CULTIVOS</th>
                                               <th>Unidad</th>
                                               <th>Número</th>
                                               <th>Total produccion por año</th>
                                               <th>Consumo por año</th>
                                               <th>Venta libre por año</th>
                                               <th>Vente organizada por año</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           {%for key, value in tabla.items%}
                                           <tr>
                                               <td>{{key|unslugify}}</td>
                                               <td>{{value.key2|unslugify}}</td>
                                               <td>{{value.numero|unslugify}}</td>
                                               <td>{{value.totales|floatformat}}</td>
                                               <td>{{value.consumo|floatformat}}</td>
                                               <td>{{value.libre|floatformat}}</td>
                                               <td>{{value.organizada|floatformat}}</td>
                                           </tr>
                                           {%endfor%}
                                       </tbody>
                                   </table>
                               </div>
                                <div class="table-responsive">
                                   <table id="example1" class="table table-bordered table-hover" >
                                       <caption>Los cultivos y la productividad</caption>
                                       <thead>
                                           <tr>
                                               <th>CULTIVOS</th>
                                               <th>Unidad</th>
                                               <th>Número</th>
                                               <th>Area total</th>
                                               <th>Promedio de areas</th>
                                               <th>Total producción</th>
                                               <th>Productividad</th>
                                           </tr>
                                       </thead>
                                       <tbody>
                                           {%for key, value in tabla2.items%}
                                           <tr>
                                               <td>{{key|unslugify}}</td>
                                               <td>{{value.key2|unslugify}}</td>
                                               <td>{{value.numero|unslugify}}</td>
                                               <td>{{value.area_total|floatformat}}</td>
                                               <td>{{value.area_avg|floatformat}}</td>
                                               <td>{{value.totales|floatformat}}</td>
                                               <td>{{value.productividad|floatformat}}</td>
                                           </tr>
                                           {%endfor%}
                                       </tbody>
                                   </table> 
                               </div>
                           </div>
                           
                       
                       </div>

               </div>


               </div>
                   
                   </div>
                   <div role="tabpanel" class="tab-pane" id="profile">
                   
                        <div class="table-responsive">
                            <table id="example2"  class="table table-bordered table-hover" >
                               <caption>Los cultivos y la producción cuando la mujer maneja el cultivo</caption>
                               <thead>
                                   <tr>
                                       <th>CULTIVOS</th>
                                       <th>Unidad</th>
                                       <th>Número</th>
                                       <th>Total produccion por año</th>
                                       <th>Consumo por año</th>
                                       <th>Venta libre por año</th>
                                       <th>Vente organizada por año</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {%for key, value in tabla_mujer.items%}
                                   <tr>
                                       <td>{{key|unslugify}}</td>
                                       <td>{{value.key2|unslugify}}</td>
                                       <td>{{value.numero|unslugify}}</td>
                                       <td>{{value.totales|floatformat}}</td>
                                       <td>{{value.consumo|floatformat}}</td>
                                       <td>{{value.libre|floatformat}}</td>
                                       <td>{{value.organizada|floatformat}}</td>
                                   </tr>
                                   {%endfor%}
                               </tbody>
                           </table>
                       </div>

                        <div class="table-responsive">
                           <table id="example3"  class="table table-bordered table-hover" >
                                   <caption>Los cultivos y la productividad cuando ambos maneja los cultivos</caption>
                                   <thead>
                                       <tr>
                                           <th>CULTIVOS</th>
                                           <th>Unidad</th>
                                           <th>Número</th>
                                           <th>Area total</th>
                                           <th>Promedio de areas</th>
                                           <th>Total producción</th>
                                           <th>Productividad</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       {%for key, value in tabla2_mujer.items%}
                                       <tr>
                                           <td>{{key|unslugify}}</td>
                                           <td>{{value.key2|unslugify}}</td>
                                           <td>{{value.numero|unslugify}}</td>
                                           <td>{{value.area_total|floatformat}}</td>
                                           <td>{{value.area_avg|floatformat}}</td>
                                           <td>{{value.totales|floatformat}}</td>
                                           <td>{{value.productividad|floatformat}}</td>
                                       </tr>
                                       {%endfor%}
                                   </tbody>
                               </table>
                        </div>

                   </div>
                    <div role="tabpanel" class="tab-pane" id="ambos">
                     <div class="table-responsive">
                           <table id="example4"  class="table table-bordered table-hover" >
                               <caption>Los cultivos y la producción cuando ambos manejan los cultivos</caption>
                               <thead>
                                   <tr>
                                       <th>CULTIVOS</th>
                                       <th>Unidad</th>
                                       <th>Número</th>
                                       <th>Total produccion por año</th>
                                       <th>Consumo por año</th>
                                       <th>Venta libre por año</th>
                                       <th>Vente organizada por año</th>
                                   </tr>
                               </thead>
                               <tbody>
                                   {%for key, value in tabla_ambos.items%}
                                   <tr>
                                       <td>{{key|unslugify}}</td>
                                       <td>{{value.key2|unslugify}}</td>
                                       <td>{{value.numero|unslugify}}</td>
                                       <td>{{value.totales|floatformat}}</td>
                                       <td>{{value.consumo|floatformat}}</td>
                                       <td>{{value.libre|floatformat}}</td>
                                       <td>{{value.organizada|floatformat}}</td>
                                   </tr>
                                   {%endfor%}
                               </tbody>
                           </table>
                    </div>

                    <div class="table-responsive">
                           <table id="example5" class="table table-bordered table-hover" >
                                   <caption>Los cultivos y la productividad cuando la mujer maneja el cultivo</caption>
                                   <thead>
                                       <tr>
                                           <th>CULTIVOS</th>
                                           <th>Unidad</th>
                                           <th>Número</th>
                                           <th>Area total</th>
                                           <th>Promedio de areas</th>
                                           <th>Total producción</th>
                                           <th>Productividad</th>
                                       </tr>
                                   </thead>
                                   <tbody>
                                       {%for key, value in tabla2_ambos.items%}
                                       <tr>
                                           <td>{{key|unslugify}}</td>
                                           <td>{{value.key2|unslugify}}</td>
                                           <td>{{value.numero|unslugify}}</td>
                                           <td>{{value.area_total|floatformat}}</td>
                                           <td>{{value.area_avg|floatformat}}</td>
                                           <td>{{value.totales|floatformat}}</td>
                                           <td>{{value.productividad|floatformat}}</td>
                                       </tr>
                                       {%endfor%}
                                   </tbody>
                               </table>
                    </div>
                   </div>

                 </div>

               </div>

            </ul><!-- widgets end -->
                    
        </div><!-- inner custom column end -->
                    
    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->   

{%endblock%}
