{% extends "monitoreo/base.html"%}

{% load humanize %}
{%load unslugify %}

{% block extra_js %}
<link href="{{STATIC_URL}}monitoreo/css/dataTables.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/highcharts.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/exporting.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}monitoreo/js/dataTables.js"></script>
<script type="text/javascript">
    var flag = true;
    $(document).ready(function(){
        $('#mas').click(function(){
            if(flag==true){
                $('.botonera').slideDown('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-up"></span>');
                flag = false;
            }else if (flag==false){
                $('.botonera').slideUp('slow');
                $('#estado').html('<span class="glyphicon glyphicon-arrow-down"></span>');
                flag = true;
            }
            return false;
            });

        $('#example').dataTable( {
            "language": {
                "search": "Buscar:"
            },
            "paging":   false,
            "ordering": false,
            "info":     false
            });
      
        });
    </script>
<script type="text/javascript">
    var activo = 0;
    function click_callback(id){
        $.getJSON('/monitoreo/grafo/ingreso/' + id, function(data) {
            if (activo!= id){
                $("#grafo").html('<img src="' + data.url + '" />');
                activo = id;
            }else{
                $("#grafo").html('');
                activo = 0;
            }
        });
    }

    var activo_entre = 0;
    function click_callback_entre(id){
        $.getJSON('/monitoreo/grafo/ingreso/entre/' + id, function(data) {
            if (activo_entre!= id){
                $("#grafo_entre").html('<img src="' + data.url + '" />');
                activo_entre = id;
            }else{
                $("#grafo_entre").html('');
                activo_entre = 0;
            }
        });
    }

</script>
<script type="text/javascript">
function Grafo8(){
       var chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Ingreso por sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in grafo%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    

function Grafo9(){
     var  chart = new Highcharts.Chart({
            chart: {
                renderTo: 'grafo',
                defaultSeriesType: 'column'
            },
            title: {
                text: 'Número de rubros en cada sistema de produccion'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: [
                    'Opciones'   
                ]
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Cantidad'
                }
            },
            
            tooltip: {
                formatter: function() {
                    return ''+
                        this.series.name +': '+ this.y +'';
                }
            },
            plotOptions: {
                column: {
                    groupPadding: 0,
                    pointPadding: 0.9,
                    borderWidth: 0
                },
                series: {
                    pointWidth: 33,
                    minPointLength : 1
                }
            },
            series: [{%for a in cuantos%}
            {%for k,v in a.items%}
                {   
                    name: '{{k|unslugify}}',
                    data: [{{v}}],
                    dataLabels: {
                        enabled: true,
                        rotation: 0,
                        color: '#632D00',
                        align: 'center',
                        x: -3,
                        y: 0,
                            formatter: function() {
                                return this.y + '';
                                                  },
                        style: {
                            font: 'normal 10px Verdana, sans-serif'
                                }
                                }
                     
                },
           {%endfor%}
                {%endfor%}]
        });
    }
    
function Grafo10(){
	var chart = new Highcharts.Chart({
	      chart: {
	         renderTo: 'grafo',
	         defaultSeriesType: 'pie',
	         height: 350,
             width: 520	         
	      },
	      title: {
	         text: 'Ingreso por clase'
	      },
	      tooltip: {
	         formatter: function() {
	            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(1) +' %';
	         }
	      },
	      plotOptions: {
	          pie: {
	              allowPointSelect: true,
	              cursor: 'pointer',
	              dataLabels: {
	                 enabled: false
	              },
	              showInLegend: true
	           },
	           series: {
	              dataLabels: {
	                  enabled: true,
	                  align: "center",
	                  formatter: function() {
	                      return ''+ this.percentage.toFixed(1) + ' %';
	                  },
	                  color: '#000',
	                  style: {
	                      font: '12px Trebuchet MS, Verdana, sans-serif'
	                  }
	              }
	          }
	      },
	       series: [{         
	         name: 'Ingresos de clases',
	         data: [
	            ['Ingreso agropecuario - C${{respuesta.ingreso}}',   {{respuesta.ingreso}}],
	            ['Otros ingresos - C${{respuesta.ingreso_otro}}', {{respuesta.ingreso_otro}}]
	         ]
	      }]
	 });	
}
</script>
{% endblock %}

{%block contenido%}
<div class="row no-gutter"><!-- row -->
                
    <div id="k-sidebar" class="col-lg-12 col-md-12"><!-- sidebar wrapper -->
                    
        <div class="col-consulta col-shaded"><!-- inner custom column -->
            
            <ul class="list-unstyled clear-margins"><!-- widgets -->    

                <div class="slide-indicadores">
                    <nav class="navbar navbar-default" role="navigation">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            
                        </div>
                    
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse navbar-ex1-collapse">
                            <ul class="nav navbar-nav navbar-left">
                                {% include "monitoreo/filtro-monitoreo.html" %}
                                <li><a href="">Familia >> Subindicador Ingresos</a></li>
                            </ul>
                            
                            <ul class="nav navbar-nav navbar-right">
                                <li id="mas" class=" btnindicador">
                                    <a href="">
                                        <span id="estado">
                                        <span class="glyphicon glyphicon-arrow-down"></span>
                                        </span> Cambiar de Indicador
                                    </a>
                                </li>

                            </ul>
                        </div><!-- /.navbar-collapse -->
                    </nav>

                </div>

                <div id="mostrar">
                     {% include "monitoreo/menu.html" %}
                </div>

                <div role="tabpanel">

                  <!-- Nav tabs -->
                  <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">Ingreso de la familia</a></li>
                    {% if request.session.tipo = '2' %}
                    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Ingreso de la entrevistada</a></li>
                    {%endif%}
                  </ul>

                  <!-- Tab panes -->
                  <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="home">

                        
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                <div class="panel panel-success panel-graficos">
                                    <div class="panel-heading">Gráficos ingresos</div>
                                              
                                    <div class="panel-body graficos_widget">
                                                
                                        <a href="#" id="grafico1" onCLick="click_callback('vendio')">A quién venden?</a>
                                        <a href="#" id="grafico2" onCLick="click_callback('maneja')">Quién maneja el negocio?</a>
                                        <a href="#" id="grafico3" onCLick="click_callback('ingreso')">Quién tiene los ingresos?</a>
                                        <a href="#" id="grafico9" onclick="Grafo8();" class="grafo">Ingreso por sistema</a>
                                        <a href="#" id="grafico10" onCLick="Grafo9();" class="grafo">Número de rubro en cada sistema</a>
                                        <a href="#" id="grafico11" onCLick="Grafo10();" class="grafo">Ingreso por clase</a>


                                    </div>
                                              
                                </div>


                                <div class="panel panel-success panel-graficos">
                                    <div class="panel-heading">Gráficos Otros ingresos</div>
                                              
                                    <div class="panel-body graficos_widget">
                                                
                                        <a href="#" id="grafico4" onCLick="click_callback('salario')">Tipos de Salarios</a>
                                        <a href="#" id="grafico5" onCLick="click_callback('negocio')">Tipos de Negocio</a>
                                        <a href="#" id="grafico6" onCLick="click_callback('remesa')">Tipos Remesas</a>
                                        <a href="#" id="grafico7" onCLick="click_callback('alquiler')">Tipo alquiler</a>


                                    </div>
                                              
                                </div>
                                            
                            </div>


                            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                                <div id="grafo"></div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Agroforestales</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in agro.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_agro|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>


                            
                                
                                
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                            <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Forestales</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in forestal.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_forestal|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Granos básicos</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in grano_basico.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_basico|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>

                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Ganado mayor</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in ganado_mayor.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_ganado|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Animales de patio</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in patio.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_patio|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Hortalizas y frutas</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in frutas.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_fruta|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption>Musaceas</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in musaceas.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_musaceas|intcomma}}</th>
                                        </tr>

                                    </table>
                                </div>

                                <div class="table-responsive">
                                   <table class="table table-bordered table-hover">
                                        <caption>Raíces y tubérculos</caption>
                                        <thead>
                                            <tr>
                                                <th >RUBROS</th>
                                                <th >Número de familias que venden</th>
                                                <th >Unidad</th>
                                                <th >Cantidad vendida por familia</th>
                                                <th >Precio promedio</th>
                                                <th >Ingreso por venta</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in raices.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.numero|floatformat}}</td>
                                                <td>{{value.key2|unslugify}}</td>
                                                <td>{{value.cantidad|floatformat}}</td>
                                                <td>{{value.precio|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                            </tr>
                                                {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL VENTA RUBROS</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{total_raices|intcomma}}</th>
                                        </tr>

                                    </table> 
                                </div>

                                <div class="table-responsive">
                                    <table class=" valores table table-bordered table-hover">
                                        <th>Ingreso agropecuario</th>
                                        <th> {{respuesta.ingreso|intcomma}}</th>
                                    </table>
                                </div>



                                <div class="table-responsive">
                                    <table class="table table-bordered table-hover">
                                        <caption></caption>
                                        <thead>
                                            <tr>
                                                <th>FUENTES</th>
                                                <th>NÚMERO DE FAMILIAS</th>
                                                <th>TOTAL MESES</th>
                                                <th>INGRESO MENSUAL PROMEDIO</th>
                                                <th>INGRESO TOTAL PROMEDIO</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {%for key, value in matriz.items%}
                                            <tr>
                                                <td>{{key|unslugify}}</td>
                                                <td>{{value.frecuencia|floatformat}}</td>
                                                <td>{{value.meses|floatformat}}</td>
                                                <td>{{value.ingreso|floatformat}}</td>
                                                <td>{{value.ingresototal|floatformat}}</td>
                                            </tr>
                                            {%endfor%}
                                        </tbody>
                                        <tr>
                                            <th>TOTAL OTROS INGRESO</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>{{respuesta.ingreso_otro|intcomma}}</th>
                                        </tr>
                                    </table>
                                </div>
                                <div class="subindicador">INGRESO  &raquo; Ingreso Bruto por familia</div>
                                <br> 
                                <table class="valores table table-bordered table-hover">
                                    <tr>
                                        <th>INGRESO BRUTO</th>

                                        <th>{{respuesta.bruto|intcomma}}</th>
                                    </tr>
                                </table>
                                <br>
                                <div class="subindicador">INGRESO  &raquo; Ingreso Neto por familia</div>
                                <br>

                                <table class=" valores table table-bordered table-hover" >
                                    <tr >
                                        <th>INGRESO NETO</th>

                                        <th>{{respuesta.total_neto|intcomma}}</th>
                                    </tr>
                                </table>
                        </div>
                        


                    
                    </div>
                    <div role="tabpanel" class="tab-pane" id="profile">

                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 graficos">
                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                            <div class="panel panel-success panel-graficos">
                                <div class="panel-heading">Gráficos ingresos entrevistada</div>
                                              
                                <div class="panel-body graficos_widget">
                                                
                                    <a href="#" id="grafico1" onCLick="click_callback_entre('vendio')">A quién venden?</a>
                                    <a href="#" id="grafico2" onCLick="click_callback_entre('maneja')">Quién maneja el negocio?</a>
                                    <a href="#" id="grafico3" onCLick="click_callback_entre('ingreso')">Quién tiene los ingresos?</a>
                                    <a href="#" id="grafico9" onclick="Grafo8();" class="grafo">Ingreso por sistema</a>
                                    <a href="#" id="grafico10" onCLick="Grafo9();" class="grafo">Número de rubro en cada sistema</a>
                                    <a href="#" id="grafico11" onCLick="Grafo10();" class="grafo">Ingreso por clase</a>


                                </div>
                                              
                            </div>
                                            
                        </div>


                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
                            <div id="grafo_entre"></div>
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover">
                                    <caption>Agroforestales</caption>
                                    <thead>
                                        <tr>
                                            <th >RUBROS</th>
                                            <th >Número de familias que venden</th>
                                            <th >Unidad</th>
                                            <th >Cantidad vendida por familia</th>
                                            <th >Precio promedio</th>
                                            <th >Ingreso por venta</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {%for key, value in agro_entre.items%}
                                        <tr>
                                            <td>{{key|unslugify}}</td>
                                            <td>{{value.numero|floatformat}}</td>
                                            <td>{{value.key2|unslugify}}</td>
                                            <td>{{value.cantidad|floatformat}}</td>
                                            <td>{{value.precio|floatformat}}</td>
                                            <td>{{value.ingreso|floatformat}}</td>
                                        </tr>
                                            {%endfor%}
                                    </tbody>
                                    <tr>
                                        <th>TOTAL VENTA RUBROS</th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th>{{total_agro_entre|intcomma}}</th>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Forestales</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in forestal_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_forestal_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Ganado mayor</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in ganado_mayor_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_ganado_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Animales de patio</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in patio_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_patio_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Hortalizas y frutas</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in frutas_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_fruta_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Musaceas</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in musaceas_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_musaceas_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <caption>Raíces y tubérculos</caption>
                                <thead>
                                    <tr>
                                        <th >RUBROS</th>
                                        <th >Número de familias que venden</th>
                                        <th >Unidad</th>
                                        <th >Cantidad vendida por familia</th>
                                        <th >Precio promedio</th>
                                        <th >Ingreso por venta</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {%for key, value in raices_entre.items%}
                                    <tr>
                                        <td>{{key|unslugify}}</td>
                                        <td>{{value.numero|floatformat}}</td>
                                        <td>{{value.key2|unslugify}}</td>
                                        <td>{{value.cantidad|floatformat}}</td>
                                        <td>{{value.precio|floatformat}}</td>
                                        <td>{{value.ingreso|floatformat}}</td>
                                    </tr>
                                        {%endfor%}
                                </tbody>
                                <tr>
                                    <th>TOTAL VENTA RUBROS</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th>{{total_raices_entre|intcomma}}</th>
                                </tr>

                            </table>
                        </div>
                        <div class="table-responsive">
                            <table class="valores table table-bordered table-hover">
                                <th>Ingreso agropecuario</th>
                                <th>{{respuesta_entre.ingreso|intcomma}}</th>
                            </table>
                        </div>
                        <div class="subindicador">INGRESO  &raquo; Ingreso Bruto por familia</div>
                            <table class="valores table table-bordered table-hover">
                                <tr colspan="2">
                                    <th>INGRESO BRUTO</th>

                                    <th>{{respuesta_entre.bruto|intcomma}}</th>
                                </tr>
                            </table>
                        <div class="subindicador">INGRESO  &raquo; Ingreso Neto por familia</div>
                            <table class="valores table-bordered table-hover">
                                <tr colspan="2">
                                    <th>INGRESO NETO</th>

                                    <th>{{respuesta_entre.total_neto|intcomma}}</th>
                                </tr>
                            </table>

                        
                    </div>


                <div class="contenido">
                <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/17/"></a>{%endif%}</div>



                <div class="subindicador"><a class="exportar guardarXLS" href="#" onclick="exportarXLS('modalidad'); return false;"></a>{% if request.user.is_authenticated %}<a class="exportar2" href="/exportar/17/"></a>{%endif%}</div>
                                
                <br><div class="subindicador">INGRESO  &raquo; Los Otros Ingresos familiares <a href="#" class="exportar"></a> <a class="exportar2" href="/exportar/18/"></a></div><br>
                </div>


                    </div>

                  </div>

                </div>
            </ul><!-- widgets end -->
                    
        </div><!-- inner custom column end -->
                    
    </div><!-- sidebar wrapper end -->
</div><!-- sidebar row -->
{%endblock%}
