<div class="botonera">
<div class="indicadores">    
<div class="title-monitoreo text-left" >Seleccione el Indicador</div>
    <hr>
   
        <a id="ancla" href="/monitoreo/educacion?v={{request.session.crce}}" class="btn btn-success">Familias</a>
        <a href="/monitoreo/gremial?v={{request.session.crce}}" class="btn btn-success">Organización</a>
        <a href="/monitoreo/fincas?v={{request.session.crce}}" class="btn btn-success">Tierra</a>
        <a href="/monitoreo/animales?v={{request.session.crce}}"class="btn btn-success">Animales</a>
        <a href="/monitoreo/cultivos?v={{request.session.crce}}"class="btn btn-success">Cultivos</a>
        <a href="/monitoreo/opcionesmanejo?v={{request.session.crce}}"class="btn btn-success">Opciones de manejo</a>
        <a href="/monitoreo/usosemilla?v={{request.session.crce}}"class="btn btn-success">Uso de semilla</a>
        <a href="/monitoreo/suelos?v={{request.session.crce}}"class="btn btn-success">Suelo</a>
        <a href="/monitoreo/ingresos?v={{request.session.crce}}" class="btn btn-success">Ingresos</a>
        <a href="/monitoreo/equipos?v={{request.session.crce}}" class="btn btn-success">Bienes</a>
        <a href="/monitoreo/ahorro_credito?v={{request.session.crce}}" class="btn btn-success">Ahorro y crédito</a>
        <a href="/monitoreo/seguridad?v={{request.session.crce}}" class="btn btn-success">Seguridad alimentaria</a>
        <a href="/monitoreo/vulnerable?v={{request.session.crce}}" class="btn btn-success">Riesgos</a>
   
</div>
</div>