<div id="indicadores">    
<div id="seleccionindicador">Seleccione el Indicador</div>
    <div id="contenedor_indicadores">
        <a href="/monitoreo/educacion?v={{request.session.crce}}" class="button">Familias</a>
        <a href="/monitoreo/gremial?v={{request.session.crce}}" class="button">Organización</a>
        <a href="/monitoreo/fincas?v={{request.session.crce}}" class="button">Tierra</a>
        <a href="/monitoreo/animales?v={{request.session.crce}}"class="button">Ánimales</a>
        <a href="/monitoreo/cultivos?v={{request.session.crce}}"class="button">Cultivos</a>
        <a href="/monitoreo/opcionesmanejo?v={{request.session.crce}}"class="button">Opciones de manejo</a>
        <a href="/monitoreo/usosemilla?v={{request.session.crce}}"class="button">Uso de semilla</a>
        <a href="/monitoreo/suelos?v={{request.session.crce}}"class="button">Suelo</a>
        <a href="/monitoreo/ingresos?v={{request.session.crce}}" class="button">Ingresos</a>
        <a href="/monitoreo/equipos?v={{request.session.crce}}" class="button">Bienes</a>
        <a href="/monitoreo/ahorro_credito?v={{request.session.crce}}" class="button">Ahorro y crédito</a>
        <a href="/monitoreo/seguridad?v={{request.session.crce}}" class="button">Seguridad alimentaria</a>
        <a href="/monitoreo/vulnerable?v={{request.session.crce}}" class="button">Riesgos</a>
    </div>
</div>
