{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura del punto 1'
        },
        subtitle: {
            text: 'en %'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Cobertura de sombra'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} %'
                }
            }
        },
        series: [{
            name: 'Punto 1',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto1 %}
                  [{{obj.cobertura}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo2').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura del punto 2'
        },
        subtitle: {
            text: 'en %'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Cobertura de sombra'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} %'
                }
            }
        },
        series: [{
            name: 'Punto 2',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto2 %}
                  [{{obj.cobertura}}],
                {% endfor %}
                ]

        }]
    });
});
$(function () {
    $('#grafo3').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Cobertura del punto 3'
        },
        subtitle: {
            text: 'en %'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Cobertura de sombra'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Porcentaje (%)'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} %'
                }
            }
        },
        series: [{
            name: 'Punto 1',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in punto3 %}
                  [{{obj.cobertura}}],
                {% endfor %}
                ]

        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<p class="center-block">Cobertura de sombra</p>

<div class="row">
 <div class="col-md-6">
   <div id="grafo1"></div>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-6">
   <div id="grafo3"></div>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>

{% endblock contenido %}
