{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    // Create the chart
    $('#grafo1').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Rangos de alturas'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [

              {
                  name: '(1, 10.99)',
                  y: {{barra1_altura}},
              },
              {
                  name: '(11, 20.99)',
                  y: {{barra2_altura}},
              },
              {
                  name: '(21, 30.99)',
                  y: {{barra3_altura}},
              },
              {
                  name: '(31, 40.99)',
                  y: {{barra4_altura}},
              },
              {
                  name: 'más de 41',
                  y: {{barra5_altura}},
              },

            ]
        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Rangos de diametros'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [

              {
                  name: '(0.1, 50.99)',
                  y: {{barra1_diametro}},
              },
              {
                  name: '(51, 100.99)',
                  y: {{barra2_diametro}},
              },
              {
                  name: '(101, 150.99)',
                  y: {{barra3_diametro}},
              },
              {
                  name: '(151, 200.99)',
                  y: {{barra4_diametro}},
              },
              {
                  name: 'más de 201',
                  y: {{barra5_diametro}},
              },

            ]
        }]
    });
});
$(function () {
    // Create the chart
    $('#grafo3').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Rangos de anchura de copa'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Total'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [

              {
                  name: '(1, 4.99)',
                  y: {{barra1_anchura}},
              },
              {
                  name: '(5, 9.99)',
                  y: {{barra2_anchura}},
              },
              {
                  name: '(10, 14.99)',
                  y: {{barra3_anchura}},
              },
              {
                  name: '(15, 20.99)',
                  y: {{barra4_anchura}},
              },
              {
                  name: 'más de 21',
                  y: {{barra5_anchura}},
              },

            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}
<p class="center-block">Dimenciones de arboles de sombra</p>
<div class="row">
 <div class="col-md-6">
  <h3>Datos de altura</h3>
  <p>
    PROMEDIO: {{promedio_altura|floatformat:2}}
  </p>
  <p>
    DESVIACIÓN ESTANDAR: {{desviacion_altura|floatformat:2}}
  </p>
  <p>
    MEDIANA: {{media_altura}}
  </p>
  <p>
    RANGO MINIMO: {{minimo_altura}}
  </p>
  <p>
    RANGO MAXIMO: {{maximo_altura}}
  </p>
 </div>
 <div class="col-md-6">
   <div id="grafo1"></div>
 </div>
</div>
<hr>
<div class="row">
 <div class="col-md-6">
   <h3>Datos de Diametro</h3>
   <p>
     PROMEDIO: {{promedio_diametro|floatformat:2}}
   </p>
   <p>
     DESVIACIÓN ESTANDAR: {{desviacion_diametro|floatformat:2}}
   </p>
   <p>
     MEDIANA: {{media_diametro}}
   </p>
   <p>
     RANGO MINIMO: {{minimo_diametro}}
   </p>
   <p>
     RANGO MAXIMO: {{maximo_diametro}}
   </p>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h3>Datos de Anchura de la copa</h3>
    <p>
      PROMEDIO: {{promedio_anchura|floatformat:2}}
    </p>
    <p>
      DESVIACIÓN ESTANDAR: {{desviacion_anchura|floatformat:2}}
    </p>
    <p>
      MEDIANA: {{media_anchura}}
    </p>
    <p>
      RANGO MINIMO: {{minimo_anchura}}
    </p>
    <p>
      RANGO MAXIMO: {{maximo_anchura}}
    </p>
  </div>
  <div class="col-md-6">
    <div id="grafo3"></div>
  </div>
</div>
{% endblock contenido %}
