{% extends "guiascacao/base.html" %}

{% load tools %}

{% block extra_js %}
<script type="text/javascript">

</script>
{% endblock extra_js %}

{% block contenido %}
<p class="center-block">Dominancia de arboles de sombra</p>
TOTAL DE ESPECIES: {{CUANTO_ESPECIES}}  *se excluyo banano en todo el sistema {{SUMA_TOTAL_ESPECIE}}
<div class="row">
 <div class="col-md-6">
   <div id="grafo1"></div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Especies</th>
          <th># total</th>
          <th>%</th>
        </tr>
      </thead>
      <tbody>
        {% for v in algo %}
        <tr>
          <th scope=row>{{v.0}}</th>
          <td>{{v.1}}</td>
          <td>{{v.1|calcular_frecuencia:SUMA_TOTAL_ESPECIE}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>
{% endblock contenido %}
