{% extends "guiascacao/base.html" %}

{% block extra_js %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $("#id_productor").autocomplete({
    source: "/cacao/api/productor/",
    minLength: 2,
  });
});

  // $(function() {
  //   $( "#id_productor" ).autocomplete({
  //     source: function( request, response ) {
  //       $.ajax({
  //         url: "/cacao/api/productor/",   //"http://gd.geobytes.com/AutoCompleteCity",
  //         dataType: "json",
  //         data: {
  //           q: request.term,
  //         },
  //         success: function( data ) {
  //           response( data );
  //         }
  //       });
  //     },
  //     minLength: 3,
  //     select: function( event, ui ) {
  //       log( ui.item ?
  //         "Seleccionado: " + ui.item.label :
  //         "Nada seleccionado, introdujo " + this.value);
  //     },
  //     open: function() {
  //       $( this ).removeClass( "ui-corner-all" ).addClass( "ui-corner-top" );
  //     },
  //     close: function() {
  //       $( this ).removeClass( "ui-corner-top" ).addClass( "ui-corner-all" );
  //     }
  //   });
  // });
  </script>
{% endblock extra_js %}

{% block contenido %}
<form  action="." method="POST"> {% csrf_token %}
  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.fecha.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.fecha}}
  	</div>
  </div>

 {% if request.user.is_authenticated %}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label for="">{{form.productor.label}}</label>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
      {{form.productor}}
    </div>
  </div>
{% endif %}

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.organizacion.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.organizacion}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.pais.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.pais}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.departamento.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.departamento}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.municipio.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.municipio}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.comunidad.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.comunidad}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.sexo.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.sexo}}
  	</div>
  </div>

  <div class="row">
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
  		<label for="">{{form.tipologia.label}}</label>
  	</div>
  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-8">
  		{{form.tipologia}}
  	</div>
  </div>

<input type="submit" value="Consultar" class="btn btn-form" name="consulta"/>

</form>

{% if centinela %}
  {% include "guiascacao/menu_salidas.html" %}
{% endif %}

{% endblock contenido %}
