<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">SOMBRA</li>
        <li> <a href="/cacao/sombra/riqueza/"> Riqueza de sombra</a></li>
        <li><a href="/cacao/sombra/analisis/"> Analisis de sombra</a></li>
        <li><a href="/cacao/sombra/cobertura/"> Cobertura de sombra</a></li>
        <li><a href="/cacao/sombra/densidad/"> Densidad de sombra</a></li>
        <li><a href="/cacao/sombra/acciones/"> Acciones de sombra</a></li>
        <li><a href="/cacao/sombra/caracterizacion/"> Caracterizacion arborea de sombra</a></li>
        <li><a href="/cacao/sombra/dominancia/"> Dominancia especies sombra</a></li>
        <li><a href="/cacao/sombra/dimensiones/"> Dimenciones sombra</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PODA</li>
        <li> <a href="/cacao/poda/" disabled="disabled"> Altura de las platas</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Anchuras de copas de las plantas</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Nivel de producción</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Atributos de las árboles</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Analisis de poda</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Tipos de poda</a></li>
        <li><a href="/cacao/poda/" disabled="disabled"> Acciones para mejoras</a></li>
    </ul>
</div>
