            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-ind">
                    <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#sombra" aria-expanded="true" aria-controls="sombra"id="headingOne">
                        <h4 class="panel-title">
                            Sombra
                        </h4>
                    </a>
                    <div id="sombra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body menu-">
                            <ul class="list-group">

                                <a class="list-group-item" href="/cacao/sombra/riqueza/">
                                    Riqueza de sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/cobertura/">
                                    Cobertura de sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/densidad/">
                                    Densidad de sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/caracterizacion/">
                                    Caracterización arborea de sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/dominancia/">
                                    Dominancia especies sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/dimensiones/">
                                    Dimenciones arborea
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/analisis/">
                                    Análisis de sombra
                                </a>

                                <a class="list-group-item" href="/cacao/sombra/acciones/">
                                    Acciones de sombra
                                </a>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default panel-ind">
                    <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#poda" aria-expanded="true" aria-controls="poda" id="headingOne">
                        <h4 class="panel-title">
                            Poda
                        </h4>
                    </a>
                    <div id="poda" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body menu-">
                            <ul class="list-group">

                                <a class="list-group-item" href="/cacao/poda/altura/">
                                    Alturas de las plantas
                                </a>

                                <a class="list-group-item" href="/cacao/poda/ancho-copa/">
                                    Ancho de copa de las plantas
                                </a>

                                <a class="list-group-item" href="/cacao/poda/produccion/">
                                    Nivel de producción
                                </a>

                                <a class="list-group-item" href="/cacao/poda/atributos/">
                                    Atributos de las plantas
                                </a>

                                <a class="list-group-item" href="/cacao/poda/analisis/">
                                    Problemas de las plantas
                                </a>

                                <a class="list-group-item" href="/cacao/poda/tipos-poda/">
                                    Tipos de poda
                                </a>

                                <a class="list-group-item" href="/cacao/poda/acciones/">
                                    Acciones de poda
                                </a>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
