<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
            <li class="list-header">SOMBRA</li>
            <li> <a href="/cacao/sombra/riqueza/"> Riqueza de sombra</a></li>
            <li><a href="/cacao/sombra/cobertura/"> Cobertura de sombra</a></li>
            <li><a href="/cacao/sombra/densidad/"> Densidad de sombra</a></li>
            <li><a href="/cacao/sombra/caracterizacion/"> Caracterizacion arborea</a></li>
            <li><a href="/cacao/sombra/dominancia/"> Dominancia especies sombra</a></li>
            <li><a href="/cacao/sombra/dimensiones/"> Dimenciones arboreas</a></li>
            <li><a href="/cacao/sombra/analisis/"> Analisis de sombra</a></li>
            <li><a href="/cacao/sombra/acciones/"> Acciones de sombra</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
            <li class="list-header">PODA</li>
            <li> <a href="/cacao/poda/altura/"> Altura de las platas</a></li>
            <li><a href="/cacao/poda/ancho-copa/"> Anchuras de copas de las plantas</a></li>
            <li><a href="/cacao/poda/produccion/"> Nivel de producción</a></li>
            <li><a href="/cacao/poda/atributos/"> Atributos de las árboles</a></li>
            <li><a href="/cacao/poda/analisis/"> Analisis de poda</a></li>
            <li><a href="/cacao/poda/tipos-poda/"> Tipos de poda</a></li>
            <li><a href="/cacao/poda/acciones/"> Acciones para mejoras</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
            <li class="list-header">PLAGA</li>
            <li> <a href="/cacao/plaga/historial/">  Historial de plagas y enfermedades</a></li>
            <li><a href="/cacao/plaga/acciones/">  Historial de acciones</a></li>
            <li><a href="/cacao/plaga/fuente-incidencia/"> Incidencia</a></li>
            <li><a href="/cacao/plaga/produccion/"> Producción y relación</a></li>
            <li><a href="/cacao/plaga/analisis/"> Análisis:plaga</a></li>
            <li><a href="/cacao/plaga/suelo/">  Análisis:suelo</a></li>
            <li><a href="/cacao/plaga/acciones-manejo/"> Acciones para manejo de plaga</a></li>
            <li><a href="/cacao/plaga/equipos-formacion/"> Equipos y formación</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <ul class="ind">
            <li class="list-header">PISO</li>
            <li> <a href="/cacao/piso/estado/">  Historial del estado del piso</a></li>
            <li><a href="/cacao/piso/manejo/"> Historial del manejo de piso</a></li>
            <li><a href="/cacao/piso/orientacion/"> Composición del piso</a></li>
            <li><a href="/cacao/piso/analisis/"> Análisis del piso</a></li>
            <li><a href="/cacao/piso/suelo/"> Análisis de manejo</a></li>
            <li><a href="/cacao/piso/propuesta/"> Propuesta de manejo</a></li>
            <li><a href="/cacao/piso/equipo-formacion/"> Equipo y formación</a></li>
        </ul>
    </div>
</div>
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">COSECHA</li>
        <li> <a href="/cacao/cosecha/conversaciones/">  Conversación con el productor</a></li>
        <li><a href="/cacao/cosecha/mazorcas-sanas/"> Datos Mazorcas sanas</a></li>
        <li><a href="/cacao/cosecha/mazorcas-enfermas/"> Datos Mazorcas enfermas</a></li>
        <li><a href="/cacao/cosecha/mazorcas-danadas/"> Datos Mazorcas dañadas</a></li>
        <li><a href="/cacao/cosecha/analisis/"> Análisis de cosecha</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">CIERRE</li>
        <li> <a href="/cacao/cierre/sombra/">  Sombra</a></li>
        <li><a href="/cacao/cierre/poda/"> Poda</a></li>
        <li><a href="/cacao/cierre/suelo/"> Suelo</a></li>
        <li><a href="/cacao/cierre/plaga/"> Plaga</a></li>
        <li><a href="/cacao/cierre/piso/"> Piso</a></li>
        <li><a href="/cacao/cierre/vivero/"> Vivero</a></li>
        <li><a href="/cacao/cierre/Cosecha/"> Cosecha</a></li>
        <li><a href="/cacao/cierre/costos/"> Calculos costos</a></li>
        <li><a href="/cacao/cierre/tablas/"> tablas sombre variedades</a></li>
        <li><a href="/cacao/cierre/ciclo-trabajo/"> Ciclo de trabajo</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">SAF</li>
        <li> <a href="/cacao/saf/objetivos/"> Objetivos</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a</a></li>
        <li><a href="/cacao/saf/#/"> a a</a></li>
        <li><a href="/cacao/saf/#/"> a a a</a></li>
        <li><a href="/cacao/saf/#/"> a a a</a></li>
    </ul>
</div>
</div>
