<style media="screen">
a[disabled=disabled] {
  pointer-events: none;
  cursor: default;
  color: #CCC;
  font-weight: bold;
}
</style>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">SOMBRA</li>
        <li> <a href="/cacao/sombra/riqueza/"> Riqueza de sombra</a></li>
        <li><a href="/cacao/sombra/cobertura/"> Cobertura de sombra</a></li>
        <li><a href="/cacao/sombra/densidad/"> Densidad de sombra</a></li>
        <li><a href="/cacao/sombra/caracterizacion/"> Caracterizacion arborea</a></li>
        <li><a href="/cacao/sombra/dominancia/"> Dominancia especies sombra</a></li>
        <li><a href="/cacao/sombra/dimensiones/"> Dimenciones arboreas</a></li>
        <li><a href="/cacao/sombra/analisis/"> Analisis de sombra</a></li>
        <li><a href="/cacao/sombra/acciones/"> Acciones de sombra</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PODA</li>
        <li> <a href="/cacao/poda/altura/"> Altura de las platas</a></li>
        <li><a href="/cacao/poda/ancho-copa/"> Anchuras de copas de las plantas</a></li>
        <li><a href="/cacao/poda/produccion/"> Nivel de producción</a></li>
        <li><a href="/cacao/poda/atributos/"> Atributos de las árboles</a></li>
        <li><a href="/cacao/poda/analisis/"> Analisis de poda</a></li>
        <li><a href="/cacao/poda/tipos-poda/"> Tipos de poda</a></li>
        <li><a href="/cacao/poda/acciones/"> Acciones para mejoras</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PLAGA</li>
        <li> <a href="/cacao/plaga/historial/">  Historial de plagas y enfermedades</a></li>
        <li><a href="/cacao/plaga/acciones/"> Acciones</a></li>
        <li><a href="/cacao/plaga/fuente-incidencia/"> Fuente e Incidencia</a></li>
        <li><a href="/cacao/plaga/produccion/"> Producción y relación</a></li>
        <li><a href="/cacao/plaga/analisis/"> Análisis y acción</a></li>
        <li><a href="/cacao/plaga/suelo/"> Observaciones de suelo</a></li>
        <li><a href="/cacao/plaga/acciones-manejo/"> Acciones para manejo de plaga</a></li>
        <li><a href="/cacao/plaga/equipos-formacion/"> Equipos y formación</a></li>
    </ul>
</div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
    <ul class="ind">
        <li class="list-header">PISO</li>
        <li> <a href="/cacao/piso/estado/">  Estado y manejo del piso</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
        <li><a href="/cacao/piso/#/"> menu</a></li>
    </ul>
</div>
