<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#sombra" aria-expanded="true" aria-controls="sombra"id="headingOne">
            <h4 class="panel-title">
                Sombra
            </h4>
        </a>
        <div id="sombra" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/sombra/riqueza/">
                        Riqueza de sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/cobertura/">
                        Cobertura de sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/densidad/">
                        Densidad de sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/caracterizacion/">
                        Caracterización arborea de sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/dominancia/">
                        Dominancia especies sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/dimensiones/">
                        Dimenciones arborea
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/analisis/">
                        Análisis de sombra
                    </a>

                    <a class="list-group-item" href="/cacao/sombra/acciones/">
                        Acciones de sombra
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#poda" aria-expanded="true" aria-controls="poda" id="headingOne">
            <h4 class="panel-title">
                Poda
            </h4>
        </a>
        <div id="poda" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/poda/altura/">
                        Alturas de las plantas
                    </a>

                    <a class="list-group-item" href="/cacao/poda/ancho-copa/">
                        Ancho de copa de las plantas
                    </a>

                    <a class="list-group-item" href="/cacao/poda/produccion/">
                        Nivel de producción
                    </a>

                    <a class="list-group-item" href="/cacao/poda/atributos/">
                        Atributos de las plantas
                    </a>

                    <a class="list-group-item" href="/cacao/poda/analisis/">
                        Problemas de las plantas
                    </a>

                    <a class="list-group-item" href="/cacao/poda/tipos-poda/">
                        Tipos de poda
                    </a>

                    <a class="list-group-item" href="/cacao/poda/acciones/">
                        Acciones de poda
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#plaga" aria-expanded="true" aria-controls="plaga" id="headingOne">
            <h4 class="panel-title">
                Plaga
            </h4>
        </a>
        <div id="plaga" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/plaga/historial/">
                        Historial de plagas y enfermedades
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/acciones/">
                         Historial de acciones
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/fuente-incidencia/">
                        Incidencias
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/produccion/">
                        Producción y relacion plaga y rendimiento
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/analisis/">
                        Análisis:plaga
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/suelo/">
                       Análisis:suelo
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/acciones-manejo/">
                        Acciones para manejo de plaga
                    </a>

                    <a class="list-group-item" href="/cacao/plaga/equipos-formacion/">
                        Equipos y formación
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#piso" aria-expanded="true" aria-controls="piso" id="headingOne">
            <h4 class="panel-title">
                Piso
            </h4>
        </a>
        <div id="piso" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/piso/estado/">
                       Historial del estado del piso
                    </a>

                    <a class="list-group-item" href="/cacao/piso/manejo/">
                        Historial del manejo de piso
                    </a>

                    <a class="list-group-item" href="/cacao/piso/orientacion/">
                        Composición del piso
                    </a>

                    <a class="list-group-item" href="/cacao/piso/analisis/">
                       Análisis del piso
                    </a>

                    <a class="list-group-item" href="/cacao/piso/suelo/">
                        Análisis de manejo
                    </a>

                    <a class="list-group-item" href="/cacao/piso/propuesta/">
                       Propuesta de manejo
                    </a>

                    <a class="list-group-item" href="/cacao/piso/equipo-formacion/">
                        Equipo y formación
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#cosecha" aria-expanded="true" aria-controls="cosecha" id="headingOne">
            <h4 class="panel-title">
                Cosecha
            </h4>
        </a>
        <div id="cosecha" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/cosecha/conversaciones/">
                       Conversación con productores
                    </a>

                    <a class="list-group-item" href="/cacao/cosecha/mazorcas-sanas/">
                        Datos Mazorcas sanas
                    </a>

                    <a class="list-group-item" href="/cacao/cosecha/mazorcas-enfermas/">
                        Datos Mazorcas enfermas
                    </a>

                    <a class="list-group-item" href="/cacao/cosecha/mazorcas-danadas/">
                       Datos Mazorcas dañadas
                    </a>
                    <a class="list-group-item" href="/cacao/cosecha/analisis/">
                       Análisis de cosecha
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default panel-ind">
        <a class="panel-heading" role="tab" data-toggle="collapse" data-parent="#accordion" href="#cierre" aria-expanded="true" aria-controls="cierre" id="headingOne">
            <h4 class="panel-title">
                Cierre
            </h4>
        </a>
        <div id="cierre" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body menu-">
                <ul class="list-group">

                    <a class="list-group-item" href="/cacao/cierre/sombra/">
                       Sombra
                    </a>

                    <a class="list-group-item" href="/cacao/cierre/poda/">
                        Poda
                    </a>

                    <a class="list-group-item" href="/cacao/cierre/suelo/">
                        Suelo
                    </a>

                    <a class="list-group-item" href="/cacao/cierre/plaga/">
                       Plaga
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/piso/">
                       Piso
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/vivero/">
                       Vivero
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/cosecha/">
                       Cosecha
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/costos/">
                      Calculos costos
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/tablas/">
                      tablas sombre variedades
                    </a>
                    <a class="list-group-item" href="/cacao/cierre/ciclo-trabajo/">
                       Ciclo de trabajo
                    </a>

                </ul>
            </div>
        </div>
    </div>
</div>
