{% extends "guiascacao/base.html" %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('#grafo1').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Riqueza de árboles'
        },
        subtitle: {
            text: 'numero de especies en 1890 m2'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Parcela'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Riqueza'
            }
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 5,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '{point.x} , {point.y} '
                }
            }
        },
        series: [{
            name: 'riquezas',
            color: 'rgba(223, 83, 83, .5)',
            data: [
                {% for obj in puntos %}
                  [{{obj}}],
                {% endfor %}
                ]

        }]
    });
});

$(function () {
    // Create the chart
    $('#grafo2').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Distribución de frecuencia'
        },
        subtitle: {
            text: 'Rangos de riqueza de sombra'
        },
        xAxis: {
            type: 'category'
        },
        yAxis: {
            title: {
                text: 'Frecuencia'
            }

        },
        legend: {
            enabled: false
        },
        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true,
                    format: '{point.y:.1f}'
                }
            }
        },

        tooltip: {
            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}</b> of total<br/>'
        },

        series: [{
            name: 'Rangos',
            colorByPoint: true,
            data: [
              {% for k,v in grafo_riqueza.items %}
                {
                    name: '{{k}}',
                    y: {{v}},
                },
              {% endfor %}

            ]
        }]
    });
});
</script>
{% endblock extra_js %}

{% block contenido %}

    <div class="container-fluid">
       <!--<div class="title-consulta">
            <h4>Riqueza de sombra</h4>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Sombra
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body menu-">
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="/cacao/riqueza/"> Riqueza de sombra</a>
                                 </li>
                                <li class="list-group-item">
                                    <a href="/cacao/analisis/"> Analisis de sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/cobertura/"> Cobertura de sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/densidad/"> Densidad de sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/acciones/"> Acciones de sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/caracterizacion/"> Caracterizacion arborea de sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/dominancia/"> Dominancia especies sombra</a>
                                </li>
                                <li class="list-group-item">
                                    <a href="/cacao/dimensiones/"> Dimenciones sombra</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">

        </div>-->

    </div>

<p class="center-block"></p>

<div class="row">
 <div class="col-md-6">
   <div id="grafo1"></div>
 </div>
 <div class="col-md-6">
   <div id="grafo2"></div>
 </div>
</div>
<hr>
<div class="row">
  <div class="col-md-2"></div>
 <div class="col-md-8">
   <p>
     <h5>Numero de parcelas: {{numero_parcelas}}</h5>
   </p>
  <p>
    <h5>Promedio de riqueza total: {{promedio2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Mediana de riqueza total: {{mediana2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Desviación típica de riqueza total: {{desviacion2|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Minimo: {{minimo|floatformat:2}}</h5>
  </p>
  <p>
    <h5>Maximo: {{maximo|floatformat:2}}</h5>
  </p>

 </div>
 <div class="col-md-2"></div>
</div>

{% endblock contenido %}
