{% extends "baseadmin.html" %}
{%block extra_js%}
<script type="text/javascript" src="/files/js/autocompletejs/jquery.autocomplete.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
		$('input').tooltip({'placement':'right'});
	});
</script>

<script type="text/javascript">
	$(function() {
		$elem = $('#actionbuttons');
		
		// detectar el scroll de la ventana y fixear el elemento
	    $(window).bind('scroll', function() {
	    	var windowTop = $(this).scrollTop();
	    	if(windowTop>=310){
	    		$elem.addClass('fixed');
	    	}else{
	    		// volver elemento a su lugar
	    		$elem.removeClass('fixed');
	    	}
	    }); 

	    $('a[href^="/uploads/fotos"]').each(function(index, item){
	    	$(item).html('');
	    	$(item).append('<img src="'+$(item).attr('href')+'" width="60" height="60">');
	    });
	    
	    $('p:has(input[type="file"])').each(function(index, item){
	    	$(item).children('a').addClass('imgpreview').siblings('input').addClass('inputreplace');	    	
	    	$(item).html(function(id, html){
	    		return html.replace('Actualmente:', '').replace('Modificar:', '');
	    	});
	    });
	    $('input[id*="clear"], label[for*="clear"]').addClass('hideclear');

	    //para definir el alto de las tabs igual a su contenido
	    var alto = $('.tab-content').height();
	    $('.nav-tab-media').height(alto);
	});
</script>
{% endblock %}
{% block contenido %}

 			<div class="row no-gutter"><!-- row -->
                
                <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                	
                    <div class="col-padded"><!-- inner custom column -->
                    
                    	<div class="row gutter"><!-- row -->

                        
                        	<div class="col-lg-12 col-md-12">
                    
                            	<h1 class="page-title">Crear Nota</h1><!-- category title -->
                            
                            </div>
                        
                        </div><!-- row end -->

                        <div class="row gutter k-equal-height"><!-- row -->
                        <br>
						    <form enctype="multipart/form-data" method="post" action=".">{% csrf_token %}
								{{ form.media }}
								<div class="col-lg-12 col-md-12">
									<div class="">
										{%if form.errors%}
											<div class="alert alert-error"><b>Favor corregir los siguientes errores</b><br>{{form.errors}}</div>
										{%endif%}
										<label for="titulo" class="label-pag">
											{{form.titulo.label}}
											<span class="required">*</span>
										</label>
										{{form.titulo}}
										<hr>


										<label for="contenido" class="label-pag">
											{{form.contenido.label}}
											<span class="required">*</span>
										</label>
										<br>
										<br>

										{{form.contenido}}
										<hr>

										<div role="tabpanel">

		                                  	<!-- Nav tabs -->
		                                  	<ul class="nav nav-tabs" role="tablist">
		                                    	<li role="presentation" class="active">
			                                    	<a href="#imagenes" aria-controls="imagenes" role="tab" data-toggle="tab">
			                                    	<i class="fa fa-picture-o"></i> Imagenes</a>
		                                    	</li>

		                                    	<li role="presentation">
			                                    	<a href="#documentos" aria-controls="documentos" role="tab" data-toggle="tab">
			                                    	<i class="fa fa-file-pdf-o"></i> Documentos</a>
		                                    	</li>

		                                    	<li role="presentation">
		                                    		<a href="#video" aria-controls="video" role="tab" data-toggle="tab">
		                                    		<i class="fa fa-film"></i> Video</a>
		                                    	</li>

		                                    	<li role="presentation">
		                                    		<a href="#audio" aria-controls="audio" role="tab" data-toggle="tab">
		                                    		<i class="fa fa-volume-up"></i> Audio</a>
		                                    	</li>
		                                  	</ul>

		                                  <!-- Tab panes -->
		                                  <div class="tab-content">
		                                    <div role="tabpanel" class="tab-pane active" id="imagenes">
												<div class="media-form-inline">

														{% for foto in form2 %}
														
															{{foto.label_tag}}
															{{foto}}
															<hr>
														{% endfor %}
													
												</div>
		                                    </div>
		                                    <div role="tabpanel" class="tab-pane" id="documentos">
		                                    	<div class="media-form-inline">
		                                    		<div class="media-form-inline">
			                                    		{% for docu in form3 %}
			                                    			
															{{docu.label_tag}}
															
															{{docu}}
															
															<hr>
														{% endfor %}
													</div>
												</div>
		                                    </div>
		                                    <div role="tabpanel" class="tab-pane" id="video">
		                                    	<div class="media-form-inline">
			                                    	{% for video in form4 %}
							         					
							                            {{video.label_tag}}
							                          
							                            {{video}}
														<hr>
						                       	 	{% endfor %}
						                       	</div>
		                                    </div>
		                                    <div role="tabpanel" class="tab-pane" id="audio">
		                                    	<div class="media-form-inline">
			                                    	{% for audio in form5 %}
							  							
							                            {{audio.label_tag}}
							                            
							                            {{audio}}
							           					<hr>
							                        {% endfor %}
						                    	</div>
		                                    </div>
		                                    	
		                                  </div>

		                                </div>

										</div>


										
									</div>
									<div class="span3">
										<div class="alert "><i class="icon-info-sign"></i>
										  Crear una nota para presentar al público un contenido destacado de tu organización
										</div>
										<div class="" id="">
										<input class="btn btn-large btn-info " style="" type="submit" id="submitfoo" value="Guardar" />
										<a href="/notas/{{nota.id}}" class="btn btn-large">Cerrar</a>
										</div>
									</div>
									</form>

                        
                            

                        </div><!-- row end -->

                    
                    </div><!-- inner custom column end -->
                    
                </div><!-- doc body wrapper end -->
                
            
            </div><!-- row end -->





{% endblock %}
